@model TAT001.Entities.DOCUMENTO

@if (Model.DOCUMENTOREC != null)
{

    for (var i = 0; i < Model.DOCUMENTOREC.Count; i++)
    {
        <tr>
            <td>
                @Html.EditorFor(m => m.DOCUMENTOREC[i].NUM_DOC)
            </td>
            <td>
                @Html.EditorFor(m => m.DOCUMENTOREC[i].POS)
            </td>

            <td>
                @Html.EditorFor(m => m.DOCUMENTOREC[i].FECHAF)
            </td>

            <td>
                @Html.EditorFor(m => m.DOCUMENTOREC[i].MONTO_BASE)
            </td>

            <td>
                @Html.EditorFor(m => m.DOCUMENTOREC[i].PORC)
            </td>




            <td>
                @Html.EditorFor(m => m.DOCUMENTOREC[i].DOC_REF)
            </td>

            <td>
                @Html.EditorFor(m => m.DOCUMENTOREC[i].EJERCICIO)
            </td>
            <td>
                @Html.EditorFor(m => m.DOCUMENTOREC[i].ESTATUS)
            </td>

            <td>
                @Html.EditorFor(m => m.DOCUMENTOREC[i].MONTO_FIJO)
            </td>
            <td>
                @Html.EditorFor(m => m.DOCUMENTOREC[i].MONTO_GRS)
            </td>
            <td>
                @Html.EditorFor(m => m.DOCUMENTOREC[i].MONTO_NET)
            </td>
            <td>
                @Html.EditorFor(m => m.DOCUMENTOREC[i].PERIODO)
            </td>

        </tr>
    }
}