@model TAT001.Entities.TX_TNOTA
@{
    ViewBag.pagina_r = 824;
    ViewBag.carpeta_r = 500;
}
<h2>@ViewBag.Title</h2>
@if (TempData["Mensaje"] != null)
{
    <h4>@TempData["Mensaje"]</h4>
}
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <div class="row">
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <button id="btnSave" type="submit" value="Create" class="btn btn-default" style="float:right;"></button>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col s8">
            <div class="card-panel">
                <div class="row">
                    <div class="form-horizontal">
                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                        <div class="input-field col l12">
                            @Html.LabelFor(model => model.DESCRIPCION, htmlAttributes: new { @class = "control-label col-md-2", @id = "lblDescripcion" })
                            @Html.EditorFor(model => model.DESCRIPCION, new { htmlAttributes = new { @class = "form-control long-text-editor", @maxlength = "50", required = true } })
                            @Html.ValidationMessageFor(model => model.DESCRIPCION, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
}
@using TAT001.Entities;
@if (ViewBag.textos != null)
{
    foreach (TEXTO t in ViewBag.textos)
    {
        <script>
                try {
                    var elem = document.getElementById("@t.CAMPO_ID");
                    if (elem.nodeName != 'INPUT' & elem.nodeName != 'SELECT' & elem.nodeName != 'TABLE' & elem.nodeName != 'TEXTAREA')
                    elem.innerHTML = "@t.TEXTOS";
                } catch (e) {
                    try {
                        var divs = document.getElementsByClassName("@t.CAMPO_ID");
                        [].slice.call(divs).forEach(function (div) {
                            if (div.nodeName != 'INPUT' & div.nodeName != 'SELECT' & div.nodeName != 'TABLE' & div.nodeName != 'TEXTAREA')
                            div.innerHTML = "@t.TEXTOS";
                        });
                    }
                    catch (ee) {

                    }
                 }
        </script>
    }
}
