@{
    ViewBag.pagina_r = 221;
    ViewBag.carpeta_r = 200;
    //ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style>

    #carga {
        display: none;
    }
</style>
@using (Html.BeginForm("ArchivoA", "Excel", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    if (ViewBag.usuario.ID == "admin")
    {
        @*<input id="carga" type="file" />
            <a href="@Url.Action("ArchivoA", "Excel")" id="sube">
                <i class='material-icons red-text'>archive</i> ACTUALIZA ARCHIVO
            </a>*@
        <div class="row">
            <div class="row col s6 m6 l6">
                <div class="file-field input-field">
                    <div class="btn">
                        <span>Archivo</span>
                        <input accept=".xlsx, .xls" type="file" name="file">
                    </div>
                    <div class="file-path-wrapper">
                        <input class="file-path validate" type="text" placeholder="Archivo a cargar">
                    </div>
                </div>
            </div>
            <div class="row col s2 m2 l2">
                @*<a href="@Url.Action("ArchivoA", "Excel")" class="waves-effect waves-light btn btn-large">ACTUALIZAR</a>*@
                <input type="submit" value="ACTUALIZAR" class="btn btn-default" />
            </div>
            <a href="@Url.Action("Archivo", "Excel")">
                <i class='material-icons green-text'>archive</i>FORMATO ARCHIVO
            </a>
            @*//jemo inicio 4/07/2018*@
            <a href="@Url.Action("Index3", "Excel")">
                <i class='material-icons green-text'>archive</i>LISTADO CLIENTE PROVEEDOR
            </a>
        </div>
    }
    else
    {
        <div class="row">
            <a href="@Url.Action("Archivo", "Excel")">
                <i class='material-icons green-text'>archive</i>FORMATO ARCHIVO
            </a>
            @*//jemo inicio 4/07/2018*@
            <a href="@Url.Action("Index3", "Excel")">
                <i class='material-icons green-text'>archive</i>LISTADO CLIENTE PROVEEDOR
            </a>
            @*//jemo fin 4/07/2018*@
        </div>
    }
    @*<div class="row">
        <div class="row" style="height:10px;width:100%;">
            <div class="col l7 pink darken-1" style="height:10px;padding:0;"></div>
            <div class="col l3 pink darken-4" style="height:10px;padding:0;">
                <div class="col l3 pink darken-4" style="height:10px;padding:0;"></div>
                <div class="col l8 orange" style="height:10px;padding:0;"></div>
                <div class="col l1 red" style="height:10px;padding:0;"></div>
            </div>
            <div class="col l2 yellow" style="height:10px;padding:0;"></div>
        </div>
    </div>*@
}
<div class="card-panel">
@using (Html.BeginForm("Masiva", "Excel", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    int? contMas = ViewBag.contenidoMas;
    @Html.AntiForgeryToken()

    if (contMas == 1)
    {
        <div class="row">
            <div class="row col s10 m10 l10">
                <div class="file-field input-field">
                    <div class="btn red white-text">
                        <span>Seleccionar archivo</span>
                        <input type="file" name="file">
                    </div>
                    <div class="file-path-wrapper">
                        <span style='font-weight:bold; color:red; text-align:center;'></span><input type=text size=10 disabled value="ARCHIVOS CARGADOS" style='color:red;' id="disabled">
                    </div>
                </div>
            </div>
            <div class="row col s2 m2 l2">
                <input type="submit" value="Subir layout" class="btn-small red white-text" />
            </div>
        </div>
    }
    else
    {
        <div class="row">
            <div class="row col s10 m10 l10">
                <div class="file-field input-field">
                    <div class="btn">
                        <span>Seleccionar archivo</span>
                        <input type="file" name="file">
                    </div>
                    <div class="file-path-wrapper">
                        <input class="file-path validate" type="text" placeholder="Archivo a subir">
                    </div>
                </div>
            </div>
            <div class="row col s2 m2 l2">
                <input type="submit" value="Subir layout" class="btn-small" />
            </div>
        </div>
    }
}
@using (Html.BeginForm("Soportes", "Excel", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    int? cont = ViewBag.contenidoSop;

    if (cont == 1)
    {
        <div class="row">
            <div class="row col s10 m10 l10">
                <div class="file-field input-field">
                    <div class="btn red white-text">
                        <span>Seleccionar archivo</span>
                        <input id="file2" type="file" multiple name="file2">
                    </div>
                    <div class="file-path-wrapper">
                        <span style='font-weight:bold; color:red; text-align:center;'></span><input type=text size=10 disabled value="ARCHIVOS CARGADOS" style='color:red;' id="disabled">
                    </div>
                </div>
            </div>
            <div class="row col s2 m2 l2">
                <input type="submit" value="Subir soporte" class="btn btn-default btn-large red white-text" />
            </div>
        </div>
    }
    else if (cont == 0 | cont == null)
    {
        <div class="row">
            <div class="row col s10 m10 l10">
                <div class="file-field input-field">
                    <div class="btn">
                        <span>Seleccionar archivo</span>
                        <input id="file2" type="file" multiple name="file2">
                    </div>
                    <div class="file-path-wrapper">
                        <input class="file-path validate" type="text" placeholder="Archivo a subir">
                    </div>
                </div>
            </div>
            <div class="row col s2 m2 l2">
                <input type="submit" value="Subir soporte" class="btn btn-default btn-large" />
            </div>
        </div>
    }
}
</div>
<script type="text/javascript">
    $(function () {
        $("#sube").on('click', function (e) {
            e.preventDefault();
            $("#carga:hidden").trigger('click');
        });
    });
</script>
