@model TAT001.Entities.TEXTOCV

@{
    ViewBag.pagina_r = 714;
    ViewBag.carpeta_r = 500;
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@Scripts.Render("~/bundles/jquery")
@Scripts.Render("~/bundles/jqueryval")


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <div class="row">
        <div class="row right">
            <div class="col l12 m12 right">
                <input type="submit" value="GUARDAR" id="lblGuardar" class="btn btn-default" />
            </div>
        </div>
    </div>

    @*<div class="row" style="height:10px;width:100%;">
        <div class="col l7 pink darken-1" style="height:10px;padding:0;"></div>
        <div class="col l3 pink darken-4" style="height:10px;padding:0;">
            <div class="col l3 pink darken-4" style="height:10px;padding:0;"></div>
            <div class="col l8 orange" style="height:10px;padding:0;"></div>
            <div class="col l1 red" style="height:10px;padding:0;"></div>
        </div>
        <div class="col l2 yellow" style="height:10px;padding:0;"></div>
    </div>*@

    <div class="form-horizontal">
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.ID)
        <div class="card-panel">
            <div class="row">
                <div class="col s6 m6 l6 col offset-s3 offset-m3 offset-l3">
                    <div class="col l12 m12 s12">
                        <div class="input-field col l10 m10" style="margin-bottom:0;">
                            @Html.DropDownList("SPRAS_ID", null, htmlAttributes: new { @id = "sel-spr" })
                            @Html.LabelFor(model => model.SPRAS_ID, "SPRAS_ID", htmlAttributes: new { @class = "control-label col-md-2", @id = "lbl_idioma" })
                            @Html.ValidationMessageFor(model => model.SPRAS_ID, "", new { @class = "text-danger" })
                        </div>
                        <script>
                            var elem = document.getElementById('sel-spr');
                            var options = [];
                            var instance = M.FormSelect.init(elem, options);
                        </script>

                        <div class="input-field col l10 m10" style="margin-bottom:0;">
                            @Html.EditorFor(model => model.CAMPO, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
                            @Html.LabelFor(model => model.CAMPO, htmlAttributes: new { @class = "control-label col-md-2", @id = "lbl_campo" })
                        </div>
                        <div class="input-field col l10 m10" style="margin-bottom:0;">
                            @Html.EditorFor(model => model.TEXTO, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.LabelFor(model => model.TEXTO, htmlAttributes: new { @class = "control-label col-md-2", @id = "lbl_texto" })
                            @Html.ValidationMessageFor(model => model.TEXTO, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index", null, new {id="lblRegresar" })
</div>




