@model TAT001.Entities.TCAMBIO
@{
    //ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.pagina_r = 832;
    ViewBag.carpeta_r = 500;
}
<div class="col s12 l12 right-align">
    @Html.ActionLink("Edit", "Edit", new { fcur = Model.FCURR, tcur = Model.TCURR, gd = Model.GDATU, uku = Model.UKURS }, htmlAttributes: new { @class = "btn btn-default", id = "lblEdi" })
</div>
        <div class="card-panel">
            <div class="row">
                    <div class="col s6 m6 l6">
                        <div class="col l12 m12 s12">
                            <div class="input-field col l10 m10" style="margin-bottom:0;">
                                @Html.EditorFor(model => model.FCURR, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
                                @Html.LabelFor(model => model.FCURR, htmlAttributes: new { @class = "control-label col-md-2", @id = "thFcurr" })
                            </div>
                            <div class="input-field col l10 m10" style="margin-bottom:0;">
                                @Html.EditorFor(model => model.TCURR, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
                                @Html.LabelFor(model => model.TCURR, htmlAttributes: new { @class = "control-label col-md-2", @id = "thTcurr" })
                            </div>
                        </div>
                    </div>
                    <div class="col s6 m6 l6">
                        <div class="col l12 m12 s12">
                            <div class="input-field col l10 m10" style="margin-bottom:0;">
                                @Html.EditorFor(model => model.GDATU, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
                                @Html.LabelFor(model => model.GDATU, htmlAttributes: new { @class = "control-label col-md-2 active", @id = "thGdatu" })
                            </div>
                            <div class="input-field col l10 m10" style="margin-bottom:0;">
                                @Html.EditorFor(model => model.UKURS, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
                                @Html.LabelFor(model => model.UKURS, htmlAttributes: new { @class = "control-label col-md-2", @id = "thUkurss" })
                            </div>
                        </div>
                    </div>
            </div>
        </div>
        <div class="col s12">
            @Html.ActionLink("Back to List", "Index", null, new { id = "lblRegresar" })
        </div>
