@model IEnumerable<TAT001.Entities.CLIENTE>
@{
    ViewBag.pagina_r = 631;
    ViewBag.carpeta_r = 500;
    //ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="card-panel">
    <div class="row" style="margin-bottom:0;">
        <div class="input-field col s3 m3 l3">
            <select id="selecc">
                <option value="10" selected>10</option>
                <option value="25">25</option>
                <option value="50">50</option>
                <option value="100">100</option>
            </select>
            <label id="lbl_length">Ver por página</label>
        </div>
        <div class="input-field col s5 m3 l3 offset-l6 offset-m6 offset-s4">
            <input type="text" class="global_filter" id="global_filter">
            <label for="global_filter" id="lbl_search">Buscar</label>
        </div>
    </div>
    <script>
        var elem = document.querySelector('select');
        var options = [];
        var instance = M.FormSelect.init(elem, options);
    </script>
    <script src="//code.jquery.com/jquery-1.12.4.js"></script>
    <script src="//cdn.datatables.net/1.10.16/js/jquery.dataTables.min.js"></script>
    <script src="//cdn.datatables.net/1.10.16/js/dataTables.material.min.js"></script>
    <link href="~/Content/dataTable.css" rel="stylesheet" />
    <link href="//cdn.datatables.net/1.10.16/css/dataTables.material.min.css" rel="stylesheet" />

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()
        @*<div class="row" style="height:10px;width:100%;">
                <div class="col l7 pink darken-1" style="height:10px;padding:0;"></div>
                <div class="col l3 pink darken-4" style="height:10px;padding:0;">
                    <div class="col l3 pink darken-4" style="height:10px;padding:0;"></div>
                    <div class="col l8 orange" style="height:10px;padding:0;"></div>
                    <div class="col l1 red" style="height:10px;padding:0;"></div>
                </div>
                <div class="col l2 yellow" style="height:10px;padding:0;"></div>
            </div>*@

    <table class="table mdl-data-table striped" id="table" style="width:100%;">
        <thead>
            <tr class="header" @*style="background-color:#CCCCCC"*@>
                <th>
                    @Html.DisplayNameFor(model => model.KUNNR)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.NAME1)
                </th>
                @*<th>
                        @Html.DisplayNameFor(model => model.STCD1)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.STCD2)
                    </th>
                <th>
                    @Html.DisplayNameFor(model => model.REGION)
                </th>*@
                <th>
                    @Html.DisplayNameFor(model => model.SUBREGION)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.LAND)
                </th>
                @*<th>
                    @Html.DisplayNameFor(model => model.ORT01)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.STRAS_GP)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.PSTLZ)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.CONTAC)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.CONT_EMAIL)
                </th>*@
                <th>
                    @Html.DisplayNameFor(model => model.PARVW)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.PAYER)
                </th>
                @*<th>
                    @Html.DisplayNameFor(model => model.GRUPO)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.SPRAS)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.ACTIVO)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.BDESCRIPCION)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.BANNER)
                </th>*@
                <th>
                    @Html.DisplayNameFor(model => model.CANAL)
                </th>
                @*<th>
                    @Html.DisplayNameFor(model => model.BZIRK)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.KONDA)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.VKGRP)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.VKBUR)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.BANNERG)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.PAI.SPRAS)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.TCLIENTE.ID)
                </th>*@
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.KUNNR)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.NAME1)
                </td>
                @*<td>
                        @Html.DisplayFor(modelItem => item.STCD1)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.STCD2)
                    </td>
                <td>
                    @Html.DisplayFor(modelItem => item.REGION)
                </td>*@
                <td>
                    @Html.DisplayFor(modelItem => item.SUBREGION)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PAI.LANDX)
                </td>
                @*<td>
                    @Html.DisplayFor(modelItem => item.REGIO)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ORT01)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.STRAS_GP)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PSTLZ)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CONTAC)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CONT_EMAIL)
                </td>*@
                <td>
                    @Html.DisplayFor(modelItem => item.PARVW)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PAYER)
                </td>
                @*<td>
                    @Html.DisplayFor(modelItem => item.GRUPO)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.SPRAS)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ACTIVO)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.BDESCRIPCION)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.BANNER)
                </td>*@
                <td>
                    @Html.DisplayFor(modelItem => item.CANAL)
                </td>
                @*<td>
                    @Html.DisplayFor(modelItem => item.BZIRK)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.KONDA)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.VKGRP)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.VKBUR)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.BANNERG)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PAI.SPRAS)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TCLIENTE.ID)
                </td>*@
                <td>
                    <a href="@Url.Action("Edit", "Clientes", new { vko = item.VKORG, vtw = item.VTWEG, spa = item.SPART, kun = item.KUNNR })">
                        <i class='material-icons green-text'>edit</i>
                    </a>
                    <a href="@Url.Action("Details", "Clientes", new { vko = item.VKORG, vtw = item.VTWEG, spa = item.SPART, kun = item.KUNNR })">
                        <i class='material-icons blue-text'>search</i>
                    </a>
                    <a data-form-method="post" href="@Url.Action("Index", "Contacto", new { vko = item.VKORG, vtw = item.VTWEG, kun = item.KUNNR, spa = item.SPART })">
                        <i class='material-icons orange-text'>contacts</i>
                    </a>
                    <a data-form-method="post" href="@Url.Action("Index", "Impuesto", new { vko = item.VKORG, vtw = item.VTWEG, kun = item.KUNNR, spa = item.SPART })">
                        <i class='material-icons yellow-text'>monetization_on</i>
                    </a>
                </td>
            </tr>
    }
        </tbody>
        <tfoot>
            <tr class="header" @*style="background-color:#CCCCCC"*@>
                <th>
                    @Html.DisplayNameFor(model => model.KUNNR)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.NAME1)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.SUBREGION)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.LAND)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.PARVW)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.PAYER)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.CANAL)
                </th>
                <th></th>
            </tr>
        </tfoot>
    </table>
    }
</div>
<script type="text/javascript">
    $("a[data-form-method='post']").click(function (event) {
        event.preventDefault();
        var element = $(this);
        var action = element.attr("href");
        element.closest("form").each(function () {
            var form = $(this);
            form.attr("action", action);
            form.submit();
        });
    });
</script>

<script>
    //$(document).ready(function () {
    //    var i = 0;
    //    $('#table tfoot th').each(function () {
    //        i++;
    //        var title = $(this).text();
    //        $(this).html('<input type="text" id="lbl_search' + i + '" />');
    //    });
    //    var table = $('#table').DataTable({
    //        language: {
    //            "url": "//cdn.datatables.net/plug-ins/9dcbecd42ad/i18n/Spanish.json"
    //        },
    //        columnDefs: [
    //            {
    //                targets: [0, 1, 2],
    //                className: 'mdl-data-table__cell--non-numeric'
    //            }
    //        ]
    //    });
    //    table.columns().every(function () {
    //        var that = this;
    //        $('input', this.footer()).on('keyup change', function () {
    //            if (that.search() !== this.value) {
    //                that
    //                    .search(this.value)
    //                    .draw();
    //            }
    //        });
    //    })
    //    var a = $('#selecc').val();
    //    table.page.len(a).draw();
    //    $('#selecc').on('change', function () {
    //        table.page.len(this.value).draw();
    //    });

    //    $('input.global_filter').on('keyup click', function () {
    //        filterGlobal();
    //    });
    //});

    $(document).ready(function () {
        var table = $('#table').DataTable({
            scrollX: "50vh",
            scrollY: "50vh",
            scrollCollapse: true,
            language: {
                "url": "../Scripts/lang/@Session["spras"].ToString()"+".json"
            },
            order: [[0, "asc"]],
            initComplete: function () {
                this.api().columns().every(function () {
                    var column = this;
                    var select = $('<select style="display:initial;" class="browser-default"><option value=""></option></select>')
                    //var div = $('<div class="input-field col s12"></div><script>var elem = document.querySelectorAll("select");var options = [];var instance = M.FormSelect.init(elem, options);')
                    //var select = $('<select style="display:initial;" multiple><option value=""></option></select>')
                        .appendTo($(column.footer()).empty())
                        .on('change', function () {
                            var val = $.fn.dataTable.util.escapeRegex(
                                $(this).val()
                            );
                            column
                                .search(val ? '^' + val + '$' : '', true, false)
                                .draw();
                            
                        });
                    column.cells('', column[0]).render('display').sort().unique().each(function (d, j) {
                        var val = $('<div/>').html(d).text();
                        select.append('<option value="' + val + '">' + val + '</option>');
                    });
                });
            },
            pagingType: "simple"
        });

        var a = $('#selecc').val();
        table.page.len(a).draw();
        $('#selecc').on('change', function () {
            table.page.len(this.value).draw();
        });

        $('input.global_filter').on('keyup click', function () {
            filterGlobal();
        });

        $('#table tbody').on('click', 'td.details-control', function () {
            var tr = $(this).closest('tr');
            var row = table.row(tr);

            if (row.child.isShown()) {
                // This row is already open - close it
                row.child.hide();
                tr.removeClass('shown');
            }
            else {
                // Open this row
                var child = format(row.data(), row, tr);
                if (child != undefined) {
                }
            }
        });
    });
    function filterGlobal() {
        $('#table').DataTable().search(
            $('#global_filter').val()).draw();
    }
</script>
<style>
    .dataTables_length {
        display: none;
    }

    .dataTables_filter {
        display: none;
    }

    .dataTables_scrollHeadInner, .mdl-data-table {
        width: 100%;
    }
</style>
