@using PagedList.Mvc;
@model TAT001.Models.ClienteViewModel
@{
ViewBag.pagina_r = 631;
ViewBag.carpeta_r = 500;
Layout = "~/Views/Shared/_Layout.cshtml";
}
<link href="~/Content/PagedList.css" rel="stylesheet" />
<div class="row">
    <div class="col s12 right-align">
        <a class="btn-small" href="@Url.Action("Carga")">Cargar Clientes</a>
    </div>
</div>
<div class="card-panel">
 @using (Html.BeginForm())
    {
    <div class="row" style="margin-bottom:0;">
        <div class="input-field col s3 m3 l3">
            @Html.DropDownListFor(model => model.numRegistros, Model.pageSizes, "")
            <label id="lbl_length"></label>
        </div>
        <div class="input-field col s5 m3 l3 offset-l6 offset-m6 offset-s4">
            @Html.TextBoxFor(model => model.buscar, new { @class = "global_filter", @id= "global_filter", @maxlength = 50 })
            <label for="global_filter" id="lbl_search">Buscar</label>
        </div>
    </div>
        <table class="table mdl-data-table striped" id="table" style="width:100%;">
            <thead>
                <tr class="header">
                    <th>
                        @Html.ActionLink("KUNNR", "Index", new { sortOrder = "KUNNR", ordenActual = Model.ordenActual, numRegistros= Model.numRegistros })
                    </th>
                    <th>
                        @Html.ActionLink("NAME1", "Index", new { sortOrder = "NAME1", ordenActual = Model.ordenActual, numRegistros = Model.numRegistros })
                    </th>
                    <th>
                        @Html.ActionLink("SUBREGION", "Index", new { sortOrder = "SUBREGION", ordenActual = Model.ordenActual, numRegistros = Model.numRegistros })
                    </th>
                    <th>
                        @Html.ActionLink("LAND", "Index", new { sortOrder = "LAND", ordenActual = Model.ordenActual, numRegistros = Model.numRegistros })
                    </th>
                    <th>
                        @Html.ActionLink("PARVW", "Index", new { sortOrder = "PARVW", ordenActual = Model.ordenActual, numRegistros = Model.numRegistros })
                    </th>
                    <th>
                        @Html.ActionLink("PAYER", "Index", new { sortOrder = "PAYER", ordenActual = Model.ordenActual, numRegistros = Model.numRegistros })
                    </th>
                    <th>
                        @Html.ActionLink("CANAL", "Index", new { sortOrder = "CANAL", ordenActual = Model.ordenActual, numRegistros = Model.numRegistros })
                    </th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.clientes)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.KUNNR)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.NAME1)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.SUBREGION)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.PAI.LANDX)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.PARVW)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.PAYER)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.CANAL)
                        </td>
                        <td>
                            <a href="@Url.Action(" Edit", "Clientes", new { vko = item.VKORG, vtw = item.VTWEG, spa = item.SPART, kun = item.KUNNR })">
                                <i class='material-icons green-text'>edit</i>
                            </a>
                            <a href="@Url.Action(" Details", "Clientes", new { vko = item.VKORG, vtw = item.VTWEG, spa = item.SPART, kun = item.KUNNR })">
                                <i class='material-icons blue-text'>search</i>
                            </a>
                            <a data-form-method="post" href="@Url.Action(" Index", "Contacto", new { vko = item.VKORG, vtw = item.VTWEG, kun = item.KUNNR, spa = item.SPART })">
                                <i class='material-icons orange-text'>contacts</i>
                            </a>
                            <a data-form-method="post" href="@Url.Action(" Index", "Iimpuesto", new { vko = item.VKORG, vtw = item.VTWEG, kun = item.KUNNR, spa = item.SPART })">
                                <i class='material-icons yellow-text'>monetization_on</i>
                            </a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
        <div id='Paging' style="text-align: center">
            Page @(Model.clientes.PageCount < Model.clientes.PageNumber ? 0 : Model.clientes.PageNumber)
            of @Model.clientes.PageCount

            @Html.PagedListPager(Model.clientes, page => Url.Action("Index", new { page= page, numRegistros=Model.numRegistros }))
        </div>
    }

</div>

<script type="text/javascript" src="~/Scripts/fnCommon.js"></script>
<script>

    //---- Inicializador de componentes Materialize----
    fnCommon.materializeInit('select');

    $('#numRegistros').change(function () {
        window.location = '@Url.Content("~")Clientes/Index?numRegistros=' + $('#numRegistros').val();
    });
    $('input.global_filter').keyup(function () {
        var buscar = $('input.global_filter').val();
        if (buscar != "" && buscar.length > 2) {
            window.location = '@Url.Content("~")Clientes/Index?numRegistros=' + $('#numRegistros').val() + '&&buscar=' + $('input.global_filter').val();
        }
        });
</script>
