@using PagedList.Mvc
@model TAT001.Models.ClienteViewModel
<link href="~/Content/PagedList.css" rel="stylesheet" />
<table class="table mdl-data-table striped" id="table" style="width:100%;">
    <thead>
        <tr class="header">
            <th>
                @Html.ActionLink("KUNNR", "List", new { colOrden = "KUNNR", ordenActual = Model.ordenActual, numRegistros = Model.numRegistros })
            </th>
            <th>
                @Html.ActionLink("NAME1", "List", new { colOrden = "NAME1", ordenActual = Model.ordenActual, numRegistros = Model.numRegistros })
            </th>
            <th>
                @Html.ActionLink("SUBREGION", "List", new { colOrden = "SUBREGION", ordenActual = Model.ordenActual, numRegistros = Model.numRegistros })
            </th>
            <th>
                @Html.ActionLink("LAND", "List", new { colOrden = "LAND", ordenActual = Model.ordenActual, numRegistros = Model.numRegistros })
            </th>
            <th>
                @Html.ActionLink("PARVW", "List", new { colOrden = "PARVW", ordenActual = Model.ordenActual, numRegistros = Model.numRegistros })
            </th>
            <th>
                @Html.ActionLink("PAYER", "List", new { colOrden = "PAYER", ordenActual = Model.ordenActual, numRegistros = Model.numRegistros })
            </th>
            <th>
                @Html.ActionLink("CANAL", "List", new { colOrden = "CANAL", ordenActual = Model.ordenActual, numRegistros = Model.numRegistros })
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.clientes)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.KUNNR)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.NAME1)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.SUBREGION)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PAI.LANDX)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PARVW)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PAYER)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CANAL)
                </td>
                <td>
                    <a href="@Url.Action(" Edit", "Clientes", new { vko = item.VKORG, vtw = item.VTWEG, spa = item.SPART, kun = item.KUNNR })">
                        <i class='material-icons green-text'>edit</i>
                    </a>
                    <a href="@Url.Action(" Details", "Clientes", new { vko = item.VKORG, vtw = item.VTWEG, spa = item.SPART, kun = item.KUNNR })">
                        <i class='material-icons blue-text'>search</i>
                    </a>
                    <a data-form-method="post" href="@Url.Action(" Index", "Contacto", new { vko = item.VKORG, vtw = item.VTWEG, kun = item.KUNNR, spa = item.SPART })">
                        <i class='material-icons orange-text'>contacts</i>
                    </a>
                    <a data-form-method="post" href="@Url.Action(" Index", "Iimpuesto", new { vko = item.VKORG, vtw = item.VTWEG, kun = item.KUNNR, spa = item.SPART })">
                        <i class='material-icons yellow-text'>monetization_on</i>
                    </a>
                </td>
            </tr>
        }
    </tbody>
</table>
<div id='Paging' style="text-align: center">
     @(Model.clientes.PageCount < Model.clientes.PageNumber ? 0 : Model.clientes.PageNumber)
    - @Model.clientes.PageCount

    @Html.PagedListPager(Model.clientes, page => Url.Action("List", new { pagina = page, numRegistros = Model.numRegistros }))
</div>
<script>
    //-----Sort
    function sort() {
        var sortLink = $('.header>th>a');
        for (var i = 0; i < sortLink.length; i++) {
            var url = sortLink.get(i).getAttribute("href");
            var id = 'link_h' + i;
            if (url) {
                sortLink.get(i).setAttribute("id", id);
                sortLink.get(i).setAttribute("url", url);
                $('#' + id).click(function (me) {
                    fnCommon.showProcess(true);
                    $.ajax({
                        url: me.toElement.getAttribute('url'),
                        success: function (resultView) {
                            fnCommon.showProcess(false);
                            $('#list').html(resultView);
                            sort();
                        }
                    });
                });
            }
            sortLink.get(i).removeAttribute("href");
        }
    }
    sort();
</script>