@model TAT001.Entities.TALL

@{
    ViewBag.pagina_r = 882;
    ViewBag.carpeta_r = 500;
    //ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";

    List<TAT001.Entities.SPRA> spras = ViewBag.SPRAS as List<TAT001.Entities.SPRA>;
    List<TAT001.Entities.TALLT> lstTXT = new List<TAT001.Entities.TALLT>();
    List<TAT001.Entities.SPRA> spras2 = new List<TAT001.Entities.SPRA>();
    foreach (var item in Model.TALLTs)
    {
        TAT001.Entities.TALLT txt = new TAT001.Entities.TALLT();
        txt.SPRAS_ID = item.SPRAS_ID;
        txt.TALL_ID = item.TALL_ID;
        txt.TXT50 = item.TXT50;
        lstTXT.Add(txt);
    }
}
<div class="row">
    <div class="col s12 right-align">
        <a href="@Url.Action("Edit", "TALLs", new { id = Model.ID })" id="lblEditar" class="btn btn-default">Editar</a>
    </div>
</div>

<div class="row">
    <div class="col s6 ">
        <div class="card-panel">
            <div class="row">
                <div class="input-field col s12">
                    @Html.LabelFor(model => model.ID, htmlAttributes: new { @class = "control-label col-md-2", @id = "lblID" })
                    @Html.EditorFor(model => model.ID, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
                    @Html.ValidationMessageFor(model => model.ID, "", new { @class = "text-danger" })
                </div>
                <div class="input-field col s12">
                    @Html.LabelFor(model => model.DESCRIPCION, htmlAttributes: new { @class = "control-label col-md-2", @id = "lblDes" })
                    @Html.EditorFor(model => model.DESCRIPCION, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
                    @Html.ValidationMessageFor(model => model.DESCRIPCION, "", new { @class = "text-danger" })
                </div>
                <div class="input-field col s12">
                    @Html.LabelFor(model => model.GALL_ID, htmlAttributes: new { @class = "control-label col-md-2", @id = "lblGall" })
                    @Html.EditorFor(model => model.GALL_ID, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
                    @Html.ValidationMessageFor(model => model.GALL_ID, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>
    </div>
    <div class="col s6 ">
        <div class="card-panel">
            <div class="row">
                @foreach (var item in Model.TALLTs)
                {
                    <div class=" input-field col s12">
                        @Html.EditorFor(modelItem => item.TXT50, null, item.TXT50, new { htmlAttributes = new { @id = "A" + item.SPRAS_ID, @readonly = "readonly" } })
                        <label for="@("A"+item.TXT50)">@item.SPRA.DESCRIPCION</label>
                    </div>
                }
                @foreach (var item in spras2)
                {
                    <div class=" input-field col s12 pr1">
                        @Html.Editor("Editor", null, "txval", new { htmlAttributes = new { @readonly = "readonly" } })
                        <label id="lblDes" for="Editor">@item.DESCRIPCION</label>
                    </div>
                }
            </div>

            <div class="right">
                @if ((bool)Model.ACTIVO == true)
                {
                    <i class='material-icons green-text'>check</i>}
                else
                {
                    <i class='material-icons red-text'>clear</i>}
                @Html.LabelFor(model => model.ACTIVO, htmlAttributes: new { @class = "control-label col-md-2", @id = "lblActivo" })

            </div>
            <br />
            <br />
        </div>
    </div>
</div>
<p>
    @Html.ActionLink("Regresar", "Index", null, new { id = "lblRegresar" })
</p>
