@model TAT001.Entities.TALL

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.pagina_r = 502;
    ViewBag.carpeta_r = 500;
}

<h2>Details</h2>

<div>
    <h4>TALL</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.DESCRIPCION)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DESCRIPCION)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FECHAI)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FECHAI)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FECHAF)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FECHAF)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ACTIVO)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ACTIVO)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.GALL.DESCRIPCION)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.GALL.DESCRIPCION)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
