@model TAT001.Entities.CONSOPORTE

@{
    ViewBag.pagina_r = 843;
    ViewBag.carpeta_r = 500;
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="row">
    <div class="col s12 right-align">
        <a href="@Url.Action("Edit", "Consoporte",new { tsol = Model.TSOL_ID, tsopo = Model.TSOPORTE_ID })" id="btnEditar" class="btn btn-default">Editar</a>
    </div>
</div>
<div class="row">
    @using (Html.BeginForm())
    {
    <div class="form-horizontal">
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })


        <div class="col 12 s12">
            <div class="card-panel">
                <div class="row">
                    <div class="row">
                        <div class="input-field col l10 m10" style="margin-bottom:0;">
                            @Html.EditorFor(model => model.TSOL.DESCRIPCION, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
                            @Html.LabelFor(model => model.TSOL.DESCRIPCION, htmlAttributes: new { @class = "control-label col-md-2", @id = "lblTipoSol" })
                        </div>

                        <div class="input-field col l10 m10" style="margin-bottom:0;">
                            @Html.EditorFor(model => model.TSOPORTE.DESCRIPCION, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
                            @Html.LabelFor(model => model.TSOPORTE.DESCRIPCION, htmlAttributes: new { @class = "control-label col-md-2", @id = "lblTipoSop" })
                        </div>

                        <div class="col l10 m10" >
                            @if ((bool)Model.ACTIVO == true)
                            {
                                <i class='material-icons green-text'>check</i>}
                            else
                            {
                                <i class='material-icons red-text'>clear</i>}
                            @Html.LabelFor(model => model.ACTIVO, htmlAttributes: new { @class = "control-label col-md-10", @id = "lblObliga" })
                        </div>
                    </div>
                </div>
            </div>
        </div>
        </div>
        <br />
        }
    </div>

<div class="col s12">
    <a id="btnRegresar" href="@Url.Action("Index")"></a>
    </div>
