@model TAT001.Models.CartaV

@{
    ViewBag.pagina_r = 232;
    ViewBag.carpeta_r = 100;
    ViewBag.Title = "";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="row">
        <div class="row right">
            <div class="col l12 m12 right">
                <input type="submit" value="Imprimir" class="btn btn-default" onclick="timer()" />
            </div>
        </div>
    </div>

    <div class="row">
        <div class="card-panel">
            <div class="row">
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                @Html.HiddenFor(model => model.num_doc)
                <div class="row">
                    <div class="col l3 m3 s6 offset-l9">
                        <div class="col l2 s2">
                            <label>
                                <input type="checkbox" name="company_x" value="true" id="company_x" @Html.Raw((Model.company_x) ? "checked=\"checked\"" : "") />
                                <span style="height:0"></span>
                            </label>
                        </div>
                        <div class="input-field col l10 m10" style="margin-bottom:0;">
                            @Html.EditorFor(model => model.company, new { htmlAttributes = new { @class = "form-control", @style = "height:auto;" } })
                            @Html.LabelFor(model => model.company, htmlAttributes: new { @class = "control-label col-md-2", @id = "lbl_company" })
                        </div>
                    </div>
                    <div class="col l3 m3 s6 offset-l9">
                        <div class="col l2 s2">
                            <label>
                                <input type="checkbox" name="taxid_x" value="true" id="taxid_x" @Html.Raw((Model.taxid_x) ? "checked=\"checked\"" : "") />
                                <span style="height:0"></span>
                            </label>
                        </div>
                        <div class="input-field col l10 m10" style="margin-bottom:0;">
                            @Html.EditorFor(model => model.taxid, new { htmlAttributes = new { @class = "form-control", @style = "height:auto; " } })
                            @Html.LabelFor(model => model.taxid, htmlAttributes: new { @class = "control-label col-md-2", @id = "lbl_tax" })
                        </div>
                    </div>
                </div>
                <div class="row" style="height:10px;width:100%;">
                    <div class="col l7 pink darken-1" style="height:10px;padding:0;"></div>
                    <div class="col l3 pink darken-4" style="height:10px;padding:0;">
                        <div class="col l3 pink darken-4" style="height:10px;padding:0;"></div>
                        <div class="col l8 orange" style="height:10px;padding:0;"></div>
                        <div class="col l1 red" style="height:10px;padding:0;"></div>
                    </div>
                    <div class="col l2 yellow" style="height:10px;padding:0;"></div>
                </div>
                <div class="row">
                    <div class="col s6 m6 l6">
                        <div class="row">
                            <div class="col l12 m12 s12">
                                <div class="col l2 s2">
                                    <label>
                                        <input type="checkbox" name="concepto_x" value="true" id="concepto_x" @Html.Raw((Model.concepto_x) ? "checked=\"checked\"" : "") />
                                        <span style="height:0"></span>
                                    </label>
                                </div>
                                <div class="input-field col l10 m10" style="margin-bottom:0;">
                                    @Html.EditorFor(model => model.concepto, new { htmlAttributes = new { @class = "form-control", @style = "height:auto;" } })
                                    @Html.LabelFor(model => model.concepto, htmlAttributes: new { @class = "control-label col-md-2", @id = "lbl_concepto" })
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col l8 m8 s12">
                                <div class="col l2 s2">
                                    <label>
                                        <input type="checkbox" name="payerNom_x" value="true" id="payerNom_x" @Html.Raw((Model.payerNom_x) ? "checked=\"checked\"" : "") />
                                        <span style="height:0"></span>
                                    </label>
                                </div>
                                <div class="input-field col l10 m10" style="margin-bottom:0;">
                                    @Html.EditorFor(model => model.payerNom, new { htmlAttributes = new { @class = "form-control", @style = "height:auto;" } })
                                    @Html.LabelFor(model => model.payerNom, htmlAttributes: new { @class = "control-label col-md-2", @id = "lbl_payN" })
                                </div>
                                <div class="col l2 s2">
                                    <label>
                                        <input type="checkbox" name="cliente_x" value="true" id="cliente_x" @Html.Raw((Model.cliente_x) ? "checked=\"checked\"" : "") />
                                        <span style="height:0"></span>
                                    </label>
                                </div>
                                <div class="input-field col l10 m10" style="margin-bottom:0;">
                                    @Html.EditorFor(model => model.cliente, new { htmlAttributes = new { @class = "form-control", @style = "height:auto;" } })
                                    @Html.LabelFor(model => model.cliente, htmlAttributes: new { @class = "control-label col-md-2", @id = "lbl_cliente" })
                                </div>
                                <div class="col l2 s2">
                                    <label>
                                        <input type="checkbox" name="puesto_x" value="true" id="puesto_x" @Html.Raw((Model.puesto_x) ? "checked=\"checked\"" : "") />
                                        <span style="height:0"></span>
                                    </label>
                                </div>
                                <div class="input-field col l10 m10" style="margin-bottom:0;">
                                    @Html.EditorFor(model => model.puesto, new { htmlAttributes = new { @class = "form-control", @style = "height:auto;" } })
                                    @Html.LabelFor(model => model.puesto, htmlAttributes: new { @class = "control-label col-md-2", @id = "lbl_puesto" })
                                </div>
                                <div class="col l2 s2">
                                    <label>
                                        <input type="checkbox" name="direccion_x" value="true" id="direccion_x" @Html.Raw((Model.direccion_x) ? "checked=\"checked\"" : "") />
                                        <span style="height:0"></span>
                                    </label>
                                </div>
                                <div class="input-field col l10 m10" style="margin-bottom:0;">
                                    @Html.EditorFor(model => model.direccion, new { htmlAttributes = new { @class = "form-control", @style = "height:auto;" } })
                                    @Html.LabelFor(model => model.direccion, htmlAttributes: new { @class = "control-label col-md-2", @id = "lbl_direccion" })
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col s6 m6 l6">
                        <div class="col l8 m8 s8 offset-l4">
                            <div class="col l2 s2 offset-l2">
                                <label>
                                    <input type="checkbox" name="folio_x" value="true" id="folio_x" @Html.Raw((Model.folio_x) ? "checked=\"checked\"" : "") />
                                    <span style="height:0"></span>
                                </label>
                            </div>
                            <div class="input-field col l8 m8" style="margin-bottom:0;">
                                @Html.EditorFor(model => model.folio, new { htmlAttributes = new { @class = "form-control", @style = "height:auto;" } })
                                @Html.LabelFor(model => model.folio, htmlAttributes: new { @class = "control-label col-md-2", @id = "lbl_folio" })
                            </div>
                            <div class="col l2 s2">
                                <label>
                                    <input type="checkbox" name="lugarFech_x" value="true" id="lugarFech_x" @Html.Raw((Model.lugarFech_x) ? "checked=\"checked\"" : "") />
                                    <span style="height:0"></span>
                                </label>
                            </div>
                            <div class="input-field col l10 m10" style="margin-bottom:0;">
                                @Html.EditorFor(model => model.lugarFech, new { htmlAttributes = new { @class = "form-control", @style = "height:auto;", @readonly = "readonly" } })
                                @Html.LabelFor(model => model.lugarFech, "Fecha", htmlAttributes: new { @class = "control-label col-md-2", @id = "lbl_fecha" })
                            </div>
                            <div class="col l2 s2">
                                <label>
                                    <input type="checkbox" name="lugar_x" value="true" id="lugar_x" @Html.Raw((Model.lugar_x) ? "checked=\"checked\"" : "") />
                                    <span style="height:0"></span>
                                </label>
                            </div>
                            <div class="input-field col l10 m10" style="margin-bottom:0;">
                                @Html.EditorFor(model => model.lugar, new { htmlAttributes = new { @class = "form-control", @style = "height:auto;" } })
                                @Html.LabelFor(model => model.lugar, htmlAttributes: new { @class = "control-label col-md-2", @id = "lbl_lugar" })
                            </div>

                            <div class="col l2 s2">
                                <label>
                                    <input type="checkbox" name="payerId_x" value="true" id="payerId_x" @Html.Raw((Model.payerId_x) ? "checked=\"checked\"" : "") />
                                    <span style="height:0"></span>
                                </label>
                            </div>
                            <div class="input-field col l10 m10" style="margin-bottom:0;">
                                @Html.EditorFor(model => model.payerId, new { htmlAttributes = new { @class = "form-control", @style = "height:auto;" } })
                                @Html.LabelFor(model => model.payerId, htmlAttributes: new { @class = "control-label col-md-2", @id = "lbl_payerId" })
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col l6 m6 s6">
                        <div class="col l1 s2">
                            <label>
                                <input type="checkbox" name="estimado_x" value="true" id="estimado_x" @Html.Raw((Model.estimado_x) ? "checked=\"checked\"" : "") />
                                <span style="height:0"></span>
                            </label>
                        </div>
                        <div class="input-field col l10 m10" style="margin-bottom:0;">
                            @Html.EditorFor(model => model.estimado, new { htmlAttributes = new { @class = "form-control", @style = "height:auto;" } })
                            @Html.LabelFor(model => model.estimado, htmlAttributes: new { @class = "control-label col-md-2", @id = "lbl_estimado" })
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col l12 m12 s12">
                        <div class="col l1 s2">
                            <label>
                                <input type="checkbox" name="mecanica_x" value="true" id="mecanica_x" @Html.Raw((Model.mecanica_x) ? "checked=\"checked\"" : "") />
                                <span style="height:0"></span>
                            </label>
                        </div>
                        <div class="input-field col l10 m10" style="margin-bottom:0;">
                            @Html.TextAreaFor(model => model.mecanica, new { @class = "materialize-textarea" })
                            @*@Html.EditorFor(model => model.mecanica, new { htmlAttributes = new { @class = "form-control", @style = "height:auto;" } })*@
                            @Html.LabelFor(model => model.mecanica, htmlAttributes: new { @class = "control-label col-md-2", @id = "lbl_mecanica" })
                        </div>
                    </div>
                </div>
                @*AQUI VA LA TABLA*@
                @{ int tablas = Model.listaFechas.Count; }@*SE RECIBE LA N CANTIDAD DE TABLAS A GENERAR*@
                @{ int cols = Model.listaEncabezado.Count(); } @*SE RECIBE LA CANTIDAD DE COLUMNAS A CONTENER LA TABLA*@
                @{ int tamaño = 600 / cols; }
                @{int pos = 0; }

                @for (int a = 0; a < tablas; a++)
                {
                    <div class="row">
                        <div class="col s12">
                            <table class="table" style="font-size: 12px;">
                                <thead>
                                    <tr>
                                        @{ string cabecera = @ViewBag.de + " " + Model.listaFechas[a].Remove(10) + " " + @ViewBag.al + " " + (Model.listaFechas[a].Remove(0, Model.listaFechas[a].Length / 2)).Remove(10); }
                                        <b style="font-size:x-large">@cabecera</b>
                                    </tr>
                                </thead>

                                <tr style="background-color:#CCCCCC">
                                    <th>
                                        @Html.DisplayNameFor(model => model.material)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.categoria)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.descripcion)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.costoun)
                                        <label>
                                            <input type="checkbox" name="costoun_x" value="true" id="costoun_x" @Html.Raw((Model.costoun_x) ? "checked=\"checked\"" : "") />
                                            <span style="height:1"></span>
                                        </label>
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.apoyo)
                                        <label>
                                            <input type="checkbox" name="apoyo_x" value="true" id="apoyo_x" @Html.Raw((Model.apoyo_x) ? "checked=\"checked\"" : "") />
                                            <span style="height:1"></span>
                                        </label>
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.apoyop)
                                        <label>
                                            <input type="checkbox" name="apoyop_x" value="true" id="apoyop_x" @Html.Raw((Model.apoyop_x) ? "checked=\"checked\"" : "") />
                                            <span style="height:1"></span>
                                        </label>
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.costoap)
                                        <label>
                                            <input type="checkbox" name="costoap_x" value="true" id="costoap_x" @Html.Raw((Model.costoap_x) ? "checked=\"checked\"" : "") />
                                            <span style="height:1"></span>
                                        </label>
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.precio)
                                        <label>
                                            <input type="checkbox" name="precio_x" value="true" id="precio_x" @Html.Raw((Model.precio_x) ? "checked=\"checked\"" : "") />
                                            <span style="height:1"></span>
                                        </label>
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.apoyoEst)
                                        <label>
                                            <input type="checkbox" name="apoyoEst_x" value="true" id="apoyoEst_x" @Html.Raw((Model.apoyoEst_x) ? "checked=\"checked\"" : "") />
                                            <span style="height:1"></span>
                                        </label>
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.apoyoRea)
                                        <label>
                                            <input type="checkbox" name="apoyoRea_x" value="true" id="apoyoRea_x" @Html.Raw((Model.apoyoRea_x) ? "checked=\"checked\"" : "") />
                                            <span style="height:1"></span>
                                        </label>
                                    </th>
                                </tr>

                                @*<tr style="background-color:#CCCCCC">
                                    @foreach (var contenido in Model.listaEncabezado)
                                    {
                                        <th>
                                            @contenido
                                        </th>
                                    }
                                </tr>*@

                                @*<tr style="background-color:#CCCCCC">
                                    @for (int m = 0; m < Model.listaEncabezado.Count(); m++)
                                    {
                                        <th>
                                            <label>
                                                <input type="checkbox" name="" value="true" id="" @Html.Raw((Model.monto_x) ? "checked=\"checked\"" : "") />
                                                <span style="height:1"></span>
                                             </label>
                                        </th>
                                    }
                                </tr>*@

                                @{int columnas = 0; }
                                @{int filas = 0; }
                                @{columnas = Model.listaEncabezado.Count(); }
                                @{filas = Model.numfilasTabla[a]; }


                                @for (int i = 0; i < filas; i++)
                                {
                                    <tr>
                                        @for (int j = 0; j < columnas; j++)
                                        {
                                            <td>@Model.listaCuerpo[pos]</td>
                                            pos++;
                                        }
                                    </tr>
                                }
                            </table>
                        </div>
                    </div>
                }
                <div class="row">
                    <div class="col l8 m8 s12">
                        <div class="col l1 s1">
                            <label>
                                <input type="checkbox" name="monto_x" value="true" id="monto_x" @Html.Raw((Model.monto_x) ? "checked=\"checked\"" : "") />
                                <span style="height:0"></span>
                            </label>
                        </div>
                        <div class="input-field col l10 m10" style="margin-bottom:0;">
                            @Html.HiddenFor(model => model.monto)
                            @Html.HiddenFor(model => model.moneda)
                            @{ string monto = @ViewBag.mon; }
                            @Html.LabelFor(model => model.monto, monto + " " + Model.monto + " " + Model.moneda, htmlAttributes: new { @class = "control-label col-md-2", @id = "lbl_monto" })
                        </div>
                    </div>
                </div>
                <br />
                <br />

                <div class="row">
                    <div class="col l6 m6">
                        <div class="row">
                            <div class="col l8 m8 offset-l2">
                                <div class="col l12 m12 s12">
                                    <div class="col l1 s2">
                                        <label>
                                            <input type="checkbox" name="nombreE_x" value="true" id="nombreE_x" @Html.Raw((Model.nombreE_x) ? "checked=\"checked\"" : "") />
                                            <span style="height:0"></span>
                                        </label>
                                    </div>
                                    <div class="input-field col l10 m10" style="margin-bottom:0;">
                                        @Html.EditorFor(model => model.nombreE, new { htmlAttributes = new { @class = "form-control", @style = "height:auto;" } })
                                        @Html.LabelFor(model => model.nombreE, htmlAttributes: new { @class = "control-label col-md-2", @id = "lbl_nombreE" })
                                    </div>
                                </div>
                            </div>
                            <div class="col l8 m8 offset-l2">
                                <div class="col l12 m12 s12">
                                    <div class="col l1 s2">
                                        <label>
                                            <input type="checkbox" name="puestoE_x" value="true" id="puestoE_x" @Html.Raw((Model.puestoE_x) ? "checked=\"checked\"" : "") />
                                            <span style="height:0"></span>
                                        </label>
                                    </div>
                                    <div class="input-field col l10 m10" style="margin-bottom:0;">
                                        @Html.EditorFor(model => model.puestoE, new { htmlAttributes = new { @class = "form-control", @style = "height:auto;" } })
                                        @Html.LabelFor(model => model.puestoE, htmlAttributes: new { @class = "control-label col-md-2", @id = "lbl_puestoE" })
                                    </div>
                                </div>
                            </div>
                            <div class="col l8 m8 offset-l2">
                                <div class="col l12 m12 s12">
                                    <div class="col l1 s2">
                                        <label>
                                            <input type="checkbox" name="companyC_x" value="true" id="companyC_x" @Html.Raw((Model.companyC_x) ? "checked=\"checked\"" : "") />
                                            <span style="height:0"></span>
                                        </label>
                                    </div>
                                    <div class="input-field col l10 m10" style="margin-bottom:0;">
                                        @Html.EditorFor(model => model.companyC, new { htmlAttributes = new { @class = "form-control", @style = "height:auto;" } })
                                        @Html.LabelFor(model => model.companyC, htmlAttributes: new { @class = "control-label col-md-2", @id = "lbl_companyC" })
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col l6 m6">
                        <div class="row">
                            <div class="col l8 m8 offset-l2">
                                <div class="col l12 m12 s12">
                                    <div class="col l1 s2">
                                        <label>
                                            <input type="checkbox" name="nombreC_x" value="true" id="nombreC_x" @Html.Raw((Model.nombreC_x) ? "checked=\"checked\"" : "") />
                                            <span style="height:0"></span>
                                        </label>
                                    </div>
                                    <div class="input-field col l10 m10" style="margin-bottom:0;">
                                        @Html.EditorFor(model => model.nombreC, new { htmlAttributes = new { @class = "form-control", @style = "height:auto;" } })
                                        @Html.LabelFor(model => model.nombreC, htmlAttributes: new { @class = "control-label col-md-2", @id = "lbl_nombreC" })
                                    </div>
                                </div>
                            </div>
                            <div class="col l8 m8 offset-l2">
                                <div class="col l12 m12 s12">
                                    <div class="col l1 s2">
                                        <label>
                                            <input type="checkbox" name="puestoC_x" value="true" id="puestoC_x" @Html.Raw((Model.puestoC_x) ? "checked=\"checked\"" : "") />
                                            <span style="height:0"></span>
                                        </label>
                                    </div>
                                    <div class="input-field col l10 m10" style="margin-bottom:0;">
                                        @Html.EditorFor(model => model.puestoC, new { htmlAttributes = new { @class = "form-control", @style = "height:auto;" } })
                                        @Html.LabelFor(model => model.puestoC, htmlAttributes: new { @class = "control-label col-md-2", @id = "lbl_puestoC" })
                                    </div>
                                </div>
                            </div>
                            <div class="col l8 m8 offset-l2">
                                <div class="col l12 m12 s12">
                                    <div class="col l1 s2">
                                        <label>
                                            <input type="checkbox" name="companyCC_x" value="true" id="companyCC_x" @Html.Raw((Model.companyCC_x) ? "checked=\"checked\"" : "") />
                                            <span style="height:0"></span>
                                        </label>
                                    </div>
                                    <div class="input-field col l10 m10" style="margin-bottom:0;">
                                        @Html.EditorFor(model => model.companyCC, new { htmlAttributes = new { @class = "form-control", @style = "height:auto;" } })
                                        @Html.LabelFor(model => model.companyCC, htmlAttributes: new { @class = "control-label col-md-2", @id = "lbl_companyCC" })
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <br />


                <div class="row">
                    <div class="col l12 m6">
                        <div class="row">
                            <div class="col l6 m8 sl2">
                                <div class="col l12 m12 s12">
                                    <div class="col l1 s2">
                                        <label>
                                            <input type="checkbox" name="comentarios_x" value="true" id="comentarios_x" @Html.Raw((Model.comentarios_x) ? "checked=\"checked\"" : "") />
                                            <span style="height:0"></span>
                                        </label>
                                    </div>
                                    <div class="input-field col l10 m10" style="margin-bottom:0;">
                                        @Html.TextAreaFor(model => model.comentarios, new { @class = "materialize-textarea" })
                                        @Html.LabelFor(model => model.comentarios, htmlAttributes: new { @class = "control-label col-md-2", @id = "lbl_comen" })
                                    </div>
                                </div>
                            </div>
                            <div class="col l6 m8 sl2">
                                <div class="col l12 m12 s12">
                                    <div class="col l1 s2">
                                        <label>
                                            <input type="checkbox" name="compromisok_x" value="true" id="compromisok_x" @Html.Raw((Model.compromisoK_x) ? "checked=\"checked\"" : "") />
                                            <span style="height:0"></span>
                                        </label>
                                    </div>
                                    <div class="input-field col l10 m10" style="margin-bottom:0;">
                                        @Html.TextAreaFor(model => model.compromisoK, new { @class = "materialize-textarea" })
                                        @Html.LabelFor(model => model.compromisoK, htmlAttributes: new { @class = "control-label col-md-2", @id = "lbl_comproK" })
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col l12 m6">
                        <div class="row">
                            <div class="col l6 m8 sl2">
                                <div class="col l12 m12 s12">
                                    <div class="col l1 s2">
                                        <label>
                                            <input type="checkbox" name="compromisoC_x" value="true" id="compromisoC_x" @Html.Raw((Model.compromisoC_x) ? "checked=\"checked\"" : "") />
                                            <span style="height:0"></span>
                                        </label>
                                    </div>
                                    <div class="input-field col l10 m10" style="margin-bottom:0;">
                                        @Html.TextAreaFor(model => model.compromisoC, new { @class = "materialize-textarea" })
                                        @Html.LabelFor(model => model.compromisoC, htmlAttributes: new { @class = "control-label col-md-2", @id = "lbl_comproC" })
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col l12 m12 s12">
                        <div class="col l1 s2">
                            <label>
                                <input type="checkbox" name="legal_x" value="true" id="legal_x" @Html.Raw((Model.legal_x) ? "checked=\"checked\"" : "") />
                                <span style="height:0"></span>
                            </label>
                        </div>
                        <div class="input-field col l10 m10" style="margin-bottom:0;">
                            @Html.TextAreaFor(model => model.legal, new { @class = "materialize-textarea", @style = "height:auto;" })
                            @Html.LabelFor(model => model.legal, htmlAttributes: new { @class = "control-label col-md-2", @id = "lbl_legal" })
                        </div>
                    </div>
                    <div class="col l12 m12 s12">
                        <div class="col l1 s2">
                            <label>
                                <input type="checkbox" name="mail_x" value="true" id="mail_x" @Html.Raw((Model.mail_x) ? "checked=\"checked\"" : "") />
                                <span style="height:0"></span>
                            </label>
                        </div>
                        <div class="input-field col l10 m10" style="margin-bottom:0;">
                            @Html.EditorFor(model => model.mail, new { htmlAttributes = new { @class = "form-control", @style = "height:auto;" } })
                            @Html.LabelFor(model => model.mail, htmlAttributes: new { @class = "control-label col-md-2", @id = "lbl_email" })
                        </div>
                    </div>
                </div>
            </div>

            <div class="row" style="height:10px;width:100%;">
                <div class="col l7 pink darken-1" style="height:10px;padding:0;"></div>
                <div class="col l3 pink darken-4" style="height:10px;padding:0;">
                    <div class="col l3 pink darken-4" style="height:10px;padding:0;"></div>
                    <div class="col l8 orange" style="height:10px;padding:0;"></div>
                    <div class="col l1 red" style="height:10px;padding:0;"></div>
                </div>
                <div class="col l2 yellow" style="height:10px;padding:0;"></div>
            </div>
        </div>
    </div>
    <div>
        @Html.ActionLink("Back to List", "Index")
    </div>
}