@model TAT001.Models.CartaV
@using TAT001.Entities
@using TAT001.Models @*B20180710 MGC 2018.07.10 Modificaciones para editar los campos de distribución*@
@{
    ViewBag.pagina_r = 232;
    ViewBag.carpeta_r = 100;
    ViewBag.Title = "";
    Layout = "~/Views/Shared/_Layout.cshtml";


    string regresar = TempData["return"] != null ? TempData["return"].ToString() : null;
    string accion = "Details";
    string controller = "Solicitudes";
    TempData["vista"] = regresar;
    if (regresar == "LIST")
    {
        accion = "Lista";
        controller = "CartaV";
        TempData["swf"] = TempData["ESTATUS_WF"];
    }
}

<script src="~/Scripts/cartaV.js"></script> @*B20180710 MGC 2018.07.12 Modificaciones para editar los campos de distribución*@
<script src="~/Scripts/formatos.js"></script>
<script>
    var varligada = "@ViewBag.varligada";
</script>
@* ------------------------------------------------------------------------LEJ 09-07-18 *@
<input id="miles" name="miles" type="hidden" value="@ViewBag.miles">
<input id="dec" name="dec" type="hidden" value="@ViewBag.dec">
@* ------------------------------------------------------------------------LEJ 09-07-18 *@
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="row">
        <div class="row right">
            <div class="col l12 m12 right">
                @if (accion == "Lista"){
                    <a href="@Url.Action(accion, controller, new { id =Model.num_doc, swf = TempData["ESTATUS_WF"] })" class="btn btn-small">Regresar</a>
                }
                else{
                    <a href="@Url.Action(accion, controller, new { id = Model.num_doc })" class="btn btn-small">Regresar</a>
                }
                <input type="button" id="btn_visualizar" value="Visualizar" class="btn btn-small" />
                <input type="button" id="btn_guardar" value="Guardar" class="btn btn-small" />@*B20180710 MGC 2018.07.12 Modificaciones para editar los campos de distribución*@
                <input type="submit" id="btn_submit" value="Guardar" class="btn btn-small" style="display:none" /> @*onclick="timer()"  />@*B20180710 MGC 2018.07.12 Modificaciones para editar los campos de distribución*@
            </div>
        </div>
    </div>

    <div class="row">
        <div class="card-panel">
            <div class="row">
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                @Html.HiddenFor(model => model.num_doc)
                <div class="row">
                    <div class="col l3 m3 s6 offset-l9">
                        <div class="col l2 s2">
                            <label>
                                <input type="checkbox" name="company_x" value="true" id="company_x" @Html.Raw((Model.company_x) ? "checked=\"checked\"" : "") />
                                <span style="height:0"></span>
                            </label>
                        </div>
                        <div class="input-field col l10 m10" style="margin-bottom:0;">
                            @Html.EditorFor(model => model.company, new { htmlAttributes = new { @class = "form-control", @style = "height:auto;" } })
                            @Html.LabelFor(model => model.company, htmlAttributes: new { @class = "control-label col-md-2", @id = "lbl_company" })
                        </div>
                    </div>
                    <div class="col l3 m3 s6 offset-l9">
                        <div class="col l2 s2">
                            <label>
                                <input type="checkbox" name="taxid_x" value="true" id="taxid_x" @Html.Raw((Model.taxid_x) ? "checked=\"checked\"" : "") />
                                <span style="height:0"></span>
                            </label>
                        </div>
                        <div class="input-field col l10 m10" style="margin-bottom:0;">
                            @Html.EditorFor(model => model.taxid, new { htmlAttributes = new { @class = "form-control", @style = "height:auto; " } })
                            @Html.LabelFor(model => model.taxid, htmlAttributes: new { @class = "control-label col-md-2", @id = "lbl_tax" })
                        </div>
                    </div>
                </div>
                <div class="row" style="height:10px;width:100%;">
                    <div class="col l7 pink darken-1" style="height:10px;padding:0;"></div>
                    <div class="col l3 pink darken-4" style="height:10px;padding:0;">
                        <div class="col l3 pink darken-4" style="height:10px;padding:0;"></div>
                        <div class="col l8 orange" style="height:10px;padding:0;"></div>
                        <div class="col l1 red" style="height:10px;padding:0;"></div>
                    </div>
                    <div class="col l2 yellow" style="height:10px;padding:0;"></div>
                </div>
                <div class="row">
                    <div class="col s6 m6 l6">
                        <div class="row">
                            <div class="col l12 m12 s12">
                                <div class="col l2 s2">
                                    <label>
                                        <input type="checkbox" name="concepto_x" value="true" id="concepto_x" @Html.Raw((Model.concepto_x) ? "checked=\"checked\"" : "") />
                                        <span style="height:0"></span>
                                    </label>
                                </div>
                                <div class="input-field col l10 m10" style="margin-bottom:0;">
                                    @Html.EditorFor(model => model.concepto, new { htmlAttributes = new { @class = "form-control", @style = "height:auto;" } })
                                    @Html.LabelFor(model => model.concepto, htmlAttributes: new { @class = "control-label col-md-2", @id = "lbl_concepto" })
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col l8 m8 s12">
                                <div class="col l2 s2">
                                    <label>
                                        <input type="checkbox" name="payerNom_x" value="true" id="payerNom_x" @Html.Raw((Model.payerNom_x) ? "checked=\"checked\"" : "") />
                                        <span style="height:0"></span>
                                    </label>
                                </div>
                                <div class="input-field col l10 m10" style="margin-bottom:0;">
                                    @Html.EditorFor(model => model.payerNom, new { htmlAttributes = new { @class = "form-control", @style = "height:auto;" } })
                                    @Html.LabelFor(model => model.payerNom, htmlAttributes: new { @class = "control-label col-md-2", @id = "lbl_payN" })
                                </div>
                                <div class="col l2 s2">
                                    <label>
                                        <input type="checkbox" name="cliente_x" value="true" id="cliente_x" @Html.Raw((Model.cliente_x) ? "checked=\"checked\"" : "") />
                                        <span style="height:0"></span>
                                    </label>
                                </div>
                                <div class="input-field col l10 m10" style="margin-bottom:0;">
                                    @Html.EditorFor(model => model.cliente, new { htmlAttributes = new { @class = "form-control", @style = "height:auto;" } })
                                    @Html.LabelFor(model => model.cliente, htmlAttributes: new { @class = "control-label col-md-2", @id = "lbl_cliente" })
                                </div>
                                <div class="col l2 s2">
                                    <label>
                                        <input type="checkbox" name="puesto_x" value="true" id="puesto_x" @Html.Raw((Model.puesto_x) ? "checked=\"checked\"" : "") />
                                        <span style="height:0"></span>
                                    </label>
                                </div>
                                <div class="input-field col l10 m10" style="margin-bottom:0;">
                                    @Html.EditorFor(model => model.puesto, new { htmlAttributes = new { @class = "form-control", @style = "height:auto;" } })
                                    @Html.LabelFor(model => model.puesto, htmlAttributes: new { @class = "control-label col-md-2", @id = "lbl_puesto" })
                                </div>
                                <div class="col l2 s2">
                                    <label>
                                        <input type="checkbox" name="direccion_x" value="true" id="direccion_x" @Html.Raw((Model.direccion_x) ? "checked=\"checked\"" : "") />
                                        <span style="height:0"></span>
                                    </label>
                                </div>
                                <div class="input-field col l10 m10" style="margin-bottom:0;">
                                    @Html.EditorFor(model => model.direccion, new { htmlAttributes = new { @class = "form-control", @style = "height:auto;" } })
                                    @Html.LabelFor(model => model.direccion, htmlAttributes: new { @class = "control-label col-md-2", @id = "lbl_direccion" })
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col s6 m6 l6">
                        <div class="col l8 m8 s8 offset-l4">
                            <div class="col l2 s2 offset-l2">
                                <label>
                                    <input type="checkbox" name="folio_x" value="true" id="folio_x" @Html.Raw((Model.folio_x) ? "checked=\"checked\"" : "") />
                                    <span style="height:0"></span>
                                </label>
                            </div>
                            <div class="input-field col l8 m8" style="margin-bottom:0;">
                                @Html.EditorFor(model => model.folio, new { htmlAttributes = new { @class = "form-control", @style = "height:auto;" } })
                                @Html.LabelFor(model => model.folio, htmlAttributes: new { @class = "control-label col-md-2", @id = "lbl_folio" })
                            </div>
                            <div class="col l2 s2">
                                <label>
                                    <input type="checkbox" name="lugarFech_x" value="true" id="lugarFech_x" @Html.Raw((Model.lugarFech_x) ? "checked=\"checked\"" : "") />
                                    <span style="height:0"></span>
                                </label>
                            </div>
                            <div class="input-field col l10 m10" style="margin-bottom:0;">
                                @Html.EditorFor(model => model.lugarFech, new { htmlAttributes = new { @class = "form-control", @style = "height:auto;", @readonly = "readonly" } })
                                @Html.LabelFor(model => model.lugarFech, "Fecha", htmlAttributes: new { @class = "control-label col-md-2", @id = "lbl_fecha" })
                            </div>
                            <div class="col l2 s2">
                                <label>
                                    <input type="checkbox" name="lugar_x" value="true" id="lugar_x" @Html.Raw((Model.lugar_x) ? "checked=\"checked\"" : "") />
                                    <span style="height:0"></span>
                                </label>
                            </div>
                            <div class="input-field col l10 m10" style="margin-bottom:0;">
                                @Html.EditorFor(model => model.lugar, new { htmlAttributes = new { @class = "form-control", @style = "height:auto;" } })
                                @Html.LabelFor(model => model.lugar, htmlAttributes: new { @class = "control-label col-md-2", @id = "lbl_lugar" })
                            </div>
                            <div class="col l2 s2">
                                <label>
                                    <input type="checkbox" name="payerId_x" value="true" id="payerId_x" @Html.Raw((Model.payerId_x) ? "checked=\"checked\"" : "") />
                                    <span style="height:0"></span>
                                </label>
                            </div>
                            <div class="input-field col l10 m10" style="margin-bottom:0;">
                                @Html.EditorFor(model => model.payerId, new { htmlAttributes = new { @class = "form-control", @style = "height:auto;" } })
                                @Html.LabelFor(model => model.payerId, htmlAttributes: new { @class = "control-label col-md-2", @id = "lbl_payerId" })
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col l6 m6 s6">
                        <div class="col l1 s2">
                            <label>
                                <input type="checkbox" name="estimado_x" value="true" id="estimado_x" @Html.Raw((Model.estimado_x) ? "checked=\"checked\"" : "") />
                                <span style="height:0"></span>
                            </label>
                        </div>
                        <div class="input-field col l10 m10" style="margin-bottom:0;">
                            @Html.EditorFor(model => model.estimado, new { htmlAttributes = new { @class = "form-control", @style = "height:auto;" } })
                            @Html.LabelFor(model => model.estimado, htmlAttributes: new { @class = "control-label col-md-2", @id = "lbl_estimado" })
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col l12 m12 s12">
                        <div class="col l1 s2">
                            <label>
                                <input type="checkbox" name="mecanica_x" value="true" id="mecanica_x" @Html.Raw((Model.mecanica_x) ? "checked=\"checked\"" : "") />
                                <span style="height:0"></span>
                            </label>
                        </div>
                        <div class="input-field col l10 m10" style="margin-bottom:0;">
                            @Html.TextAreaFor(model => model.mecanica, new { @class = "materialize-textarea" })
                            @*@Html.EditorFor(model => model.mecanica, new { htmlAttributes = new { @class = "form-control", @style = "height:auto;" } })*@
                            @Html.LabelFor(model => model.mecanica, htmlAttributes: new { @class = "control-label col-md-2", @id = "lbl_mecanica" })
                        </div>
                    </div>
                </div>
                @*AQUI VA LA TABLA*@
                @{ int tablas = Model.listaFechas.Count; }@*SE RECIBE LA N CANTIDAD DE TABLAS A GENERAR*@
                @{ int cols = Model.numColEncabezado.Count(); } @*SE RECIBE LA CANTIDAD DE COLUMNAS A CONTENER LA TABLA*@
                @{ int tamaño = 0;
                    try { tamaño = 600 / cols; } catch (Exception) { tamaño = 0; } }@*//B20180720P MGC 2018.07.25*@
                    @{int pos = 0; }
                    @{string facturap = ""; try { facturap = @ViewBag.factura + ""; facturap = facturap.ToLower(); } catch (Exception) { facturap = ""; } }@*B20180730 MGC 2018.07.30 Mostrar real o estimado*@

                    <input id="isfactura" name="isfactura" type="hidden" value="@facturap"> @*B20180710 MGC 2018.07.10 Modificaciones para editar los campos de distribución*@
                    @for (int a = 0; a < tablas; a++)
                    {
                        <div class="row">
                            <div class="col s12">
                                @{var tabname = "table_mat" + a;} @*B20180710 MGC 2018.07.10 Modificaciones para editar los campos de distribución*@
                                @{var dename = "dedate_table_mat" + a;} @*B20180710 MGC 2018.07.10 Modificaciones para editar los campos de distribución*@
                                @{var alname = "aldate_table_mat" + a;} @*B20180710 MGC 2018.07.10 Modificaciones para editar los campos de distribución*@
                                <input type="hidden" value="@Model.listaFechas[a].Remove(10)" id="@dename" /> @*B20180710 MGC 2018.07.10 Modificaciones para editar los campos de distribución*@
                                <input type="hidden" value="@Model.listaFechas[a].Remove(0, Model.listaFechas[a].Length / 2).Remove(10)" id="@alname" /> @*B20180710 MGC 2018.07.10 Modificaciones para editar los campos de distribución*@
                                <table id="@tabname" class="table table_mat" style="font-size: 12px;">
                                    @*B20180710 MGC 2018.07.10 Modificaciones para editar los campos de distribución*@
                                    <thead>
                                        <tr>
                                            @{ string cabecera = @ViewBag.de + " " + Model.listaFechas[a].Remove(10) + " " + @ViewBag.al + " " + (Model.listaFechas[a].Remove(0, Model.listaFechas[a].Length / 2)).Remove(10); }
                                            <b style="font-size:x-large">@cabecera</b>
                                        </tr>
                                    </thead>
                                    @if (a == 0)
                                    {
                                        <tr style="background-color:#CCCCCC">
                                            <th style="text-align:center"><br />
                                                <b>@Model.numColEncabezado[0]</b><br />
                                                <label>
                                                    <input type="checkbox" name="material_x" value="true" id="material_x" @Html.Raw((Model.material_x) ? "checked=\"checked\"" : "") />
                                                    <span style="height:10px"></span>
                                                </label>
                                            </th>
                                            <th style="text-align:center">
                                                <b>@Model.numColEncabezado[1]</b>
                                            </th>
                                            <th style="text-align:center">
                                                <b>@Model.numColEncabezado[2]</b>
                                            </th>
                                            <th style="text-align:center">
                                                <b>@Model.numColEncabezado[3]</b><br />
                                                <label>
                                                    <input type="checkbox" name="costoun_x" value="true" id="costoun_x" @Html.Raw((Model.costoun_x) ? "checked=\"checked\"" : "") />
                                                    <span style="height:10px"></span>
                                                </label>
                                            </th>
                                            <th style="text-align:center">
                                                <b>@Model.numColEncabezado[4]</b><br />
                                                <label>
                                                    <input type="checkbox" name="apoyo_x" value="true" id="apoyo_x" @Html.Raw((Model.apoyo_x) ? "checked=\"checked\"" : "") />
                                                    <span style="height:10px"></span>
                                                </label>
                                            </th>
                                            <th style="text-align:center">
                                                <b>@Model.numColEncabezado[5]</b><br />
                                                <label>
                                                    <input type="checkbox" name="apoyop_x" value="true" id="apoyop_x" @Html.Raw((Model.apoyop_x) ? "checked=\"checked\"" : "") />
                                                    <span style="height:10px"></span>
                                                </label>
                                            </th>
                                            <th style="text-align:center">
                                                <b>@Model.numColEncabezado[6]</b><br />
                                                <label>
                                                    <input type="checkbox" name="costoap_x" value="true" id="costoap_x" @Html.Raw((Model.costoap_x) ? "checked=\"checked\"" : "") />
                                                    <span style="height:10px"></span>
                                                </label>
                                            </th>
                                            <th style="text-align:center">
                                                <b>@Model.numColEncabezado[7]</b><br />
                                                <label>
                                                    <input type="checkbox" name="precio_x" value="true" id="precio_x" @Html.Raw((Model.precio_x) ? "checked=\"checked\"" : "") />
                                                    <span style="height:10px"></span>
                                                </label>
                                            </th>
                                            <th style="text-align:center">
                                                <b>@Model.numColEncabezado[8]</b><br />
                                                <label>
                                                    <input type="checkbox" name="volumen_x" value="true" id="apoyoEst_x" @Html.Raw((Model.volumen_x) ? "checked=\"checked\"" : "") /> @*//B20180726 MGC 2018.07.26*@
                                                    <span style="height:10px"></span>
                                                </label>
                                            </th>
                                            <th style="text-align:center">
                                                <b>@Model.numColEncabezado[9]</b><br />
                                                <label>
                                                    <input type="checkbox" name="apoyototal_x" value="true" id="apoyoRea_x" @Html.Raw((Model.apoyototal_x) ? "checked=\"checked\"" : "") /> @*//B20180726 MGC 2018.07.26*@
                                                    <span style="height:10px"></span>
                                                </label>
                                            </th>
                                        </tr>
                                    }
                                    else
                                    {
                                        <tr style="background-color:#CCCCCC">
                                            <th style="text-align:center">
                                                <b>@Model.numColEncabezado[0]</b>
                                            </th>
                                            <th style="text-align:center">
                                                <b>@Model.numColEncabezado[1]</b>
                                            </th>
                                            <th style="text-align:center">
                                                <b>@Model.numColEncabezado[2]</b>
                                            </th>
                                            <th style="text-align:center">
                                                <b>@Model.numColEncabezado[3]</b>
                                            </th>
                                            <th style="text-align:center">
                                                <b>@Model.numColEncabezado[4]</b>
                                            </th>
                                            <th style="text-align:center">
                                                <b>@Model.numColEncabezado[5]</b>
                                            </th>
                                            <th style="text-align:center">
                                                <b>@Model.numColEncabezado[6]</b>
                                            </th>
                                            <th style="text-align:center">
                                                <b>@Model.numColEncabezado[7]</b>
                                            </th>
                                            <th style="text-align:center">
                                                <b>@Model.numColEncabezado[8]</b>
                                            </th>
                                            <th style="text-align:center">
                                                <b>@Model.numColEncabezado[9]</b>
                                            </th>
                                        </tr>
                                    }

                                    @{int columnas = 0; }
                                    @{int filas = 0; }
                                    @{columnas = Model.numColEncabezado.Count(); }
                                    @{filas = Model.numfilasTabla[a]; }
                                    @*B20180710 MGC 2018.07.10 Modificaciones para editar los campos de distribución*@
                                    @for (int i = 0; i < filas; i++)
                                    {
                                        <tr class="@ViewBag.trclass" role="row">
                                            @for (int j = 0; j < columnas; j++)
                                            {
                                                if (@Model.listaCuerpom[pos].clase.Contains("ni") | @Model.listaCuerpom[pos].clase.Contains("costoa") | (@Model.listaCuerpom[pos].clase.Contains("porc") & @Model.listaCuerpom[pos].clase.Contains("tipop")))
                                                {
                                                    <td class="ni">@Model.listaCuerpom[pos].val</td>
                                                }
                                                else
                                                {
                                                    <td>@Html.EditorFor(m => m.listaCuerpom[pos].val, new { htmlAttributes = new { @class = @Model.listaCuerpom[pos].clase } })</td>
                                                }
                                                pos++;
                                            }
                                        </tr>
                                    }
                                </table>
                            </div>
                        </div>
                    }
                    @*Tabla para ser enviada siempre está oculta*@
                    <table id="table_dish" class="display" cellspacing="0" width="100%" style="display:none">
                        <tbody>
                            @if (Model.DOCUMENTOP != null)
                            {
                                for (var i = 0; i < Model.DOCUMENTOP.Count; i++)
                                {
                                    <tr>
                                        <td>
                                            @Html.EditorFor(m => m.DOCUMENTOP[i].POS)
                                        </td>
                                        <td>
                                            @Html.EditorFor(m => m.DOCUMENTOP[i].VIGENCIA_DE)
                                        </td>
                                        <td>
                                            @Html.EditorFor(m => m.DOCUMENTOP[i].VIGENCIA_AL)
                                        </td>
                                        <td>
                                            @Html.EditorFor(m => m.DOCUMENTOP[i].MATNR)
                                        </td>
                                        <td>
                                            @Html.EditorFor(m => m.DOCUMENTOP[i].MATKL)
                                        </td>
                                        <td>
                                            @Html.EditorFor(m => m.DOCUMENTOP[i].MATKL_ID)
                                        </td>
                                        <td>
                                            @Html.EditorFor(m => m.DOCUMENTOP[i].MONTO)
                                        </td>
                                        <td>
                                            @Html.EditorFor(m => m.DOCUMENTOP[i].PORC_APOYO)
                                        </td>
                                        <td>
                                            @Html.EditorFor(m => m.DOCUMENTOP[i].MONTO_APOYO)
                                        </td>
                                        <td>
                                            @Html.EditorFor(m => m.DOCUMENTOP[i].PRECIO_SUG)
                                        </td>
                                        <td>
                                            @Html.EditorFor(m => m.DOCUMENTOP[i].VOLUMEN_EST)
                                        </td>
                                        <td>
                                            @Html.EditorFor(m => m.DOCUMENTOP[i].VOLUMEN_REAL)
                                        </td>
                                        <td>
                                            @Html.EditorFor(m => m.DOCUMENTOP[i].APOYO_EST)
                                        </td>
                                        <td>
                                            @Html.EditorFor(m => m.DOCUMENTOP[i].APOYO_REAL)
                                        </td>
                                    </tr>
                                }
                            }
                        </tbody>
                    </table>
                    @*Tabla para ser enviada siempre está oculta*@
                    @*//B20180720P MGC 2018.07.25*@
               
                    @if (ViewBag.varligada != true)
                    {
                        <div class="row">
                            <div class="col l8 m8 s12">
                                <div class="col l1 s1">
                                    <label>
                                        <input type="checkbox" name="monto_x" value="true" id="monto_x" @Html.Raw((Model.monto_x) ? "checked=\"checked\"" : "") />
                                        <span style="height:0"></span>
                                    </label>
                                </div>
                                <div class="input-field col l10 m10" style="margin-bottom:0;">
                                    @Html.HiddenFor(model => model.monto)
                                    @Html.HiddenFor(model => model.moneda)
                                    @{ string monto = @ViewBag.mon;
                                        string montoformat = @ViewBag.montoformat;//B20180801 MGC Formato
                                        bool editmonto = @ViewBag.editmonto;
                                        string editmontos = editmonto + "";
                                        editmontos = editmontos.ToLower();}
                                    <input id="monto_texto" name="monto_texto" type="hidden" value="@monto">
                                    <input id="monto_enviar" name="monto_enviar" type="hidden" value="">
                                    <input id="guardar_param" name="guardar_param" type="hidden" value="">
                                    <input id="editmonto_texto" name="editmonto_texto" type="hidden" value="@editmontos">@*B20180710 MGC 2018.07.10 Modificaciones para editar los campos de distribución*@
                                    @{ if (editmonto == false)
                                        {
                                            @*@Html.LabelFor(model => model.monto, monto + " " + Model.monto + " " + Model.moneda, htmlAttributes: new { @class = "control-label col-md-2", @id = "lbl_monto" })*@ @*//B20180801 MGC Formato*@
                                            @Html.LabelFor(model => model.monto, monto + " " + montoformat + " " + Model.moneda, htmlAttributes: new { @class = "control-label col-md-2", @id = "lbl_monto" })@*//B20180801 MGC Formato*@
                                        }
                                        else
                                        {
                                            Model.monto = montoformat; //B20180801 MGC Formato
                                            @Html.EditorFor(model => model.monto, new { htmlAttributes = new { @id = "ed_monto" } })
                                            @Html.LabelFor(model => model.monto, monto + " (" + Model.moneda + ")", htmlAttributes: new { @class = "control-label col-md-2", @id = "lbl_monto" })

                                        }
                                    }
                                </div>
                            </div>
                        </div>
                                        }
                                        else
                                        {
                                            <input id="guardar_param" name="guardar_param" type="hidden" value="">
                                        }
                    <br />
                    <br />

                    @if (Model.numfilasTabla2 > 0)
                    {
                        <div class="row">
                            <div class="col s12">
                                <div class="col l1 s1">
                                    <label>
                                        <input type="checkbox" name="secondTab_x" value="true" id="secondTab_x" @Html.Raw((Model.secondTab_x) ? "checked=\"checked\"" : "") />
                                        <span style="height:0"></span>
                                    </label>
                                </div>
                                <div class="input-field col l11 m11" style="margin-bottom:0;">
                                    <table class="table" style="font-size: 12px;">
                                        <thead>
                                            <tr><b style="font-size:x-large" id="lbl_Titulo"></b></tr>
                                        </thead>
                                        <tr style="background-color:#CCCCCC;">
                                            <th style="text-align:center">
                                                <b>@Model.numColEncabezado2[0]</b>
                                            </th>
                                            <th style="text-align:center">
                                                <b>@Model.numColEncabezado2[1]</b>
                                            </th>
                                            <th style="text-align:center">
                                                <b>@Model.numColEncabezado2[2]</b>
                                            </th>
                                            <th style="text-align:center">
                                                <b>@Model.numColEncabezado2[3]</b>
                                            </th>
                                            <th style="text-align:center">
                                                <b>@Model.numColEncabezado2[4]</b>
                                            </th>
                                        </tr>
                                        @{int cols2 = Model.numColEncabezado2.Count(); }
                                        @{int pos2 = 0; }
                                        @for (int i = 0; i < Model.numfilasTabla2; i++)
                                        {
                                        <tr>
                                            @for (int j = 0; j < cols2; j++)
                                            {
                                                if (!ViewBag.varligada && j == 3)
                                                {
                                                    <td style='text-align:center;' class="cl_monto">@Model.listaCuerpoRec[pos2]</td> }
                                                else
                                                {
                                                    <td style='text-align:center;'>@Model.listaCuerpoRec[pos2]</td>
                                                }
                                                pos2++;
                                            }
                                        </tr>
                                        }
                                    </table>
                                </div>
                            </div>
                        </div>
                    }
                <br />
                <br />
                @if (Model.numfilasTabla3 > 0)
                {
                    <div class="row">
                        <div class="col s12">
                            <div class="col l1 s1">
                                <label>
                                    <input type="checkbox" name="tercerTab_x" value="true" id="tercerTab_x" @Html.Raw((Model.tercerTab_x) ? "checked=\"checked\"" : "") />
                                    <span style="height:0"></span>
                                </label>
                            </div>
                            <div class="input-field col l11 m11" style="margin-bottom:0;">
                                <table class="table" style="font-size: 12px;">
                                    <thead>
                                        <tr><b style="font-size:x-large" id="lbl_TituloObjQ"></b></tr>
                                    </thead>
                                    <tr style="background-color:#CCCCCC;">
                                        <th style="text-align:center">
                                            <b>@Model.numColEncabezado3[0]</b>
                                        </th>
                                        <th style="text-align:center">
                                            <b>@Model.numColEncabezado3[1]</b>
                                        </th>
                                        <th style="text-align:center">
                                            <b>@Model.numColEncabezado3[2]</b>
                                        </th>
                                        <th style="text-align:center">
                                            <b>@Model.numColEncabezado3[3]</b>
                                        </th>
                                        <th style="text-align:center">
                                            <b>@Model.numColEncabezado3[4]</b>
                                        </th>
                                    </tr>
                                    @{int cols3 = Model.numColEncabezado3.Count(); }
                                    @{int pos3 = 0; }
                                    @for (int i = 0; i < Model.numfilasTabla3; i++)
                                    {
                                        <tr>
                                            @for (int j = 0; j < cols3; j++)
                                            {
                                                <td style='text-align:center;'>@Model.listaCuerpoObjQ[pos3]</td>
                                                pos3++;
                                            }
                                        </tr>
                                    }
                                </table>
                            </div>
                        </div>
                    </div>
                                        }
                    <br />
                <br />
                    <div class="row">
                        <div class="col l6 m6">
                            <div class="row">
                                <div class="col l8 m8 offset-l2">
                                    <div class="col l12 m12 s12">
                                        <div class="col l1 s2">
                                            <label>
                                                <input type="checkbox" name="nombreE_x" value="true" id="nombreE_x" @Html.Raw((Model.nombreE_x) ? "checked=\"checked\"" : "") />
                                                <span style="height:0"></span>
                                            </label>
                                        </div>
                                        <div class="input-field col l10 m10" style="margin-bottom:0;">
                                            @Html.EditorFor(model => model.nombreE, new { htmlAttributes = new { @class = "form-control", @style = "height:auto;" } })
                                            @Html.LabelFor(model => model.nombreE, htmlAttributes: new { @class = "control-label col-md-2", @id = "lbl_nombreE" })
                                        </div>
                                    </div>
                                </div>
                                <div class="col l8 m8 offset-l2">
                                    <div class="col l12 m12 s12">
                                        <div class="col l1 s2">
                                            <label>
                                                <input type="checkbox" name="puestoE_x" value="true" id="puestoE_x" @Html.Raw((Model.puestoE_x) ? "checked=\"checked\"" : "") />
                                                <span style="height:0"></span>
                                            </label>
                                        </div>
                                        <div class="input-field col l10 m10" style="margin-bottom:0;">
                                            @Html.EditorFor(model => model.puestoE, new { htmlAttributes = new { @class = "form-control", @style = "height:auto;" } })
                                            @Html.LabelFor(model => model.puestoE, htmlAttributes: new { @class = "control-label col-md-2", @id = "lbl_puestoE" })
                                        </div>
                                    </div>
                                </div>
                                <div class="col l8 m8 offset-l2">
                                    <div class="col l12 m12 s12">
                                        <div class="col l1 s2">
                                            <label>
                                                <input type="checkbox" name="companyC_x" value="true" id="companyC_x" @Html.Raw((Model.companyC_x) ? "checked=\"checked\"" : "") />
                                                <span style="height:0"></span>
                                            </label>
                                        </div>
                                        <div class="input-field col l10 m10" style="margin-bottom:0;">
                                            @Html.EditorFor(model => model.companyC, new { htmlAttributes = new { @class = "form-control", @style = "height:auto;" } })
                                            @Html.LabelFor(model => model.companyC, htmlAttributes: new { @class = "control-label col-md-2", @id = "lbl_companyC" })
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col l6 m6">
                            <div class="row">
                                <div class="col l8 m8 offset-l2">
                                    <div class="col l12 m12 s12">
                                        <div class="col l1 s2">
                                            <label>
                                                <input type="checkbox" name="nombreC_x" value="true" id="nombreC_x" @Html.Raw((Model.nombreC_x) ? "checked=\"checked\"" : "") />
                                                <span style="height:0"></span>
                                            </label>
                                        </div>
                                        <div class="input-field col l10 m10" style="margin-bottom:0;">
                                            @Html.EditorFor(model => model.nombreC, new { htmlAttributes = new { @class = "form-control", @style = "height:auto;" } })
                                            @Html.LabelFor(model => model.nombreC, htmlAttributes: new { @class = "control-label col-md-2", @id = "lbl_nombreC" })
                                        </div>
                                    </div>
                                </div>
                                <div class="col l8 m8 offset-l2">
                                    <div class="col l12 m12 s12">
                                        <div class="col l1 s2">
                                            <label>
                                                <input type="checkbox" name="puestoC_x" value="true" id="puestoC_x" @Html.Raw((Model.puestoC_x) ? "checked=\"checked\"" : "") />
                                                <span style="height:0"></span>
                                            </label>
                                        </div>
                                        <div class="input-field col l10 m10" style="margin-bottom:0;">
                                            @Html.EditorFor(model => model.puestoC, new { htmlAttributes = new { @class = "form-control", @style = "height:auto;" } })
                                            @Html.LabelFor(model => model.puestoC, htmlAttributes: new { @class = "control-label col-md-2", @id = "lbl_puestoC" })
                                        </div>
                                    </div>
                                </div>
                                <div class="col l8 m8 offset-l2">
                                    <div class="col l12 m12 s12">
                                        <div class="col l1 s2">
                                            <label>
                                                <input type="checkbox" name="companyCC_x" value="true" id="companyCC_x" @Html.Raw((Model.companyCC_x) ? "checked=\"checked\"" : "") />
                                                <span style="height:0"></span>
                                            </label>
                                        </div>
                                        <div class="input-field col l10 m10" style="margin-bottom:0;">
                                            @Html.EditorFor(model => model.companyCC, new { htmlAttributes = new { @class = "form-control", @style = "height:auto;" } })
                                            @Html.LabelFor(model => model.companyCC, htmlAttributes: new { @class = "control-label col-md-2", @id = "lbl_companyCC" })
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <br />

                    <div class="row">
                        <div class="col l12 m6">
                            <div class="row">
                                <div class="col l12 m8 sl2">
                                    <div class="col l12 m12 s12">
                                        <div class="col l1 s2">
                                            <label>
                                                <input type="checkbox" name="comentarios_x" value="true" id="comentarios_x" @Html.Raw((Model.comentarios_x) ? "checked=\"checked\"" : "") />
                                                <span style="height:0"></span>
                                            </label>
                                        </div>
                                        <div class="input-field col l10 m10" style="margin-bottom:0;">
                                            @Html.TextAreaFor(model => model.comentarios, new { @class = "materialize-textarea" })
                                            @Html.LabelFor(model => model.comentarios, htmlAttributes: new { @class = "control-label col-md-2", @id = "lbl_comen" })
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col l12 m6">
                            <div class="row">
                                <div class="col l6 m8 sl2">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col l12 m12 s12">
                            <div class="col l1 s2">
                                <label>
                                    <input type="checkbox" name="legal_x" value="true" id="legal_x" @Html.Raw((Model.legal_x) ? "checked=\"checked\"" : "") />
                                    <span style="height:0"></span>
                                </label>
                            </div>
                            <div class="input-field col l10 m10" style="margin-bottom:0;">
                                @Html.TextAreaFor(model => model.legal, new { @class = "materialize-textarea", @style = "height:auto;" })
                                @Html.LabelFor(model => model.legal, htmlAttributes: new { @class = "control-label col-md-2", @id = "lbl_legal" })
                            </div>
                        </div>
                        <div class="col l12 m12 s12">
                            <div class="col l1 s2">
                                <label>
                                    <input type="checkbox" name="mail_x" value="true" id="mail_x" @Html.Raw((Model.mail_x) ? "checked=\"checked\"" : "") />
                                    <span style="height:0"></span>
                                </label>
                            </div>
                            <div class="input-field col l10 m10" style="margin-bottom:0;">
                                @Html.EditorFor(model => model.mail, new { htmlAttributes = new { @class = "form-control", @style = "height:auto;" } })
                                @Html.LabelFor(model => model.mail, htmlAttributes: new { @class = "control-label col-md-2", @id = "lbl_email" })
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row" style="height:10px;width:100%;">
                    <div class="col l7 pink darken-1" style="height:10px;padding:0;"></div>
                    <div class="col l3 pink darken-4" style="height:10px;padding:0;">
                        <div class="col l3 pink darken-4" style="height:10px;padding:0;"></div>
                        <div class="col l8 orange" style="height:10px;padding:0;"></div>
                        <div class="col l1 red" style="height:10px;padding:0;"></div>
                    </div>
                    <div class="col l2 yellow" style="height:10px;padding:0;"></div>
                </div>
            </div>
        </div>
    }