@model TAT001.Entities.CUENTA
@{
    ViewBag.pagina_r = 692;
    ViewBag.carpeta_r = 500;
    //ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <div class="row">
        <div class="row right">
            <div class="col l12 m12 right">
                <button type="submit" id="btn_guardar" value="Agregar" class="btn btn-default" />
            </div>
        </div>
    </div>

    @*<div class="row">
            <div class="row" style="height:10px;width:100%;">
                <div class="col l7 pink darken-1" style="height:10px;padding:0;"></div>
                <div class="col l3 pink darken-4" style="height:10px;padding:0;">
                    <div class="col l3 pink darken-4" style="height:10px;padding:0;"></div>
                    <div class="col l8 orange" style="height:10px;padding:0;"></div>
                    <div class="col l1 red" style="height:10px;padding:0;"></div>
                </div>
                <div class="col l2 yellow" style="height:10px;padding:0;"></div>
            </div>
        </div>*@
    @Html.HiddenFor(model => model.SOCIEDAD_ID)
    @Html.HiddenFor(model => model.PAIS_ID)
    @Html.HiddenFor(model => model.TALL_ID)
    @Html.HiddenFor(model => model.EJERCICIO)
    <div class="card-panel">
        <div class="form-horizontal">
            <div class="row">
                <div class="form-group col m6" style="margin-bottom:0;">
                    @Html.LabelFor(model => model.SOCIEDAD_ID, "Co. Code", htmlAttributes: new { @class = "control-label col-md-2", @id = "lbl_sociedad" })
                    @Html.DropDownList("SOCIEDAD_ID", null, htmlAttributes: new { @class = "form-control", @id = "sel-soc", disabled = true })
                    @Html.ValidationMessageFor(model => model.SOCIEDAD_ID, "", new { @class = "text-danger" })
                </div>
                <script>
                    var elem = document.getElementById('sel-soc');
                    var options = [];
                    var instance = M.Select.init(elem, options);
                </script>

                <div class="form-group col m4" style="margin-bottom:0;">
                    @Html.LabelFor(model => model.PAIS_ID, "PAIS_ID", htmlAttributes: new { @class = "control-label col-md-2", @id = "lbl_pais" })
                    @Html.DropDownList("PAIS_ID", null, htmlAttributes: new { @class = "form-control", @id = "sel-pai", disabled = true })
                    @Html.ValidationMessageFor(model => model.PAIS_ID, "", new { @class = "text-danger" })
                </div>
                <script>
                    var elem = document.getElementById('sel-pai');
                    var options = [];
                    var instance = M.Select.init(elem, options);
                </script>
            </div>
            <div class="row">
                <div class="form-group col m6" style="margin-bottom:0;">
                    @Html.LabelFor(model => model.TALL_ID, "TALL_ID", htmlAttributes: new { @class = "control-label col-md-2", @id = "lbl_gal" })
                    @Html.DropDownList("TALL_ID", null, htmlAttributes: new { @class = "form-control", @id = "sel-tal", disabled=true })
                    @Html.ValidationMessageFor(model => model.TALL_ID, "", new { @class = "text-danger" })
                </div>
                <div class="form-group col m4" style="margin-bottom:0;">
                    @Html.LabelFor(model => model.EJERCICIO, htmlAttributes: new { @class = "control-label col-md-2", @id = "lbl_ejercicio" })
                    @Html.DropDownList("EJERCICIO", new SelectList(Enumerable.Range(DateTime.Now.Year, 10).ToList()), htmlAttributes: new { @class = "form-control", @id = "sel-ano", disabled=true })
                </div>
                <script>
                    var elem = document.getElementById('sel-ano');
                    var options = [];
                    var instance = M.Select.init(elem, options);
                </script>
            </div>
            <div class="row">
                <div class="form-group col m4" style="margin-bottom:0;">
                    @Html.LabelFor(model => model.ABONO, htmlAttributes: new { @class = "control-label col-md-2", @id = "lbl_abono" })
                    @Html.DropDownList("ABONO", null, htmlAttributes: new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.ABONO, "", new { @class = "text-danger" })
                </div>

                <div class="form-group col m4" style="margin-bottom:0;">
                    @Html.LabelFor(model => model.CARGO, htmlAttributes: new { @class = "control-label col-md-2", @id = "lbl_cargo" })
                    @Html.DropDownList("CARGO", null, htmlAttributes: new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.CARGO, "", new { @class = "text-danger" })
                </div>

                <div class="form-group col m4" style="margin-bottom:0;">
                    @Html.LabelFor(model => model.CLEARING, htmlAttributes: new { @class = "control-label col-md-2", @id = "lbl_cargofv" })
                    @Html.DropDownList("CLEARING", null, htmlAttributes: new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.CLEARING, "", new { @class = "text-danger" })
                </div>


                <script>
                    var elem = document.getElementById('sel-tal');
                    var options = [];
                    var instance = M.Select.init(elem, options);
                </script>
            </div>
            <div class="row">
                <div class="form-group col m4" style="margin-bottom:0;">
                    @Html.LabelFor(model => model.LIMITE, htmlAttributes: new { @class = "control-label col-md-2", @id = "lbl_limite" })
                    @Html.EditorFor(model => model.LIMITE, new { htmlAttributes = new { @class = "form-control", @maxlength = 10, onKeyPress = "return soloNumeros(event)" } })
                    @Html.ValidationMessageFor(model => model.LIMITE, "", new { @class = "text-danger" })
                </div>
                <div class="form-group col m4" style="margin-bottom:0;">
                    @Html.LabelFor(model => model.IMPUESTO, htmlAttributes: new { @class = "control-label col-md-2", @id = "lbl_impuesto" })
                    @Html.DropDownList("IMPUESTO", null, htmlAttributes: new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.CLEARING, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index", new { }, new { id = "lblRegresar" })
</div>

<script type="text/javascript">
    function ponerCeros(num) {
        while (num.value.length < 10)
            num.value = '0' + num.value;
    }
    var elem = document.querySelectorAll('select');
    var instance = M.FormSelect.init(elem, []);
    $("input[type='hidden']").each(function (index, element) {
        $(this).appendTo($(element).parent());
    });
</script>

<script type="text/javascript">
    function soloNumeros(e) {
        var key = window.Event ? e.which : e.keyCode
        return (key >= 48 && key <= 57)
    }
</script>
