@model TAT001.Entities.DET_APROBH

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.pagina_r = 920;
    ViewBag.carpeta_r = 500;
}
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <div class="col s12 l12 right-align">
        <button type="submit" id="lbl_guardar" class="btn btn-default"></button>
    </div>
    <div class="card-panel">
        @Html.ValidationSummary(true, "", new { @class = "red-text" })
        @Html.HiddenFor(model => model.SOCIEDAD_ID)
        @Html.HiddenFor(model => model.VERSION)
        <div class="row">
            <div class="col s4">
                @Html.LabelFor(model => model.SOCIEDAD_ID, "SOCIEDAD_ID", htmlAttributes: new { @class = "control-label col-md-2", id = "lbl_coCode" })
                <div class="col-md-4">
                    @Html.EditorFor(model => model.SOCIEDAD_ID, new { htmlAttributes = new { @class = "form-control", disabled = "disabled" } })
                    @Html.ValidationMessageFor(model => model.SOCIEDAD_ID, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="col s4">
                @Html.LabelFor(model => model.PUESTOC_ID, "PUESTOC_ID", htmlAttributes: new { @class = "control-label col-md-2", id = "lbl_Puesto" })
                <div class="col-md-4">
                    @Html.DropDownList("PUESTOC_ID", null, htmlAttributes: new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.PUESTOC_ID, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="col s2">
                @Html.LabelFor(model => model.VERSION, htmlAttributes: new { @class = "control-label col-md-2", id = "lbl_Version" })
                <div class="col-md-4">
                    @Html.EditorFor(model => model.VERSION, new { htmlAttributes = new { @class = "form-control", disabled = "disabled" } })
                    @Html.ValidationMessageFor(model => model.VERSION, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="col s2">
                <br />
                <label>
                    @Html.CheckBoxFor(model => model.ACTIVO, new { htmlAttributes = new { } })
                    <span class="lbl_Activo"></span>
                </label>

            </div>
        </div>
        <div class="row">
            <div id="table" class="table-editable">
                <a class="table-add btn-floating btn-medium green right"><i class="material-icons">add_circle</i></a>

                <table class="mdl-data-table striped centered" id="tablama" style="width:100%">
                    <thead>
                        <tr>
                            <th class="lbl_Posicion">Pos</th>
                            <th class="lbl_NAprobador">Nivel Aprobador</th>
                            <th class="lbl_Presupuesto">Presupuesto</th>
                            <th class="lbl_NPresupuesto">Nivel</th>
                            <th class="lbl_Monto">Monto</th>
                            <th class="lbl_AprobadorDos">Nivel</th>
                            @*<th class="lbl_Activo">Activo</th>*@
                            @*<th></th>*@
                        </tr>
                    </thead>
                    <tbody>
                        <tr class="hide">
                            <td><input type="text" readonly class="posicion" name="posicion" value="0"></td>
                            <td>@Html.DropDownList("NivelesA", null, "", htmlAttributes: new { @class = "nivelapro browser-default form-control" })</td>
                            <td>
                                <label><input class="input_presu" type="checkbox" name="p_0" /><span></span></label>
                            </td>
                            <td>@Html.DropDownList("NivelesP", null, "", htmlAttributes: new { @class = "browser-default form-control", disabled = true })</td>
                            <td><input type="text" class="monto" maxlength="17" name="monto" /></td>
                            <td>@Html.DropDownList("NivelesM", null, "", htmlAttributes: new { @class = "browser-default form-control", disabled = true })</td>
                            @*<td><label><input class='input_activo' type='checkbox' id='input_activo' name='activof' checked /><span></span></label></td>*@
                            @*<td>
                                    <span class="table-remove material-icons red-text">delete</span>
                                </td>*@
                        </tr>
                    </tbody>
                </table>
                <a class="table-remove btn-floating btn-medium red right"><i class="material-icons">delete</i></a>
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Flujos", new { id = Model.SOCIEDAD_ID }, new { id = "btn_return" })
</div>
<script src="~/Scripts/jquery.mask.js"></script>
<script src="//cdn.datatables.net/1.10.16/js/jquery.dataTables.min.js"></script>
<script src="//cdn.datatables.net/1.10.16/js/dataTables.material.min.js"></script>
<link href="~/Content/dataTable.css" rel="stylesheet" />
<link href="//cdn.datatables.net/1.10.16/css/dataTables.material.min.css" rel="stylesheet" />
<script src="~/Scripts/messagesCat.js"></script>
<script>
            var lista = @Html.Raw(ViewBag.mensajes);
</script>
<script>
    jQuery(function ($) {
        $('form').bind('submit', function (e) {
            var rows = $('#tablama>tbody>tr:not(:hidden)').length;
            var continuar = true;
            var valoress = [];
            $(".nivelapro").each(function () {
                if ($(this).val() != "") {
                    var existe = valoress.indexOf($(this).val());
                if (existe == -1) {
                    valoress.push($(this).val());
                }
                else {
                    toast("tcambio", 100000, "priority_high", lista[2].DESCRIPCION, "red", lista[0].DESCRIPCION);
                    continuar = false;
                    e.preventDefault();
                }
            }
            });
            if (continuar) {
                if (rows > 1) {
                    $(this).find(':input').prop('disabled', false);
                    return;
                }
                else {
                    toast("tcambio", 100000, "priority_high", lista[1].DESCRIPCION, "red", lista[0].DESCRIPCION);
                    e.preventDefault();
                }
            }
        });
    });
    $("input[type='hidden']").each(function (index, element) {
        $(this).appendTo($(element).parent());
                });
                document.addEventListener('DOMContentLoaded', function () {
                    var elems = document.querySelectorAll('select');
                    var instances = M.FormSelect.init(elems, options);
    });
    $("#tablama").DataTable({
        "paging": false,
        "ordering": false,
        "info": false,
        "searching":false
    });
                var $TABLE = $('#table');

    $(document).on('click', '.table-add', function () {
        var pos = $TABLE.find('tr:last>td:eq(0)>input').val();
        if (pos < 5) {
            var $clone = $TABLE.find('tr.hide').clone(true).removeClass('hide table-line');
            var posn = parseInt(pos) + 1;
            //if ($(".nivelapro").length > 1) {
            //    $(".nivelapro").each(function () {
            //        $clone.find("td:eq(1)>select option:eq(" + $(this).val() + ")").prop("disabled", true);
            //});
            //}
            $clone.find('td:eq(1)>select').prop("required",true);
            $clone.find('td:eq(0)>input').val(posn);
            $clone.find('td:eq(2)').find(":checkbox").prop("name", "p_" + posn);
            $clone.find('td:eq(4)>input').mask('#' + '@ViewBag.Miles' + '##0' + '@ViewBag.PD' + '00', { reverse: true });
            if (posn == 5) {
                $clone.find('td:eq(2)').find(":checkbox").prop("disabled", true);
                $clone.find('td:eq(4)>input').prop("disabled", true);
            }
            $TABLE.find('table').append($clone);
        }
        else {
            toast("tcambio", 100000, "priority_high", lista[3].DESCRIPCION, "red", lista[0].DESCRIPCION);
        }
                });

    $('.table-remove').click(function () {
        var pos = $TABLE.find('tr:last>td:eq(0)>input').val();
        if (pos != 0) {
            $TABLE.find('tr:last').detach();
        }
    });
    $('.input_presu').change(function () {
        var pos = $(this).closest("tr").find('td:eq(0)>input').val();
        if ($(this).is(':checked')) {
            $(this).closest("tr").find("td:eq(3)>select").prop("required", true);
            $(this).closest("tr").find("td:eq(3)>select").prop("disabled", false);
            for (var i = 1; i <= pos; i++) {
                $(this).closest("tr").find("td:eq(3)>select option[value='" + i + "']").prop("disabled", true);
            }
            //$(this).closest("tr").find("td:eq(4)>input").prop("disabled", false);
        }
        else {
            $(this).closest("tr").find("td:eq(3)>select").prop("required", false);
            $(this).closest("tr").find("td:eq(3)>select").prop("disabled", true);
            //$(this).closest("tr").find("td:eq(4)>input").prop("disabled", true);
        }
    });
    $(document).on('change', '.monto', function () {
        var pos = $(this).closest("tr").find('td:eq(0)>input').val();
        if ($(this).val() != "") {
            $(this).closest("tr").find("td:eq(5)>select").prop("required", true);
            $(this).closest("tr").find("td:eq(5)>select").prop("disabled", false);
            for (var i = 1; i <= pos; i++) {
                $(this).closest("tr").find("td:eq(5)>select option[value='" + i + "']").prop("disabled", true);
            }
        }
        else {
            $(this).closest("tr").find("td:eq(5)>select").prop("required", false);
            $(this).closest("tr").find("td:eq(5)>select").prop("disabled", true);
        }
    });

</script>
<style>
    .table-editable {
        position: relative;
    }

        .table-editable .glyphicon {
            font-size: 20px;
        }

    .table-remove {
        color: #700;
        cursor: pointer;
    }

        .table-remove:hover {
            color: #f00;
        }
</style>
