@model TAT001.Entities.MATERIAL

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Delete</title>
</head>
<body>
    <h3>Are you sure you want to delete this?</h3>
    <div>
        <h4>MATERIAL</h4>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.MTART)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.MTART)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.MAKTX)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.MAKTX)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.MAKTG)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.MAKTG)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.PUNIT)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.PUNIT)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.ACTIVO)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.ACTIVO)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.CATEGORIA.DESCRIPCION)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.CATEGORIA.DESCRIPCION)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.ZCTGR.DESCRIPCION)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.ZCTGR.DESCRIPCION)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.ZBRAND.Descripcion)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.ZBRAND.Descripcion)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.UMEDIDA.MSEHI)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.UMEDIDA.MSEHI)
            </dd>
    
        </dl>
    
        @using (Html.BeginForm()) {
            @Html.AntiForgeryToken()
    
            <div class="form-actions no-color">
                <input type="submit" value="Delete" class="btn btn-default" /> |
                @Html.ActionLink("Back to List", "Index")
            </div>
        }
    </div>
</body>
</html>
