@model TAT001.Entities.TREVERSA
@{
    //ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.pagina_r = 783;
    ViewBag.carpeta_r = 500;
}
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <div class="row">
        <button id="btnDel" type="submit" value="Delete" class="btn btn-default" style="float:right;"> </button>
    </div>
    <div>
        <div class="row">
            <div class="col s6 ">
                <div class="card-panel">
                    <div class="row">
                        <div class="form-horizontal">
                            <div class="form-group">
                                @Html.LabelFor(model => model.ID, htmlAttributes: new { @class = "control-label col-md-2", @id = "lblId" })
                                @Html.EditorFor(model => model.ID, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
                                @Html.ValidationMessageFor(model => model.ID, "", new { @class = "text-danger" })
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-horizontal">
                            <div class="form-group">
                                @Html.LabelFor(model => model.USUARIOC_ID, htmlAttributes: new { @class = "control-label col-md-2", @id = "lblUId" })
                                @Html.EditorFor(model => model.USUARIOC_ID, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
                                @Html.ValidationMessageFor(model => model.USUARIOC_ID, "", new { @class = "text-danger" })
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col s6 ">
                <div class="card-panel">
                    <h5>Traducciones</h5>
                    <div class="row">
                        @foreach (var item in Model.TREVERSATs)
                        {
                            <div class=" input-field col s12">
                                @Html.EditorFor(modelItem => item.TXT100, null, item.SPRAS_ID, new { htmlAttributes = new { @id = "A" + item.SPRAS_ID, @readonly = "readonly" } })
                                <label for="@("A"+item.SPRAS_ID)">@item.SPRA.DESCRIPCION</label>
                            </div>
                        }
                    </div>
                </div>
            </div>
        </div>


        <div class="form-actions no-color">
            @Html.ActionLink("Back to List", "Index")
        </div>
    </div>
}