@model IEnumerable<TAT001.Entities.CLIENTE>
@{
    ViewBag.pagina_r = 631;
    ViewBag.carpeta_r = 500;
    //ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<script>
    var elem = document.querySelector('select');
    var options = [];
    var instance = M.FormSelect.init(elem, options);
</script>

<script src="//code.jquery.com/jquery-1.12.4.js"></script>
<script src="//cdn.datatables.net/1.10.16/js/jquery.dataTables.min.js"></script>
<script src="//cdn.datatables.net/1.10.16/js/dataTables.material.min.js"></script>
<link href="~/Content/dataTable.css" rel="stylesheet" />
<link href="//cdn.datatables.net/1.10.16/css/dataTables.material.min.css" rel="stylesheet" />

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="row">
        <div class="card-panel">
            <div class="row">
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })

                <div class="row" style="height:10px;width:100%;">
                    <div class="col l7 pink darken-1" style="height:10px;padding:0;"></div>
                    <div class="col l3 pink darken-4" style="height:10px;padding:0;">
                        <div class="col l3 pink darken-4" style="height:10px;padding:0;"></div>
                        <div class="col l8 orange" style="height:10px;padding:0;"></div>
                        <div class="col l1 red" style="height:10px;padding:0;"></div>
                    </div>
                    <div class="col l2 yellow" style="height:10px;padding:0;"></div>
                </div>

                <div class="row">
                    <div class="col s12">
                        <table class="table mdl-data-table striped" id="table" style="width:100%;">
                            <thead>
                                <tr class="header" style="background-color:#CCCCCC">
                                    <th>ID</th>
                                    <th>NOMBRE</th>
                                    <th>MUNICIPIO</th>
                                    <th>ESTADO</th>
                                    <th>DIRECCION</th>
                                    <th>SELECCIÓN</th>
                            </thead>
                            <tbody>
                                @foreach (var item in Model)
                                {
                                    <tr>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.KUNNR)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.NAME1)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.REGIO)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.ORT01)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.STRAS_GP)
                                        </td>
                                        <td>
                                            <a href="@Url.Action("Edit", "Cliente", new { id = item.KUNNR })">
                                                <i class='material-icons green-text'>edit</i>
                                            </a>
                                            <a href="@Url.Action("Details", "Cliente", new { id = item.KUNNR })">
                                                <i class='material-icons blue-text'>search</i>
                                            </a>
                                            <a data-form-method="post" href="@Url.Action("Index", "Contacto", new { vko = item.VKORG, vtw = item.VTWEG, kun = item.KUNNR, spa = item.SPART })">
                                                <i class='material-icons orange-text'>contacts</i>
                                            </a>
                                            <a data-form-method="post" href="@Url.Action("Index", "Impuesto", new { vko = item.VKORG, vtw = item.VTWEG, kun = item.KUNNR, spa = item.SPART })">
                                                <i class='material-icons yellow-text'>monetization_on</i>
                                            </a>
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>

            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

<script type="text/javascript">
    $("a[data-form-method='post']").click(function (event) {
        event.preventDefault();
        var element = $(this);
        var action = element.attr("href");
        element.closest("form").each(function () {
            var form = $(this);
            form.attr("action", action);
            form.submit();
        });
    });
</script>

<script>
    $(document).ready(function () {
        var i = 0;
        $('#table tfoot th').each(function () {
            i++;
            var title = $(this).text();
            $(this).html('<input type="text" id="lbl_search' + i + '" />');
        });
        var table = $('#table').DataTable({
            language: {
                "url": "../Scripts/lang/@Session["spras"].ToString()"+".json"
            },
            columnDefs: [
                {
                    targets: [0, 1, 2],
                    className: 'mdl-data-table__cell--non-numeric'
                }
            ]
        });
        table.columns().every(function () {
            var that = this;
            $('input', this.footer()).on('keyup change', function () {
                if (that.search() !== this.value) {
                    that
                        .search(this.value)
                        .draw();
                }
            });
        })
        var a = $('#selecc').val();
        table.page.len(a).draw();
        $('#selecc').on('change', function () {
            table.page.len(this.value).draw();
        });

        $('input.global_filter').on('keyup click', function () {
            filterGlobal();
        });
    });

    function filterGlobal() {
        $('#table').DataTable().search(
            $('#global_filter').val()).draw();
    }
</script>
<style>
    .dataTables_length {
        display: none;
    }

    .dataTables_filter {
        display: none;
    }

    .dataTables_scrollHeadInner, .mdl-data-table {
        width: 100%;
    }
</style>