@model TAT001.Entities.FACTURASCONF

@{
                /**/

                //ViewBag.Title = "Edit";
                Layout = "~/Views/Shared/_Layout.cshtml";
                ViewBag.pagina_r = 1213;
                ViewBag.carpeta_r = 500;
}

<script src="~/Scripts/ValidarProv.js"></script>

<div class="row right">
    <div class="col s12">
        <div class="col s6">

        </div>

    </div>
</div>
<div class="row">
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()
        <div class="row right-align">
            <div class="row">
                <div class="col l12 m12">
                    <a href="@Url.Action("Index", "DocRelacion")" class="btn btn-default">Lista</a>
                    <input type="submit" value="Guardar" class="btn btn-default" />
                </div>
            </div>
        </div>
        <div class="col 12 s12">
            <div class="card-panel">
                <div class="row">
                    <div class="form-horizontal">
                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                        <div class="row">
                            <div class="input-field col l6 m6" style="margin-bottom:0;">
                                @Html.LabelFor(model => model.SOCIEDAD_ID, htmlAttributes: new { @class = "control-label col-md-2", @id = "lblSociedadId" })
                                @Html.EditorFor(model => model.SOCIEDAD_ID, new { htmlAttributes = new { @class = "form-control txtIDP", @maxlength = "10", @readonly = "readonly" } })
                                @Html.ValidationMessageFor(model => model.SOCIEDAD_ID, "", new { @class = "text-danger" })
                            </div>
                            <div class="input-field col l6 m6" style="margin-bottom:0;">
                                @Html.LabelFor(model => model.PAIS_ID, htmlAttributes: new { @class = "control-label col-md-2", @id = "lblPais" })
                                @Html.EditorFor(model => model.PAIS_ID, new { htmlAttributes = new { @class = "form-control pname", @maxlength = "230", @readonly = "readonly" } })
                                @Html.ValidationMessageFor(model => model.PAIS_ID, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="row">
                            <div class="input-field col l6 m6" style="margin-bottom:0;">
                                @Html.LabelFor(model => model.TSOL, "TSOL", htmlAttributes: new { @class = "active control-label col-md-2", @id = "lblTsol" })
                                @Html.EditorFor(model => model.TSOL, new { htmlAttributes = new { @class = "form-control pname", @maxlength = "230", @readonly = "readonly" } })
                                @Html.ValidationMessageFor(model => model.TSOL, "", new { @class = "text-danger" })
                            </div>

                            <div class="input-field col l6 m6" style="margin-bottom:0;">
                                @Html.LabelFor(model => model.FACTURA, "FACTURA", htmlAttributes: new { @class = "active control-label col-md-2", @id = "lblFactura" })
                                @Html.ValidationMessageFor(model => model.FACTURA, "", new { @class = "text-danger" })
                                @Html.EditorFor(model => model.FACTURA, new { htmlAttributes = new { @class = "form-control pname material-icons green-text", @maxlength = "230", @hidden = "hidden", id = "idfac" } })

                                @if ((bool)Model.FACTURA == true)
                                {

                                    <label>
                                        <input type="checkbox" name="selectedCustomers" value="true" id="fac" onclick="check()" checked />
                                        <span style="height:0"></span>
                                    </label>

                                }
                                else
                                {
                                    <label>
                                        <input type="checkbox" name="selectedCustomers" value="true" id="fac" onclick="check()" />
                                        <span style="height:0"></span>
                                    </label>
                                }

                            </div>
                        </div>
                        <div class="row">
                            <div class="input-field col l6 m6" style="margin-bottom:0;">
                                @Html.LabelFor(model => model.FECHA, "FECHA", htmlAttributes: new { @class = "active control-label col-md-2", @id = "lblFecha" })
                                @Html.ValidationMessageFor(model => model.FECHA, "", new { @class = "text-danger" })
                                @Html.EditorFor(model => model.FECHA, new { htmlAttributes = new { @class = "form-control pname", @maxlength = "230", @hidden = "hidden", id = "idfec" } })

                                @if ((bool)Model.FECHA == true)
                                {
                                    <label>
                                        <input type="checkbox" name="selectedCustomers" value="true" id="fec" onclick="check()" checked />
                                        <span style="height:0"></span>
                                    </label>
                                }
                                else
                                {
                                    <label>
                                        <input type="checkbox" name="selectedCustomers" value="true" id="fec" onclick="check()" />
                                        <span style="height:0"></span>
                                    </label>
                                }
                            </div>
                            <div class="input-field col l6 m6" style="margin-bottom:0;">
                                @Html.LabelFor(model => model.PROVEEDOR, "PROVEEDOR", htmlAttributes: new { @class = "active control-label col-md-2", @id = "lblProveedor" })
                                @Html.ValidationMessageFor(model => model.PROVEEDOR, "", new { @class = "text-danger" })
                                @Html.EditorFor(model => model.PROVEEDOR, new { htmlAttributes = new { @class = "form-control pname", @maxlength = "230", @hidden = "hidden", id = "idprov" } })

                                @if ((bool)Model.PROVEEDOR == true)
                                {
                                    <label>
                                        <input type="checkbox" name="selectedCustomers" value="true" id="prov" onclick="check()" checked />
                                        <span style="height:0"></span>
                                    </label>
                                }
                                else
                                {
                                    <label>
                                        <input type="checkbox" name="selectedCustomers" value="true" id="prov" onclick="check()" />
                                        <span style="height:0"></span>
                                    </label>
                                }
                            </div>
                        </div>
                        <br />
                        <br />
                        <div class="row">
                            <div class="input-field col l6 m6" style="margin-bottom:0;">
                                @Html.LabelFor(model => model.CONTROL, "CONTROL", htmlAttributes: new { @class = "active control-label col-md-2", @id = "lblControl" })
                                @Html.ValidationMessageFor(model => model.CONTROL, "", new { @class = "text-danger" })
                                @Html.EditorFor(model => model.CONTROL, new { htmlAttributes = new { @class = "form-control pname", @maxlength = "230", @hidden = "hidden", id = "idcon" } })

                                @if ((bool)Model.CONTROL == true)
                                {
                                    <label>
                                        <input type="checkbox" name="selectedCustomers" value="true" id="con" onclick="check()" checked />
                                        <span style="height:0"></span>
                                    </label>
                                }
                                else
                                {
                                    <label>
                                        <input type="checkbox" name="selectedCustomers" value="true" id="con" onclick="check()" />
                                        <span style="height:0"></span>
                                    </label>
                                }
                            </div>
                            <div class="input-field col l6 m6" style="margin-bottom:0;">
                                @Html.LabelFor(model => model.AUTORIZACION, "AUTORIZACION", htmlAttributes: new { @class = "active control-label col-md-2", @id = "lblAutorizacion" })
                                @Html.ValidationMessageFor(model => model.AUTORIZACION, "", new { @class = "text-danger" })
                                @Html.EditorFor(model => model.AUTORIZACION, new { htmlAttributes = new { @class = "form-control pname", @maxlength = "230", @hidden = "hidden", id = "idauto" } })

                                @if ((bool)Model.AUTORIZACION == true)
                                {
                                    <label>
                                        <input type="checkbox" name="selectedCustomers" value="true" id="auto" onclick="check()" checked />
                                        <span style="height:0"></span>
                                    </label>
                                }
                                else
                                {
                                    <label>
                                        <input type="checkbox" name="selectedCustomers" value="true" id="auto" onclick="check()" />
                                        <span style="height:0"></span>
                                    </label>
                                }
                            </div>
                        </div>
                        <br />
                        <br />
                        <div class="row">
                            <div class="input-field col l6 m6" style="margin-bottom:0;">
                                @Html.LabelFor(model => model.VENCIMIENTO, "VENCIMIENTO", htmlAttributes: new { @class = "active control-label col-md-2", @id = "lblVenc" })
                                @Html.ValidationMessageFor(model => model.VENCIMIENTO, "", new { @class = "text-danger" })
                                @Html.EditorFor(model => model.VENCIMIENTO, new { htmlAttributes = new { @class = "form-control pname", @maxlength = "230", @hidden = "hidden", id = "idvenc" } })

                                @if ((bool)Model.VENCIMIENTO == true)
                                {
                                    <label>
                                        <input type="checkbox" name="selectedCustomers" value="true" id="venc" onclick="check()" checked />
                                        <span style="height:0"></span>
                                    </label>
                                }
                                else
                                {
                                    <label>
                                        <input type="checkbox" name="selectedCustomers" value="true" id="venc" onclick="check()" />
                                        <span style="height:0"></span>
                                    </label>
                                }
                            </div>
                            <div class="input-field col l6 m6" style="margin-bottom:0;">
                                @Html.LabelFor(model => model.FACTURAK, "FACTURAK", htmlAttributes: new { @class = "active control-label col-md-2", @id = "lblFactK" })
                                @Html.ValidationMessageFor(model => model.FACTURAK, "", new { @class = "text-danger" })
                                @Html.EditorFor(model => model.FACTURAK, new { htmlAttributes = new { @class = "form-control pname", @maxlength = "230", @hidden = "hidden", id = "idfactk" } })


                                @if ((bool)Model.FACTURAK == true)
                                {
                                    <label>
                                        <input type="checkbox" name="selectedCustomers" value="true" id="factk" onclick="check()" checked />
                                        <span style="height:0"></span>
                                    </label>
                                }
                                else
                                {
                                    <label>
                                        <input type="checkbox" name="selectedCustomers" value="true" id="factk" onclick="check()" />
                                        <span style="height:0"></span>
                                    </label>
                                }
                            </div>
                        </div>
                        <br />
                        <br />
                        <div class="row">
                            <div class="input-field col l6 m6" style="margin-bottom:0;">
                                @Html.LabelFor(model => model.EJERCICIOK, "EJERCICIOK", htmlAttributes: new { @class = "active control-label col-md-2", @id = "lblEjeK" })
                                @Html.ValidationMessageFor(model => model.VENCIMIENTO, "", new { @class = "text-danger" })
                                @Html.EditorFor(model => model.EJERCICIOK, new { htmlAttributes = new { @class = "form-control pname", @maxlength = "230", @hidden = "hidden", id = "idejek" } })

                                @if ((bool)Model.EJERCICIOK == true)
                                {
                                    <label>
                                        <input type="checkbox" name="selectedCustomers" value="true" id="ejek" onclick="check()" checked />
                                        <span style="height:0"></span>
                                    </label>
                                }
                                else
                                {
                                    <label>
                                        <input type="checkbox" name="selectedCustomers" value="true" id="ejek" onclick="check()" />
                                        <span style="height:0"></span>
                                    </label>
                                }
                            </div>
                            <div class="input-field col l6 m6" style="margin-bottom:0;">
                                @Html.LabelFor(model => model.BILL_DOC, "BILL_DOC", htmlAttributes: new { @class = "active control-label col-md-2", @id = "lblBill" })
                                @Html.ValidationMessageFor(model => model.BILL_DOC, "", new { @class = "text-danger" })
                                @Html.EditorFor(model => model.BILL_DOC, new { htmlAttributes = new { @class = "form-control pname", @maxlength = "230", @hidden = "hidden", id = "idbill" } })

                                @if ((bool)Model.BILL_DOC == true)
                                {
                                    <label>
                                        <input type="checkbox" name="selectedCustomers" value="true" id="bill" onclick="check()" checked />
                                        <span style="height:0"></span>
                                    </label>
                                }
                                else
                                {
                                    <label>
                                        <input type="checkbox" name="selectedCustomers" value="true" id="bill" onclick="check()" />
                                        <span style="height:0"></span>
                                    </label>
                                }
                            </div>
                        </div>
                        <br />
                        <br />
                        <div class="row">
                            <div class="input-field col l6 m6" style="margin-bottom:0;">
                                @Html.LabelFor(model => model.BELNR, "BELNR", htmlAttributes: new { @class = "active control-label col-md-2", @id = "lblBell" })
                                @Html.ValidationMessageFor(model => model.BELNR, "", new { @class = "text-danger" })
                                @Html.EditorFor(model => model.BELNR, new { htmlAttributes = new { @class = "form-control pname", @maxlength = "230", @hidden = "hidden", id = "idbellnr" } })

                                @if ((bool)Model.BELNR == true)
                                {
                                    <label>
                                        <input type="checkbox" name="selectedCustomers" value="true" id="bellnr" onclick="check()" checked />
                                        <span style="height:0"></span>
                                    </label>
                                }
                                else
                                {
                                    <label>
                                        <input type="checkbox" name="selectedCustomers" value="true" id="bellnr" onclick="check()" />
                                        <span style="height:0"></span>
                                    </label>
                                }
                            </div>
                            <div class="input-field col l6 m6" style="margin-bottom:0;">
                                @Html.LabelFor(model => model.IMPORTE_FAC, "IMPORTE_FAC", htmlAttributes: new { @class = "active control-label col-md-2", @id = "lblImporte" })
                                @Html.ValidationMessageFor(model => model.IMPORTE_FAC, "", new { @class = "text-danger" })
                                @Html.EditorFor(model => model.IMPORTE_FAC, new { htmlAttributes = new { @class = "form-control pname", @maxlength = "230", @hidden = "hidden", id = "idimpo" } })

                                @if ((bool)Model.IMPORTE_FAC == true)
                                {
                                    <label>
                                        <input type="checkbox" name="selectedCustomers" value="true" id="impo" onclick="check()" checked />
                                        <span style="height:0"></span>
                                    </label>
                                }
                                else
                                {
                                    <label>
                                        <input type="checkbox" name="selectedCustomers" value="true" id="impo" onclick="check()" />
                                        <span style="height:0"></span>
                                    </label>
                                }
                            </div>
                        </div>
                        <br />
                        <br />
                        <div class="row">
                            <div class="input-field col l6 m6" style="margin-bottom:0;">
                                @Html.LabelFor(model => model.PAYER, "PAYER", htmlAttributes: new { @class = "active control-label col-md-2", @id = "lblPayer" })
                                @Html.ValidationMessageFor(model => model.PAYER, "", new { @class = "text-danger" })
                                @Html.EditorFor(model => model.PAYER, new { htmlAttributes = new { @class = "form-control pname", @maxlength = "230", @hidden = "hidden", id = "idpay" } })

                                @if ((bool)Model.PAYER == true)
                                {
                                    <label>
                                        <input type="checkbox" name="selectedCustomers" value="true" id="pay" onclick="check()" checked />
                                        <span style="height:0"></span>
                                    </label>
                                }
                                else
                                {
                                    <label>
                                        <input type="checkbox" name="selectedCustomers" value="true" id="pay" onclick="check()" />
                                        <span style="height:0"></span>
                                    </label>
                                }
                            </div>
                            <div class="input-field col l6 m6" style="margin-bottom:0;">
                                @Html.LabelFor(model => model.DESCRIPCION, "DESCRIPCION", htmlAttributes: new { @class = "active control-label col-md-2", @id = "lblDesc" })
                                @Html.ValidationMessageFor(model => model.DESCRIPCION, "", new { @class = "text-danger" })
                                @Html.EditorFor(model => model.DESCRIPCION, new { htmlAttributes = new { @class = "form-control pname", @maxlength = "230", @hidden = "hidden", id = "iddes" } })

                                @if ((bool)Model.DESCRIPCION == true)
                                {
                                    <label>
                                        <input type="checkbox" name="selectedCustomers" value="true" id="des" onclick="check()" checked />
                                        <span style="height:0"></span>
                                    </label>
                                }
                                else
                                {
                                    <label>
                                        <input type="checkbox" name="selectedCustomers" value="true" id="des" onclick="check()" />
                                        <span style="height:0"></span>
                                    </label>
                                }
                            </div>
                        </div>
                        <br />
                        <br />
                        <div class="row">
                            <div class="input-field col l6 m6" style="margin-bottom:0;">
                                @Html.LabelFor(model => model.SOCIEDAD, "SOCIEDAD", htmlAttributes: new { @class = "active control-label col-md-2", @id = "lblSoci" })
                                @Html.ValidationMessageFor(model => model.SOCIEDAD, "", new { @class = "text-danger" })
                                @Html.EditorFor(model => model.SOCIEDAD, new { htmlAttributes = new { @class = "form-control pname", @maxlength = "230", @hidden = "hidden", id = "idsoc" } })

                                @if ((bool)Model.SOCIEDAD == true)
                                {
                                    <label>
                                        <input type="checkbox" name="selectedCustomers" value="true" id="soc" onclick="check()" checked />
                                        <span style="height:0"></span>
                                    </label>
                                }
                                else
                                {
                                    <label>
                                        <input type="checkbox" name="selectedCustomers" value="true" id="soc" onclick="check()" />
                                        <span style="height:0"></span>
                                    </label>
                                }
                            </div>
                            <div class="input-field col l6 m6" style="margin-bottom:0;">
                                @Html.LabelFor(model => model.ACTIVO, "ACTIVO", htmlAttributes: new { @class = "active control-label col-md-2", @id = "lblActivo" })
                                @Html.ValidationMessageFor(model => model.ACTIVO, "", new { @class = "text-danger" })
                                @Html.EditorFor(model => model.ACTIVO, new { htmlAttributes = new { @class = "form-control pname", @maxlength = "230", @hidden = "hidden", id = "idact" } })

                                @if ((bool)Model.ACTIVO == true)
                                {
                                    <label>
                                        <input type="checkbox" name="selectedCustomers" value="true" id="act" onclick="check()" checked />
                                        <span style="height:0"></span>
                                    </label>
                                }
                                else
                                {
                                    <label>
                                        <input type="checkbox" name="selectedCustomers" value="true" id="act" onclick="check()" />
                                        <span style="height:0"></span>
                                    </label>
                                }
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    }
</div>
<script>

    function check() {
        if ($("#fac").prop('checked'))
            $("#idfac").prop('checked', true);
        else
            $("#idfac").prop('checked', false);

        if ($("#fec").prop('checked'))
            $("#idfec").prop('checked', true);
        else
            $("#idfec").prop('checked', false);

        if ($("#prov").prop('checked'))
            $("#idprov").prop('checked', true);
        else
            $("#idprov").prop('checked', false);

        if ($("#con").prop('checked'))
            $("#idcon").prop('checked', true);
        else
            $("#idcon").prop('checked', false);

        if ($("#auto").prop('checked'))
            $("#idauto").prop('checked', true);
        else
            $("#idauto").prop('checked', false);

        if ($("#venc").prop('checked'))
            $("#idvenc").prop('checked', true);
        else
            $("#idvenc").prop('checked', false);

        if ($("#factk").prop('checked'))
            $("#idfactk").prop('checked', true);
        else
            $("#idfactk").prop('checked', false);

        if ($("#ejek").prop('checked'))
            $("#idejek").prop('checked', true);
        else
            $("#idejek").prop('checked', false);

        if ($("#bill").prop('checked'))
            $("#idbill").prop('checked', true);
        else
            $("#idbill").prop('checked', false);

        if ($("#bellnr").prop('checked'))
            $("#idbellnr").prop('checked', true);
        else
            $("#idbellnr").prop('checked', false);

        if ($("#impo").prop('checked'))
            $("#idimpo").prop('checked', true);
        else
            $("#idimpo").prop('checked', false);

        if ($("#pay").prop('checked'))
            $("#idpay").prop('checked', true);
        else
            $("#idpay").prop('checked', false);

        if ($("#des").prop('checked'))
            $("#iddes").prop('checked', true);
        else
            $("#iddes").prop('checked', false);

        if ($("#soc").prop('checked'))
            $("#idsoc").prop('checked', true);
        else
            $("#idsoc").prop('checked', false);

        if ($("#act").prop('checked'))
            $("#idact").prop('checked', true);
        else
            $("#idact").prop('checked', false);
    }

    var elem = document.querySelectorAll('select');
    var instance = M.FormSelect.init(elem, []);
</script>

<div>
    @Html.ActionLink("Back to List", "Index")
</div>


