@model TAT001.Models.DocumentoFlujo
@using TAT001.Entities

@{
    /**/

    /**/

    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.pagina_r = 1100;
    ViewBag.carpeta_r = 1107;
    List<Tuple<decimal, decimal>> negAmount = new List<Tuple<decimal, decimal>>();
}
@if (!ViewBag.Display)
{
    <script>
        $(document).ready(function () {
            $('select.select_all').siblings('ul').prepend("<li id=sm_select_all><span id='filters_all'>Todas las Opciones</span></li>");
            $('li#sm_select_all').on('click', function () {
                var jq_elem = $(this),
                    jq_elem_span = jq_elem.find('span'),
                    select_all = jq_elem_span.text() == 'Todas las Opciones',
                    set_text = select_all ? 'Borrar Selección' : 'Todas las Opciones';
                jq_elem_span.text(set_text);
                jq_elem.siblings('li').filter(function () {
                    return $(this).find('input').prop('checked') != select_all;
                }).click();
            });
            //$(document).ready(function () {
            //    $("#sendbtn").click(function () {
            //        $("#excelBtn").prop("disabled", "false");
            //    });
            //});
        });
    </script>
}

@using (Html.BeginForm("ExportReporteTrackingTS", "Reportes", FormMethod.Post, new { id = "exportForm", @style = "display:inline;" }))
{
    if (ViewBag.Display)
    {
        <div class="" style="float: right;margin-left: 10px;">
            <div class="col s12 right-align">
                <input type="hidden" name="selectedcocode" value="@((ViewBag.selectedcocode == null)?String.Empty:ViewBag.selectedcocode)" />
                <input type="hidden" name="selectedperiod" value="@((ViewBag.selectedperiod == null)?String.Empty:ViewBag.selectedperiod)" />
                <input type="hidden" name="selectedyear" value="@((ViewBag.selectedyear == null)?String.Empty:ViewBag.selectedyear)" />
                <input type="hidden" name="selectedUsuarioF" value="@((ViewBag.selectedUsuarioF == null)?String.Empty:ViewBag.selectedUsuarioF)" />
                <input type="hidden" name="selectedCliente" value="@((ViewBag.selectedCliente == null)?String.Empty:ViewBag.selectedCliente)" />
                <input type="hidden" name="selectedTipoSolicitud" value="@((ViewBag.selectedTipoSolicitud == null)?String.Empty:ViewBag.selectedTipoSolicitud)" />
                <input type="hidden" id="selectedsubfilters" name="selectedsubfilters" value="" />
                <button id="btnExport" name="excel" class="btn-small" type="button">Exportar</button>
            </div>
        </div>
        <script>
            $(document).ready(function () {
                $(document).on('click', '#btnExport', function () {
                    $("#selectedsubfilters").val("");
                    $("select.tablesorter-filter").each(function (index, element) {
                        if ($("option:selected", this).attr('parsed') != undefined)
                            $("#selectedsubfilters").val($("#selectedsubfilters").val() + $(this).attr('data-column') + "|ST|" + $("option:selected", this).val() + "|T,T|");
                        else
                            $("#selectedsubfilters").val($("#selectedsubfilters").val() + $(this).attr('data-column') + "|ST||T,T|");
                    });
                    $('#exportForm').submit();
                });
            });
        </script>
    }
}

@using (Html.BeginForm("ReporteTrackingTS", "Reportes", FormMethod.Post))
{
    @Html.AntiForgeryToken()
    System.Globalization.TextInfo myTI = new System.Globalization.CultureInfo("en-US", false).TextInfo;
    System.Globalization.DateTimeFormatInfo formatoFecha = System.Globalization.CultureInfo.CurrentCulture.DateTimeFormat;
    DateTime newDate = DateTime.Now;
    int yeard = newDate.Year;
    int year1 = yeard + 1;
    int year2 = yeard + 2;
    int yearback = yeard - 1;
    int yearback2 = yeard - 2;
    <div class="">
        <div class="col s12 right-align">
            <button class="btn-small" id="sendbtn" type="submit" name="action">Consultar</button>
            @*<input class="btn-small" id="id_excel" type="button" value="Generar Excel" name="action" />*@
        </div>
    </div>
    @* FILTROS *@
    <div class="card-panel">
        <div class="row">
            <div class="row" style="margin-bottom:0;">
                @* FILTRO CO. CODE *@
                @* OPCIONAL *@
                <div class="input-field col s2 m2 l2">
                    <select multiple name="selectcocode" id="selectcocode" class="comcode select_all">
                        @try
                        {
                            foreach (var item in ViewBag.sociedad)
                            {
                                <option value="@item.BUKRS">@item.BUKRS</option>
                            }
                        }
                        catch (Exception)
                        {
                        }
                    </select>
                    <label id="lbl_cocode">Co. Code</label>
                    <script>
                        $(document).on('change', '#selectcocode', function () {
                            $("#selectCliente").val("");
                            //if ($("#selectcocode").val() != null) {
                            //    if ($("#selectcocode").val().length > 0) {
                            //        $("#selectCliente").removeAttr("disabled");
                            //    } else {
                            //        $("#selectCliente").attr("disabled", "disabled");
                            //    }
                            //}
                        });
                    </script>
                </div>
                @* FILTRO PERIODO *@
                @* OBLIGATORIO *@
                <div class="input-field col s2 m2 l2">
                    <select name="selectperiod" id="selectperiod" required="">
                        @try
                        {
                            foreach (var periodo in ViewBag.periodo)
                            {
                                var concat = "P";
                                if (Int32.Parse(periodo.ACTIVO) == 1)
                                {
                                    Console.Write(periodo.ACTIVO);
                                    <option value="@periodo.ID">@(concat + periodo.ID)</option>

                                }
                                else { }
                            }
                        }
                        catch (Exception)
                        {
                        }
                    </select>
                    <label id="lbl_periodo">Periodo *</label>
                </div>
                @* FILTRO AÑO *@
                @* OBLIGATORIO *@
                <div class="input-field col s2 m2 l2">
                    <select name="selectyear" id="selectyear" required="">
                        @if (yeard == DateTime.Now.Year)
                        {
                            <option value="@yeard">@yeard</option>
                            <option value="@year1">@year1</option>
                            <option value="@year2">@year2</option>
                        }
                        else
                        {
                            <option value="@yearback2">@yearback2</option>
                            <option value="@yearback">@yearback</option>
                            <option value="@yeard">@yeard</option>
                        }
                    </select>
                    <label id="lbl_anio">Año *</label>
                </div>
                @* FILTRO USUARIO *@
                @* OPCIONAL *@
                <div class="input-field col s2 m2 l2">
                    <select name="selectUsuarioF" id="selectUsuarioF">
                        <option value=""></option>
                        @try
                        {
                            foreach (var id in ViewBag.UsuarioF)
                            {
                                <option value="@id.ID">@(id.ID)</option>
                            }

                        }
                        catch (Exception)
                        {
                        }
                    </select>
                    <label id="lbl_usuario">Usuario</label>
                </div>
                @* FILTRO CLIENTE *@
                @* OPCIONAL *@
                <div class="input-field col s2 m2 l2">
                    <input class="form-control  text-box single-line ui-autocomplete-input" id="selectCliente" name="selectCliente" type="text" value="" autocomplete="off" style="">
                    <label id="label_period">Cliente</label>
                    <link href="~/Content/autocomplete.css" rel="stylesheet" />
                    <script src="~/Scripts/autocomplete1.10.2.js"></script>
                    <script src="~/Scripts/autocomplete1.11.4.js"></script>
                    <script>
                        var auto = $.noConflict(true);
                        auto(document).ready(function () {
                            auto("#selectCliente").autocomplete({
                                source: function (request, response) {
                                    var vcocode = $("#selectcocode").val();
                                    if (vcocode != null) {
                                        vcocode = vcocode.join(',');
                                    }
                                    auto.ajax({
                                        url: "../Listas/ReportesFiltroCliente",
                                        type: "GET",
                                        dataType: "json",
                                        data: { Prefix: request.term, cocodes: vcocode },
                                        success: function (data) {
                                            response(auto.map(data, function (item) {
                                                return { label: item.KUNNR + " - " + item.NAME1, value: item.KUNNR };
                                            }))
                                        },
                                    })
                                },
                                messages: {
                                    noResults: '',
                                    results: function (resultsCount) { }
                                },
                                change: function (e, ui) {
                                    if (!(ui.item)) {
                                        e.target.value = "";
                                    }
                                },
                                select: function (event, ui) {
                                    var label = ui.item.label;
                                    var value = ui.item.value;
                                    //selectCliente(value);
                                }
                            });
                        });
                    </script>
                </div>
                @* FILTRO TIPO DE SOLICITUD *@
                @* OPCIONAL *@
                <div class="input-field col s2 m2 l2">
                    <input class="form-control  text-box single-line ui-autocomplete-input" id="selectTipoSolicitud" name="selectTipoSolicitud" type="text" value="" autocomplete="off" style="">
                    <script>
                        auto(document).ready(function () {
                            auto("#selectTipoSolicitud").autocomplete({
                                source: function (request, response) {
                                    auto.ajax({
                                        url: "../Listas/TiposSolicitud",
                                        type: "GET",
                                        dataType: "json",
                                        data: { Prefix: request.term }, //spras_id: 'ES'
                                        success: function (data) {
                                            response(auto.map(data, function (item) {
                                                return { label: item.TSOL_ID + " - " + item.TXT50, value: item.TSOL_ID };
                                            }))
                                        },
                                        //error: function (data) {
                                        //}
                                    })
                                },
                                messages: {
                                    noResults: '',
                                    results: function (resultsCount) { }
                                },
                                change: function (e, ui) {
                                    if (!(ui.item)) {
                                        e.target.value = "";
                                    }
                                },
                                select: function (event, ui) {
                                    var label = ui.item.label;
                                    var value = ui.item.value;
                                    //selectCliente(value);
                                }
                            });
                        })
                    </script>
                    <label id="label_period">Tipo de solicitud</label>
                </div>
            </div>
        </div>
        <script>
            var elem = document.querySelectorAll('select');
            var options = [];
            var instance = M.FormSelect.init(elem, options);
        </script>
        <script src="//code.jquery.com/jquery-1.12.4.js"></script>
        <script src="//code.jquery.com/jquery-2.0.3.min.js"></script>
        <link href="~/Content/dataTable.css" rel="stylesheet" />
        @*<script src="//cdn.datatables.net/1.10.16/js/jquery.dataTables.min.js"></script>*@
        <script src="//cdn.datatables.net/1.10.16/js/dataTables.material.min.js"></script>
        @*<link href="~/Content/dataTable.css" rel="stylesheet" />
            <link href="//cdn.datatables.net/1.10.16/css/dataTables.material.min.css" rel="stylesheet" />*@
        <script src="~/Scripts/subfilters/jquery.tablesorter.js"></script>
        <link href="~/Scripts/subfilters/jquery.tablesorter.pager.css" rel="stylesheet" />
        <script src="~/Scripts/subfilters/jquery.tablesorter.pager.js"></script>
        <script src="~/Scripts/subfilters/widget-filter.js"></script>
        <script src="~/Scripts/tablesort/tableToExcel.js"></script>
        @*<script>
                var elem = document.querySelector('select');
                var options = [];
                var instance = M.FormSelect.init(elem, options);
            </script>*@
    </div>
    @* FIN FILTROS *@
    if (ViewBag.display)
    {
        <script>
            $(document).ready(function () {
                $(".grid thead td").click(function () {
                    showFilterOption(this);
                });
                //$("#excelBtn").click(function () {
                //    $("#table").tableExport();
                //});
                $('select.select_all').siblings('ul').prepend('<li id=sm_select_all id="filters_all"><span>Todas Las Opciones</span></li>');
                $('li#sm_select_all').on('click', function () {
                    var jq_elem = $(this),
                        jq_elem_span = jq_elem.find('span'),
                        select_all = jq_elem_span.text() == 'Todas Las Opciones',
                        set_text = select_all ? 'Borrar Selección' : 'Todas Las Opciones';
                    jq_elem_span.text(set_text);
                    jq_elem.siblings('li').filter(function () {
                        return $(this).find('input').prop('checked') != select_all;
                    }).click();
                });

                $("#id_excel").click(function () {
                    $("#table").trigger("filterReset");
                    $('#table').trigger('destroyPager');
                    $('#table').trigger('destroy');
                    var pager = $('#table tfoot').html();
                    $('#table tfoot').html("");
                    tableToExcel('table', 'Reporte Tracking TS');
                    $('#table tfoot').html(pager);
                    $('#table').tablesorter({
                        theme: "materialize",
                        widthFixed: true,
                        widgets: ["filter", "zebra"],
                        widgetOptions: {
                            zebra: ["even", "odd"],
                            filter_reset: ".reset",
                            filter_cssFilter: ["", "", "browser-default"]
                        }
                    }).tablesorterPager({
                        container: $(".ts-pager"),
                        cssGoto: ".pagenum",
                        removeRows: true,
                        output: '{startRow} - {endRow} / {filteredRows} ({totalRows})'
                    });
                });
            });
            $(function () {
                $("#table").tablesorter({
                    theme: "materialize",
                    widthFixed: true,
                    // widget code contained in the jquery.tablesorter.widgets.js file
                    // use the zebra stripe widget if you plan on hiding any rows (filter widget)
                    widgets: ["filter", "zebra"],
                    widgetOptions: {
                        // using the default zebra striping class name, so it actually isn't included in the theme variable above
                        // this is ONLY needed for materialize theming if you are using the filter widget, because rows are hidden
                        zebra: ["even", "odd"],
                        // reset filters button
                        filter_reset: ".reset",
                        // extra css class name (string or array) added to the filter element (input or select)
                        // select needs a "browser-default" class or it gets hidden
                        filter_cssFilter: ["", "", "browser-default"]
                    }
                })
                    .tablesorterPager({
                        // target the pager markup - see the HTML block below
                        container: $(".ts-pager"),
                        // target the pager page select dropdown - choose a page
                        cssGoto: ".pagenum",
                        // remove rows from the table to speed up the sort of large tables.
                        // setting this to false, only hides the non-visible rows; needed if you plan to add/remove rows with the pager enabled.
                        removeRows: true,
                        // output string - default is '{page}/{totalPages}';
                        // possible variables: {page}, {totalPages}, {filteredPages}, {startRow}, {endRow}, {filteredRows} and {totalRows}
                        output: '{startRow} - {endRow} / {filteredRows} ({totalRows})'
                    });
            });
            var tableToExcel = (function () {
                var uri = 'data:application/vnd.ms-excel;base64,'
                    , template = '<html xmlns:o="urn:schemas-microsoft-com:office:office" xmlns:x="urn:schemas-microsoft-com:office:excel" xmlns="http://www.w3.org/TR/REC-html40"><meta http-equiv="content-type" content="application/vnd.ms-excel; charset=UTF-8"><head><!--[if gte mso 9]><xml><x:ExcelWorkbook><x:ExcelWorksheets><x:ExcelWorksheet><x:Name>{worksheet}</x:Name><x:WorksheetOptions><x:DisplayGridlines/></x:WorksheetOptions></x:ExcelWorksheet></x:ExcelWorksheets></x:ExcelWorkbook></xml><![endif]--></head><body><table>{table}</table></body></html>'
                    , base64 = function (s) { return window.btoa(unescape(encodeURIComponent(s))) }
                    , format = function (s, c) { return s.replace(/{(\w+)}/g, function (m, p) { return c[p]; }) }
                return function (table, name) {
                    if (!table.nodeType) table = document.getElementById(table)
                    var ctx = { worksheet: name || 'Worksheet', table: table.innerHTML }
                    window.location.href = uri + base64(format(template, ctx))
                }
            })()
        </script>
        <div style="width:100%;height:50vh;overflow:scroll;">
            <table class="table mdl-data-table striped grid centered table" id="table" style="width:100%;">
                <thead>
                    <tr>
                        <th class="filter-select" data-placeholder="Todas las opciones" id="head_code">Co. Code</th>
                        <th class="filter-select" data-placeholder="Todas las opciones" id="head_pais">País</th>
                        <th class="filter-select" data-placeholder="Todas las opciones" id="head_num_solicitud">Num solicitud</th>
                        <th class="filter-select" data-placeholder="Todas las opciones" id="head_num_cliente">Num cliente</th>
                        <th class="filter-select" data-placeholder="Todas las opciones" id="head_cliente">Cliente</th>
                        <th class="filter-select" data-placeholder="Todas las opciones" id="head_tipo_solicitud">Tipo Solicitud</th>
                        <th class="filter-select" data-placeholder="Todas las opciones" id="head_status">Status</th>
                        <th class="filter-select" data-placeholder="Todas las opciones" id="head_fecha">Fecha</th>
                        <th class="filter-select" data-placeholder="Todas las opciones" id="head_hora">Hora</th>
                        <th class="filter-select" data-placeholder="Todas las opciones" id="head_tiempo">Tiempo Transcurrido</th>
                        <th class="filter-select" data-placeholder="Todas las opciones" id="head_semana">Semana</th>
                        <th class="filter-select" data-placeholder="Todas las opciones" id="head_periodo">Periodo</th>
                        <th class="filter-select" data-placeholder="Todas las opciones" id="head_ano">Año</th>
                        <th class="filter-select" data-placeholder="Todas las opciones" id="head_usuario">Usuario</th>
                        <th class="filter-select" data-placeholder="Todas las opciones" id="head_rol">Rol</th>
                        <th class="filter-select" data-placeholder="Todas las opciones" id="head_usuario_accion">Usuario Acción</th>
                        <th class="filter-select" data-placeholder="Todas las opciones" id="head_comentario">Comentario</th>
                        <th class="filter-select" data-placeholder="Todas las opciones" id="head_correcciones">Número correcciones Solicitud</th>
                    </tr>
                </thead>
                <tfoot>
                    @*<tr>
                            <th class="filter-select" data-placeholder="Todas las opciones" id="head_code">Co. Code</th>
                            <th class="filter-select" data-placeholder="Todas las opciones" id="head_pais">País</th>
                            <th class="filter-select" data-placeholder="Todas las opciones" id="head_num_solicitud">Num solicitud</th>
                            <th class="filter-select" data-placeholder="Todas las opciones" id="head_num_cliente">Num cliente</th>
                            <th class="filter-select" data-placeholder="Todas las opciones" id="head_cliente">Cliente</th>
                            <th class="filter-select" data-placeholder="Todas las opciones" id="head_tipo_solicitud">Tipo Solicitud</th>
                            <th class="filter-select" data-placeholder="Todas las opciones" id="head_status">Status</th>
                            <th class="filter-select" data-placeholder="Todas las opciones" id="head_fecha">Fecha</th>
                            <th class="filter-select" data-placeholder="Todas las opciones" id="head_hora">Hora</th>
                            <th class="filter-select" data-placeholder="Todas las opciones" id="head_tiempo">Tiempo Transcurrido</th>
                            <th class="filter-select" data-placeholder="Todas las opciones" id="head_semana">Semana</th>
                            <th class="filter-select" data-placeholder="Todas las opciones" id="head_periodo">Periodo</th>
                            <th class="filter-select" data-placeholder="Todas las opciones" id="head_ano">Año</th>
                            <th class="filter-select" data-placeholder="Todas las opciones" id="head_usuario">Usuario</th>
                            <th class="filter-select" data-placeholder="Todas las opciones" id="head_rol">Rol</th>
                            <th class="filter-select" data-placeholder="Todas las opciones" id="head_usuario_accion">Usuario Acción</th>
                            <th class="filter-select" data-placeholder="Todas las opciones" id="head_comentario">Comentario</th>
                            <th class="filter-select" data-placeholder="Todas las opciones" id="head_correcciones">Número correcciones Solicitud</th>
                        </tr>*@
                    <!-- include "tablesorter-ignoreRow" class for pager rows in thead -->
                    <tr class="tablesorter-ignoreRow">
                        <th colspan="2" class="ts-pager form-horizontal">
                            <button type="button" class="btn first"><i class="small material-icons">first_page</i></button>
                            <button type="button" class="btn prev"><i class="small material-icons">navigate_before</i></button>
                            <span class="pagedisplay"></span>
                            <!-- this can be any element, including an input -->
                            <button type="button" class="btn next"><i class="small material-icons">navigate_next</i></button>
                            <button type="button" class="btn last"><i class="small material-icons">last_page</i></button>
                            <div style="padding:0 78% 0 0;">
                                <label class="btn_length" id="por_pag">Ver por página</label>
                                <select class="pagesize" id="selecc" title="Select page size">
                                    <option selected="selected" value="10">10</option>
                                    <option value="20">20</option>
                                    <option value="30">30</option>
                                    <option value="40">40</option>
                                    <option value="50">50</option>
                                </select>
                                <label class="label_pag">Ir a Página</label>
                                <select class="pagenum browser-default" title="Select page number"></select>
                            </div>
                        </th>
                        <th colspan="16"></th>
                    </tr>
                </tfoot>
                <tbody>
                    @foreach (var itemvar in ViewBag.tabla_reporte)
                    {
                        TAT001.Models.ReportesModel.TrackingTS item = itemvar.GetType().GetProperty("tracking").GetValue(itemvar, null);
                        <tr>
                            <td>@item.CO_CODE </td>
                            <td>@item.PAIS </td>
                            @*<td onclick="document.location='@Url.Action(" Details", "Solicitudes" , new { id=item.NUMERO_SOLICITUD })'" style="cursor:pointer">@item.NUMERO_SOLICITUD </td>*@
                            <td><a href="@Url.Action("Details", "Solicitudes", new { id = item.NUMERO_SOLICITUD })" style="cursor:pointer">@item.NUMERO_SOLICITUD </a></td>
                            <td>@item.NUMERO_CLIENTE </td>
                            <td>@item.CLIENTE </td>
                            <td>@item.TIPO_SOLICITUD </td>
                            <td>
                                @{
                                    //string est = (Html.DisplayFor(modelItem => item.f.STATUS)).ToString();

                                    //TAT001.Services.Estatus c = new TAT001.Services.Estatus();
                                    //c.getText(est, item.NUMERO_SOLICITUD);
                                }
                                @*@c.getText(est, item.NUMERO_SOLICITUD)*@
                                @item.STATUS_STRING
                            </td>
                            <td>@item.FECHA_STRING </td>
                            <td>@item.HORA_STRING </td>
                            <td>@item.TIEMPO_TRANSCURRIDO_STRING </td>
                            <td>@item.SEMANA </td>
                            <td>@item.PERIODO </td>
                            <td>@item.ANIO </td>
                            <td>@item.USUARIO </td>
                            <td>@item.ROL </td>
                            <td>@item.USUARIO_ACCION </td>
                            <td>@item.COMENTARIO </td>
                            <td>@item.NUMERO_CORRECCIONES_STRING </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    }
    else { }
    <style>
        .dataTables_length {
            display: none;
        }

        .dataTables_filter {
            display: none;
        }

        .dataTables_scrollHeadInner, .mdl-data-table {
            width: 100%;
        }

        ul {
            padding-left: 20px;
        }

        .btn {
            font-size: .8em;
        }
        /* not sure why this is needed... */
        .material-icons {
            vertical-align: bottom;
        }

        select {
            display: block !important;
        }

        th {
            text-align: center !important;
        }
    </style>
}