@model TAT001.Entities.PAGINA
@{
    //ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.pagina_r = 502;
    ViewBag.carpeta_r = 500;
}
<div class="row">
    <div class="col s12 right-align">
        @*@Html.ActionLink("Edit", "Edit", new { id = Model.ID }, new { @class = "btn-small" })*@
        @Html.ActionLink("Back to List", "Index", null, new { @class = "btn-small" })
    </div>
</div>
<div class="row">
    <div class="col s6">
        <div class="card-panel">
            <div class="row">
                <div class="input-field col s12">
                    @Html.EditorFor(model => model.URL, new { htmlAttributes = new { @disabled = "disabled" } })
                    @Html.LabelFor(model => model.URL)
                </div>
                @*<div class="input-field col s12">
                        @Html.EditorFor(model => model.TITULO, new { htmlAttributes = new { @class = "disabled" } })
                        @Html.LabelFor(model => model.TITULO)
                    </div>*@
                <div class="input-field col s12">
                    @Html.EditorFor(model => model.ICON, new { htmlAttributes = new { @disabled = "disabled" } })
                    @Html.LabelFor(model => model.ICON)
                </div>
                @*<div class="col s6">
                        @Html.DisplayNameFor(model => model.MOSTRAR)
                        <div class="switch">
                            <label>
                                <input type="checkbox" disabled="disabled" name="MOSTRAR" value="true" id="MOSTRAR" @Html.Raw((Model.MOSTRAR) ? "checked=\"checked\"" : "") />
                                <span class="lever"></span>
                            </label>
                        </div>
                    </div>*@
            </div>
        </div>
    </div>
    <div class="col s6">
        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()
            <div class="card-panel">
                <h5>Traducciones</h5>
                <div class="row">
                    @foreach (TAT001.Entities.SPRA s in ViewBag.spras)
                    {
                        @*@foreach (var item in Model.PAGINATs)
                            {
                                if (s.ID == item.SPRAS_ID)
                                {*@
                        <div class=" input-field col s12">
                            @*@Html.TextBoxFor(modelItem => item.TXT50, new { @id = "A" + item.SPRAS_ID, name = "A" + item.SPRAS_ID })*@
                            @*@Html.EditorFor(modelItem => item.TXT50, null, item.SPRAS_ID, new { htmlAttributes = new { @id = "A" + item.SPRAS_ID } })*@
                            @if (Model.PAGINATs.Where(a => a.SPRAS_ID.Equals(s.ID)).FirstOrDefault() == null)
                            {
                                <input type="text" id="@("A" + s.ID)" name="@(s.ID)" value="" />
                            }
                            else
                            {
                                <input type="text" id="@("A" + s.ID)" name="@(s.ID)" value="@Model.PAGINATs.Where(a=>a.SPRAS_ID.Equals(s.ID)).FirstOrDefault().TXT50" />
                            } <label for="@("A" + s.ID)">@s.DESCRIPCION</label>
                        </div>
                        @*}
                            }*@
                    }
                    <div class="row right">
                        <div class="col s12">
                            <input type="submit" value="Save" class="btn btn-default" />
                        </div>
                    </div>
                </div>
            </div>
        }
    </div>
</div>
<script>
    //var elem = document.getElementById('sel-act');
    //var options = [];
    //var instance = M.FormSelect.init(elem, options);
    //var elem = document.getElementById('sel-mos');
    //var instance = M.FormSelect.init(elem, options);
    document.getElementsByName("MOSTRAR").remove();
</script>
