@model IEnumerable<TAT001.Entities.PAGINA>

@{
    //ViewBag.Title = "Páginas";
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.pagina_r = 502;
    ViewBag.carpeta_r = 500;
}
<div class="card-panel">
    <div class="row" style="margin-bottom:0;">
        <div class="input-field col s3 m3 l3">
            <select id="selecc">
                <option value="10" selected>10</option>
                <option value="25">25</option>
                <option value="50">50</option>
                <option value="100">100</option>
            </select>
            <label id="btn_length">Ver por página</label>
        </div>
        <div class="input-field col s3 m3 l3 offset-l6 offset-m6">
            <input type="text" class="global_filter" id="global_filter">
            <label for="global_filter" id="lbl_search">Buscar</label>
        </div>
    </div>
    <script>
        var elem = document.querySelector('select');
        var options = [];
        var instance = M.FormSelect.init(elem, options);
    </script>
    <script src="//code.jquery.com/jquery-1.12.4.js"></script>
    <script src="//cdn.datatables.net/1.10.16/js/jquery.dataTables.min.js"></script>
    <script src="//cdn.datatables.net/1.10.16/js/dataTables.material.min.js"></script>
    @*<link href="//cdnjs.cloudflare.com/ajax/libs/material-design-lite/1.1.0/material.min.css" rel="stylesheet" />*@
    <link href="~/Content/dataTable.css" rel="stylesheet" />
    <link href="//cdn.datatables.net/1.10.16/css/dataTables.material.min.css" rel="stylesheet" />
    <div style="width:100%;">
        <table class="table mdl-data-table striped" id="table" style="width:100%;">
            <thead>
                <tr>
                    <th>
                        <div id="lbl_url">@Html.DisplayNameFor(model => model.URL)</div>
                    </th>
                    <th>
                        <div id="lbl_title">@Html.DisplayNameFor(model => model.TITULO)</div>
                    </th>
                    <th>
                        <div id="lbl_icon">@Html.DisplayNameFor(model => model.ICON)</div>
                    </th>
                    <th></th>
                </tr>
            </thead>
            <tfoot>
                <tr>
                    <th>
                        <div id="lbl_urlf"></div>
                    </th>
                    <th>
                        <div id="lbl_titlef"></div>
                    </th>
                    <th>
                        <div id="lbl_iconf"></div>
                    </th>
                    <th></th>
                </tr>
            </tfoot>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr onclick="document.location = '@Url.Action("Details", new { id = item.ID })'" style="cursor:pointer">
                        <td>
                            @Html.DisplayFor(modelItem => item.URL)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.PAGINATs.Where(a => a.SPRAS_ID.Equals(Session["spras"].ToString())).FirstOrDefault().TXT50)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.ICON)
                        </td>
                        <td>
                            @*@Html.ActionLink("Edit", "Edit", new { id = item.ID }) |*@
                            @*<a href="@Url.Action("Details", "Paginas",new { id = item.ID })">
                                    <i class='material-icons green-text'>description</i>
                                </a>*@
                            @*@Html.ActionLink("Warnings", "Index", "Warnings", new { id = item.ID }, htmlAttributes: new { @id = "btn-" + item.ID })*@
                            <a href="@Url.Action("Index", "Warnings",new { id = item.ID })">
                                <i class='material-icons red-text'>warning</i>
                            </a>
                            <a href="@Url.Action("Index", "Textos",new { id = item.ID })">
                                <i class='material-icons grey-text'>text_fields</i>
                            </a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>
<script>
    $(document).ready(function () {
        //var i = 0;
        //$('#table tfoot th').each(function () {
        //    i++;
        //    var title = $(this).text();
        //    $(this).html('<input type="text" id="lbl_search' + i + '" />');
        //});
        var table = $('#table').DataTable({
            //paging: false,
            //searching: false
            //stateSave: true,
            //scrollY: "50vh",
            //scrollCollapse: true,
            //language: {
            //    lengthMenu: "Display _MENU_ records per page",
            //    zeroRecords: "No se encontraron datos",
            //    info: "Página _PAGE_ de _PAGES_",
            //    infoEmpty: "No hay datos",
            //    infoFiltered: "(Filtrado de _MAX_ líneas totales)",
            //    search: "Buscar"
            //},
            language: {
                "url": "../Scripts/lang/@Session["spras"].ToString()"+".json"
            },
            columnDefs: [
                {
                    targets: [0, 1, 2],
                    className: 'mdl-data-table__cell--non-numeric'
                }
            ]
        });
        //table.columns().every(function () {
        //    var that = this;
        //    $('input', this.footer()).on('keyup change', function () {
        //        if (that.search() !== this.value) {
        //            that
        //                .search(this.value)
        //                .draw();
        //        }
        //    });
        //})
        var a = $('#selecc').val();
        table.page.len(a).draw();
        $('#selecc').on('change', function () {
            table.page.len(this.value).draw();
        });

        $('input.global_filter').on('keyup click', function () {
            filterGlobal();
        });
    });

    function filterGlobal() {
        $('#table').DataTable().search(
            $('#global_filter').val()).draw();
    }
</script>
<style>
    .dataTables_length {
        display: none;
    }

    .dataTables_filter {
        display: none;
    }

    .dataTables_scrollHeadInner, .mdl-data-table {
        width: 100%;
    }
</style>