@model TAT001.Models.ModificacionesGlobalesViewModel
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.pagina_r = 240;
    ViewBag.carpeta_r = 200;
}
<script>
    var root = "@Url.Content("~")";
</script>
<style>
    .dataTables_length {
        display: none;
    }

    .dataTables_filter {
        display: none;
    }

    .dataTables_scrollHeadInner, .mdl-data-table {
        width: 100%;
    }
</style>

<link href="~/Content/autocomplete.css" rel="stylesheet" />
<link href="~/Content/dataTable.css" rel="stylesheet" />
<link href="//cdn.datatables.net/1.10.16/css/dataTables.material.min.css" rel="stylesheet" />
<script src="//cdn.datatables.net/1.10.16/js/jquery.dataTables.min.js"></script>
<script src="//cdn.datatables.net/1.10.16/js/dataTables.material.min.js"></script>
<script src="~/Scripts/autocomplete1.11.4.js"></script>
<script src="//code.jquery.com/jquery-1.12.4.js"></script>
<script type="text/javascript" src="~/Scripts/moment.min.js"></script>
<script type="text/javascript" src="~/Scripts/fnCommon.js"></script>
<div class="row">
    <div class="col s12">
        <ul class="tabs">
            <li class="tab col s3"><a class="active" href="#modGlobales"><label id="lbl_mod_globales"></label> </a></li>
            <li class="tab col s3"><a href="#modAutorizador"><label id="lbl_mod_autorizador"></label></a></li>
        </ul>
    </div>
    <div id="modGlobales" class="col s12">
        <div class="card-panel">
            <div class="row">
                <div class="col s12">
                    <div class="row">
                        <label class="col s2"><span class="lbl_coCode"></span></label>
                        <div class="col s4">
                            @Html.DropDownListFor(model => model.filtros.SOCIEDAD_ID, Model.sociedades, new { @id = "SOCIEDAD_ID_1" })
                        </div>
                    </div>
                    <div class="row">
                        <label class="col s2"><span class="lbl_rango_sol"></span></label>
                        <div class="col s2">
                            @Html.EditorFor(model => model.filtros.NUM_DOCI, new { htmlAttributes = new { @maxlength = 18, @id = "NUM_DOCI_1" } })
                        </div>
                        <div class="col s2">
                            @Html.EditorFor(model => model.filtros.NUM_DOCF, new { htmlAttributes = new { @maxlength = 18, @id = "NUM_DOCF_1" } })
                        </div>
                    </div>
                    <div class="row">
                        <label class="col s2"><span class="lbl_rango_fecha"></span></label>
                        <div class="col s2">
                            @Html.EditorFor(model => model.filtros.FECHAI, new { htmlAttributes = new { @class = "datepicker", @id = "FECHAI_1" } })
                        </div>
                        <div class="col s2">
                            @Html.EditorFor(model => model.filtros.FECHAF, new { htmlAttributes = new { @class = "datepicker", @id = "FECHAF_1" } })
                        </div>
                    </div>
                    <div class="row">
                        <label class="col s2"><span class="lbl_agente"></span></label>
                        <div class="col s2">
                            @Html.EditorFor(model => model.filtros.USUARIO_ID, new { htmlAttributes = new { @maxlength = 18, @id = "USUARIO_ID_1" } })
                        </div>
                    </div>
                    <div class="row">
                        <label class="col s2"><span class="lbl_cliente"></span></label>
                        <div class="col s2">
                            @Html.EditorFor(model => model.filtros.KUNNR, new { htmlAttributes = new { @maxlength = 10, @id = "KUNNR_1" } })
                        </div>
                        <div class="col s2">
                            <button id="btn_buscar_1" class="btn btn-small" onclick="ListModSolicitudes()"><span class="lbl_search"></span></button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="card-panel">
            <div style="width:100%;" id="listModSolicitudes">
            </div>
        </div>
    </div>
    <div id="modAutorizador" class="col s12">
        <div class="card-panel">
            <div class="row">
                <div class="col s12">
                    <div class="row">
                        <label class="col s2"><span class="lbl_coCode"></span></label>
                        <div class="col s4">
                            @Html.DropDownListFor(model => model.filtros.SOCIEDAD_ID, Model.sociedades, new { @id = "SOCIEDAD_ID_2" })
                        </div>
                    </div>
                    <div class="row">
                        <label class="col s2"><span id="lbl_autorizador"></span></label>
                        <div class="col s2">
                            @Html.EditorFor(model => model.filtros.USUARIO_ID, new { htmlAttributes = new { @maxlength = 18, @id = "USUARIOA_ID_2" } })
                        </div>
                    </div>
                    <div class="row">
                        <label class="col s2"><span class="lbl_rango_sol"></span></label>
                        <div class="col s2">
                            @Html.EditorFor(model => model.filtros.NUM_DOCI, new { htmlAttributes = new { @maxlength = 18, @id = "NUM_DOCI_2" } })
                        </div>
                        <div class="col s2">
                            @Html.EditorFor(model => model.filtros.NUM_DOCF, new { htmlAttributes = new { @maxlength = 18, @id = "NUM_DOCF_2" } })
                        </div>
                    </div>
                    <div class="row">
                        <label class="col s2"><span class="lbl_rango_fecha"></span></label>
                        <div class="col s2">
                            @Html.EditorFor(model => model.filtros.FECHAI, new { htmlAttributes = new { @class = "datepicker", @id = "FECHAI_2" } })
                        </div>
                        <div class="col s2">
                            @Html.EditorFor(model => model.filtros.FECHAF, new { htmlAttributes = new { @class = "datepicker", @id = "FECHAF_2" } })
                        </div>
                    </div>
                    <div class="row">
                        <label class="col s2"><span class="lbl_agente"></span></label>
                        <div class="col s2">
                            @Html.EditorFor(model => model.filtros.USUARIO_ID, new { htmlAttributes = new { @maxlength = 18, @id = "USUARIO_ID_2" } })
                        </div>
                    </div>
                    <div class="row">
                        <label class="col s2"><span class="lbl_cliente"></span></label>
                        <div class="col s2">
                            @Html.EditorFor(model => model.filtros.KUNNR, new { htmlAttributes = new { @maxlength = 10, @id = "KUNNR_2" } })
                        </div>
                        <div class="col s2">
                            <button id="btn_buscar_2" class="btn btn-small" onclick="ListModAutorizador()"><span class="lbl_search"></span></button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="card-panel">
            <div style="width:100%;" id="listModAutorizador">
            </div>
        </div>
    </div>
</div>
<script>
    var spras_id ="@ViewBag.spras_id";
    //---- Inicializador de componentes Materialize----
    fnCommon.materializeInit('datepicker', spras_id);
    fnCommon.materializeInit('select');
    fnCommon.materializeInit('tabs');

    // Remover Fecha y Hora
    var sinFecha = "01/01/0001";
    document.querySelectorAll('.datepicker').forEach(function (datePicker) {
    if (datePicker.value.indexOf(sinFecha)>-1) { datePicker.value = ''; }
    });
    fnCommon.setDateRange('FECHAI_1', 'FECHAF_1', null);
    fnCommon.setDateRange('FECHAF_1', null, 'FECHAI_1');
    fnCommon.setDateRange('FECHAI_2', 'FECHAF_2', null);
    fnCommon.setDateRange('FECHAF_2', null, 'FECHAI_2');


    function ListModAutorizador() {
        var num_doci = $("#NUM_DOCI_2").val(),
            num_docf = $("#NUM_DOCF_2").val(),
            fechai = $("#FECHAI_1").val(),
            fechaf = $("#FECHAF_1").val(),
            kunnr = $("#KUNNR_2").val(),
            usuarioa_id = $("#USUARIOA_ID_2").val(),
            usuario_id = $("#USUARIO_ID_2").val(),
         sociedad_id = $("#SOCIEDAD_ID_2").val();

        if (!usuarioa_id){
            $("#USUARIOA_ID_2").addClass("invalid");
            return;
        }
        $("#USUARIOA_ID_2").removeClass("invalid");
        fnCommon.showProcess(true);
        $.ajax({
            url: root + 'ModificacionesGlobales/ListModAutorizador?'
                + 'sociedad_id=' + sociedad_id + '&num_doci=' + num_doci
                + '&&num_docf=' + num_docf + '&&fechai=' + fechai + '&&fechaf=' + fechaf
                + '&&kunnr=' + kunnr + '&&usuarioa_id=' + usuarioa_id + '&&usuario_id=' + usuario_id,
            success: function (resultView) {
                if (resultView.isRedirect) {
                    window.location = resultView.redirectUrl;
                } else {
                    fnCommon.showProcess(false);
                    $('#listModAutorizador').html(resultView);
                }
            }
        });
    }

    function ListModSolicitudes() {
        var num_doci = $("#NUM_DOCI_1").val(),
            num_docf = $("#NUM_DOCF_1").val(),
            fechai = $("#FECHAI_1").val(),
            fechaf = $("#FECHAF_1").val(),
            kunnr = $("#KUNNR_1").val(),
            usuario_id = $("#USUARIO_ID_1").val(),
            sociedad_id = $("#SOCIEDAD_ID_1").val();

        fnCommon.showProcess(true);
        $.ajax({
            url: root + 'ModificacionesGlobales/ListModSolicitudes?sociedad_id=' + sociedad_id + '&num_doci=' + num_doci
                + '&&num_docf=' + num_docf + '&&fechai=' + fechai + '&&fechaf=' + fechaf + '&&kunnr=' + kunnr + '&&usuario_id=' + usuario_id,
            success: function (resultView) {
                if (resultView.isRedirect) {
                    window.location = resultView.redirectUrl;
                } else {
                    fnCommon.showProcess(false);
                    $('#listModSolicitudes').html(resultView);
                }
            }
        });
    }
</script>
<script>
    var auto = $.noConflict(true);
    auto(document).ready(function () {
        $("#KUNNR_1").autocomplete({
            source: function (request, response) {
                var sociedad_id = $("#SOCIEDAD_ID_1").val(),
                    usuario = $("#USUARIO_ID_1").val();
                fnCommon.autoAjax(root + "Listas/Clientes", response, { Prefix: request.term, sociedad_id: sociedad_id, usuario: usuario }, function (item) { return { label: (item.KUNNR + " - " + item.NAME1), value: item.KUNNR }; });
            },
            messages: {
                noResults: '',
                results: function (resultsCount) { }
            },
            change: function (e, ui) {
                if (!(ui.item)) {
                    e.target.value = "";
                }
            },
            select: function (event, ui) {
                var label = ui.item.label;
                var value = ui.item.value;
            }
        });
        $("#USUARIO_ID_1").autocomplete(
            {
                source: function (request, response) {
                    var sociedad_id = $("#SOCIEDAD_ID_1").val();
                    fnCommon.autoAjax(root + "Listas/Usuarios", response, { Prefix: request.term, sociedad_id: sociedad_id}, function (item) { return { label: (item.ID + " - " + item.NOMBRE + " " + item.APELLIDO_P + " " + (item.APELLIDO_M == null ? "" : item.APELLIDO_M)), value: item.ID }; });
                },
                messages: {
                    noResults: '',
                    results: function (resultsCount) { }
                },
                change: function (e, ui) {
                    if (!(ui.item)) {
                        e.target.value = "";
                    }
                },
                select: function (event, ui) {
                    var label = ui.item.label;
                    var value = ui.item.value;
                }
            });
        $("#NUM_DOCI_1").autocomplete({
            source: function (request, response) {
                var num_doci = $("#NUM_DOCF_1").val(),
                    sociedad_id = $("#SOCIEDAD_ID_1").val();
                fnCommon.autoAjax(root + "Listas/Solicitudes", response, { Prefix: request.term, num_doci: num_doci, num_docf: null, sociedad_id: sociedad_id }, function (item) { return { label: item.NUM_DOC, value: item.NUM_DOC }; });
            },
            messages: {
                noResults: '',
                results: function (resultsCount) { }
            },
            change: function (e, ui) {
                if (!(ui.item)) {
                    e.target.value = "";
                }
            },
            select: function (event, ui) {
                var label = ui.item.label;
                var value = ui.item.value;
            }
        });
        $("#NUM_DOCF_1").autocomplete({
            source: function (request, response) {
                var num_doci = $("#NUM_DOCI_1").val(),
                    sociedad_id = $("#SOCIEDAD_ID_1").val();
                fnCommon.autoAjax(root + "Listas/Solicitudes", response, { Prefix: request.term, num_doci: num_doci, num_docf: null, sociedad_id: sociedad_id }, function (item) { return { label: item.NUM_DOC, value: item.NUM_DOC }; });
            },
            messages: {
                noResults: '',
                results: function (resultsCount) { }
            },
            change: function (e, ui) {
                if (!(ui.item)) {
                    e.target.value = "";
                }
            },
            select: function (event, ui) {
                var label = ui.item.label;
                var value = ui.item.value;
            }
        });
        // TAB MOD AUTORIZADOR
        $("#KUNNR_2").autocomplete({
            source: function (request, response) {
                var sociedad_id = $("#SOCIEDAD_ID_2").val(),
                    usuario = $("#USUARIO_ID_2").val();
                fnCommon.autoAjax(root + "Listas/Clientes", response, { Prefix: request.term, sociedad_id: sociedad_id, usuario: usuario}, function (item) { return { label: (item.KUNNR + " - " + item.NAME1), value: item.KUNNR }; });
            },
            messages: {
                noResults: '',
                results: function (resultsCount) { }
            },
            change: function (e, ui) {
                if (!(ui.item)) {
                    e.target.value = "";
                }
            },
            select: function (event, ui) {
                var label = ui.item.label;
                var value = ui.item.value;
            }
        });
        $("#USUARIO_ID_2").autocomplete(
            {
                source: function (request, response) {
                    var sociedad_id = $("#SOCIEDAD_ID_2").val();
                    fnCommon.autoAjax(root + "Listas/Usuarios", response, { Prefix: request.term, sociedad_id: sociedad_id }, function (item) { return { label: (item.ID + " - " + item.NOMBRE + " " + item.APELLIDO_P + " " + (item.APELLIDO_M == null ? "" : item.APELLIDO_M)), value: item.ID }; });
                },
                messages: {
                    noResults: '',
                    results: function (resultsCount) { }
                },
                change: function (e, ui) {
                    if (!(ui.item)) {
                        e.target.value = "";
                    }
                },
                select: function (event, ui) {
                    var label = ui.item.label;
                    var value = ui.item.value;
                }
            });
        $("#USUARIOA_ID_2").autocomplete(
            {
                source: function (request, response) {
                    var sociedad_id = $("#SOCIEDAD_ID_2").val();
                    fnCommon.autoAjax(root + "Listas/Usuarios", response, { Prefix: request.term, autorizador: 1, sociedad_id: sociedad_id }, function (item) { return { label: (item.ID + " - " + item.NOMBRE + " " + item.APELLIDO_P + " " + (item.APELLIDO_M == null ? "" : item.APELLIDO_M)), value: item.ID }; });
                },
                messages: {
                    noResults: '',
                    results: function (resultsCount) { }
                },
                change: function (e, ui) {
                    if (!(ui.item)) {
                        e.target.value = "";
                    }
                },
                select: function (event, ui) {
                    var label = ui.item.label;
                    var value = ui.item.value;
                }
            });
        $("#NUM_DOCI_2").autocomplete({
            source: function (request, response) {
                var num_docf = $("#NUM_DOCF_2").val(),
                    usuario_id = $("#USUARIOA_ID_2").val(),
                    sociedad_id = $("#SOCIEDAD_ID_2").val();
                fnCommon.autoAjax(root + "Listas/Solicitudes", response, { Prefix: request.term, sociedad_id: sociedad_id, num_doci: null, num_docf: num_docf, autorizador: true, usuario_id: usuario_id }, function (item) { return { label: item.NUM_DOC, value: item.NUM_DOC }; });
            },
            messages: {
                noResults: '',
                results: function (resultsCount) { }
            },
            change: function (e, ui) {
                if (!(ui.item)) {
                    e.target.value = "";
                }
            },
            select: function (event, ui) {
                var label = ui.item.label;
                var value = ui.item.value;
            }
        });
        $("#NUM_DOCF_2").autocomplete({
            source: function (request, response) {
                var num_doci = $("#NUM_DOCI_2").val(),
                    usuario_id = $("#USUARIOA_ID_2").val(),
                    sociedad_id = $("#SOCIEDAD_ID_2").val();
                fnCommon.autoAjax(root + "Listas/Solicitudes", response, { Prefix: request.term, sociedad_id: sociedad_id, num_doci: num_doci, num_docf: null, autorizador: true, usuario_id: usuario_id }, function (item) { return { label: item.NUM_DOC, value: item.NUM_DOC }; });
            },
            messages: {
                noResults: '',
                results: function (resultsCount) { }
            },
            change: function (e, ui) {
                if (!(ui.item)) {
                    e.target.value = "";
                }
            },
            select: function (event, ui) {
                var label = ui.item.label;
                var value = ui.item.value;
            }
        });
    })


</script>
