@model TAT001.Models.ModificacionesGlobalesViewModel
@using TAT001.Entities
@using (Html.BeginForm("ListModAutorizador", "ModificacionesGlobales", FormMethod.Post, new { @id = "modAutorizadoForm" }))
{
    <div class="col s12 l12 right-align">
        <button type="submit" id="btn_save" class="btn btn-default" disabled></button>
    </div>
    <br />
    <br />
    <script type="text/javascript" src="~/Scripts/jquery.validate.min.js"></script>
    <table class="table mdl-data-table striped" id="tableModAutorizador" style="width:100%; overflow-x: scroll;">
        <thead>
            <tr class="text-left">
                <th id="lbl_num_doc">Num Doc</th>
                <th id="lbl_usuario">Usuario</th>
                <th id="lbl_autorizador">Autorizador</th>
                <th id="lbl_nuevo_autorizador">Nuevo autorizador</th>
            </tr>
        </thead>
        <tbody>
            @{
                for (int i = 0; i < Model.solicitudPorAprobar.Count; i++)
                {
                    @Html.HiddenFor(model => Model.solicitudPorAprobar[i].NUM_DOC)
                    <tr>
                        <td>
                            @Model.solicitudPorAprobar[i].NUM_DOC
                        </td>
                        <td>
                            @Model.solicitudPorAprobar[i].USUARIOD_ID - @Model.solicitudPorAprobar[i].USUARIOA_NOMBRE
                        </td>
                        <td>
                            @Model.solicitudPorAprobar[i].USUARIOA_ID - @Model.solicitudPorAprobar[i].USUARIOA_NOMBRE
                        </td>
                        <td>
                            @if (i == 0)
                            {
                                @Html.EditorFor(model => Model.solicitudPorAprobar[i].USUARIOA_ID_NUEVO, new { htmlAttributes = new { @style = "width: 250px;", @maxlength = 18, @id = "USUARIOA_ID_NUEVO", @required = "" } })
                            }
                            else
                            {
                                @Html.HiddenFor(model => Model.solicitudPorAprobar[i].USUARIOA_ID_NUEVO)
                            }
                        </td>
                    </tr>
                }
            }
        </tbody>
    </table>
    <div>

        @if (ViewBag.textos != null)
        {
            foreach (TEXTO t in ViewBag.textos)
            {
                <script>
                try {
                    var elem = document.getElementById("@t.CAMPO_ID");
                    if (elem.nodeName != 'INPUT' & elem.nodeName != 'SELECT' & elem.nodeName != 'TABLE' & elem.nodeName != 'TEXTAREA')
                    elem.innerHTML = "@t.TEXTOS";
                } catch (e) {
                    try {
                        var divs = document.getElementsByClassName("@t.CAMPO_ID");
                        [].slice.call(divs).forEach(function (div) {
                            if (div.nodeName != 'INPUT' & div.nodeName != 'SELECT' & div.nodeName != 'TABLE' & div.nodeName != 'TEXTAREA')
                            div.innerHTML = "@t.TEXTOS";
                        });
                    }
                    catch (ee) {

                    }
                 }
                </script>
            }
        }
    </div>
}
<script type="text/javascript" src="~/Scripts/fnCommon.js"></script>
<script>
    var registros = "@Model.solicitudPorAprobar.Count"*1;
    fnCommon.formValidation('modAutorizadoForm');
    //Mostrar process
    $('#modAutorizadoForm').submit(function () {
        if (registros > 0 && $("#USUARIOA_ID_NUEVO").val()) {
            document.getElementById("loader").style.display = "flex";
        } else {
            return;
        }

    });

</script>
<script src="//cdn.datatables.net/1.10.16/js/jquery.dataTables.min.js"></script>
<script src="//cdn.datatables.net/1.10.16/js/dataTables.material.min.js"></script>
<script src="//code.jquery.com/jquery-1.12.4.js"></script>
<script>
    //----- Configuracion de Tablas-----
    $(document).ready(function () {
        var root = "@Url.Content("~")",
        spras_id = "@ViewBag.spras_id",
        urlLanguage = root + "Scripts/lang/" + spras_id + ".json";
        fnCommon.configurarTable('tableModAutorizador', '50vh', '50vh', urlLanguage, 'cmbPagModAutorizador','gfilterModAutorizador',[0]);
        if (registros > 0) {
            $('#btn_save').removeAttr('disabled');
        }
    });
</script>
<script src="~/Scripts/autocomplete1.11.4.js"></script>
<script>
    var auto = $.noConflict(true);
    auto(document).ready(function () {
        auto("#USUARIOA_ID_NUEVO").autocomplete(
            {
                source: function (request, response) {
                    var sociedad_id = $("#SOCIEDAD_ID_2").val();
                    fnCommon.autoAjax(root + "Listas/Usuarios", response, { Prefix: request.term, autorizador: 2, sociedad_id: sociedad_id }, function (item) { return { label: (item.ID + " - " + item.NOMBRE + " " + item.APELLIDO_P + " " + (item.APELLIDO_M == null ? "" : item.APELLIDO_M)), value: item.ID }; });
                },
                messages: {
                    noResults: '',
                    results: function (resultsCount) { }
                },
                select: function (event, ui) {
                    var label = ui.item.label;
                    var value = ui.item.value;
                }
            });
    })
</script>