@using TAT001.Entities;
@using PagedList.Mvc
@model TAT001.Models.ProveedorViewModel
<link href="~/Content/PagedList.css" rel="stylesheet" />
<table class="table mdl-data-table striped" id="table" style="width:100%;">
    <thead>
        <tr class="header">
            <th>
                @Html.ActionLink("ID", "List", new { colOrden = "ID", ordenActual = Model.ordenActual, numRegistros = Model.numRegistros, buscar = Model.buscar }, new { @class = "lblId" })
            </th>
            <th>
                @Html.ActionLink("NOMBRE", "List", new { colOrden = "NOMBRE", ordenActual = Model.ordenActual, numRegistros = Model.numRegistros, buscar = Model.buscar }, new { @class = "lblNombre" })
            </th>
            <th>
                @Html.ActionLink("SOCIEDAD_ID", "List", new { colOrden = "SOCIEDAD_ID", ordenActual = Model.ordenActual, numRegistros = Model.numRegistros, buscar = Model.buscar }, new { @class = "lblSociedadId" })
            </th>
            <th>
                @Html.ActionLink("PAIS_ID", "List", new { colOrden = "PAIS_ID", ordenActual = Model.ordenActual, numRegistros = Model.numRegistros, buscar = Model.buscar }, new { @class = "lblPais" })
            </th>
            <th>
                @Html.ActionLink("ACTIVO", "List", new { colOrden = "ACTIVO", ordenActual = Model.ordenActual, numRegistros = Model.numRegistros, buscar = Model.buscar }, new { @class = "lblActivo" })
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.proveedores)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.ID)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.NOMBRE)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.SOCIEDAD_ID)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PAIS_ID)
                </td>
                @if ((bool)item.ACTIVO == true)
                {
                    <td style="align-items:center"><a href="@Url.Action("Desactivar", "Proveedor", new { id = item.ID, a=false })"><i class='material-icons green-text'>check</i></a></td>}
                else
                {
                    <td style="align-items:center;"><a href="@Url.Action("Desactivar", "Proveedor", new { id = item.ID, a=true })"><i class='material-icons red-text'>clear</i></a></td>}
                <td>
                    <a href="@Url.Action("Details", "Proveedor", new { id = item.ID })">
                        <i class='material-icons blue-text'>search</i>
                    </a>
                </td>
            </tr>
        }
    </tbody>
</table>
<div id='Paging' style="text-align: center">
    @(Model.proveedores.PageCount < Model.proveedores.PageNumber ? 0 : Model.proveedores.PageNumber)
    - @Model.proveedores.PageCount

    @Html.PagedListPager(Model.proveedores, page => Url.Action("List", new { pagina = page, numRegistros = Model.numRegistros, buscar = Model.buscar, colOrden=Model.ordenActual}))
</div>

@if (ViewBag.textos != null)
{
    foreach (TEXTO t in ViewBag.textos)
    {
        <script>
                try {
                    var elem = document.getElementById("@t.CAMPO_ID");
                    if (elem.nodeName != 'INPUT' & elem.nodeName != 'SELECT' & elem.nodeName != 'TABLE' & elem.nodeName != 'TEXTAREA')
                    elem.innerHTML = "@t.TEXTOS";
                } catch (e) {
                    try {
                        var divs = document.getElementsByClassName("@t.CAMPO_ID");
                        [].slice.call(divs).forEach(function (div) {
                            if (div.nodeName != 'INPUT' & div.nodeName != 'SELECT' & div.nodeName != 'TABLE' & div.nodeName != 'TEXTAREA')
                            div.innerHTML = "@t.TEXTOS";
                        });
                    }
                    catch (ee) {

                    }
                 }
        </script>
    }
}
<script>
    //-----Sort
    function sort() {
        var sortLink = $('.header>th>a');
        for (var i = 0; i < sortLink.length; i++) {
            var url = sortLink.get(i).getAttribute("href");
            var id = 'link_h' + i;
            if (url) {
                sortLink.get(i).setAttribute("id", id);
                sortLink.get(i).setAttribute("url", url);
                $('#' + id).click(function (me) {
                    fnCommon.showProcess(true);
                    $.ajax({
                        url: me.target.getAttribute('url'),
                        success: function (resultView) {
                              if (resultView.isRedirect) {
                            window.location = resultView.redirectUrl;
                            } else {
                            fnCommon.showProcess(false);
                            $('#list').html(resultView);
                            sort();
                          }
                        }
                    });
                });
            }
            sortLink.get(i).removeAttribute("href");
        }
    }
    sort();
    //-----Pagination
    function pagination() {
        var paginationLink = $('.pagination>li>a');
        for (var i = 0; i < paginationLink.length; i++) {
            var url = paginationLink.get(i).getAttribute("href");
            var id = 'link_p' + i;
            if (url) {
                paginationLink.get(i).setAttribute("id", id);
                paginationLink.get(i).setAttribute("url", url);
                $('#' + id).click(function (me) {
                    fnCommon.showProcess(true);
                    $.ajax({
                        url: me.target.getAttribute('url'),
                        success: function (resultView) {
                          if (resultView.isRedirect) {
                            window.location = resultView.redirectUrl;
                            } else {
                            fnCommon.showProcess(false);
                            $('#list').html(resultView);
                            pagination();
                          }
                        }
                    });
                });
            }
            paginationLink.get(i).removeAttribute("href");
        }
    }
    pagination();
</script>