@model TAT001.Entities.TX_CONCEPTO
@{
    /**/

    //ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.pagina_r = 804;
    ViewBag.carpeta_r = 500;
}
@if (ViewBag.error != "")
{
    <script>
        $(document).ready(function () {
        $(document).ready(function () {
            function errorMessage(msg) {
                M.toast({ html: msg });
            }

            var message = '@ViewBag.error';

            if (message != "")
            {
                // do drop down loic
                errorMessage(message);
            }
            });
        });

    </script>
}
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <div class="row">
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <button id="btnGua" type="submit" value="Create" class="btn btn-default" style="float:right;"></button>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col s8">
            <div class="card-panel">
                <div class="row">
                    <div class="form-horizontal">
                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                        <div class="input-field col l12">
                            @Html.LabelFor(model => model.DESCRIPCION, htmlAttributes: new { @class = "control-label col-md-2" })
                            @Html.EditorFor(model => model.DESCRIPCION, new { htmlAttributes = new { @class = "form-control long-text-editor", @maxlength = "50" } })
                            @Html.ValidationMessageFor(model => model.DESCRIPCION, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
}
<div>
    @Html.ActionLink("Back to List", "Index", null, new { id = "lblRegresar" })
</div>
