@model TAT001.Entities.IIMPUESTO

@{
    ViewBag.pagina_r = 734;
    ViewBag.carpeta_r = 500;
    //ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<script src="~/Scripts/ValidarImpuestos.js"></script>
@if (ViewBag.error != "")
{
    <script>
        $(document).ready(function () {
        $(document).ready(function () {
            function errorMessage(msg) {
                M.toast({ html: msg });
            }

            var message = '@ViewBag.error';

            if (message != "")
            {
                // do drop down loic
                errorMessage(message);
            }
            });
        });

    </script>
}

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    <div class="col 12 s12 ">
        <div class="card-panel">
            <div class="row">
                <div class="form-horizontal">
                    <div class="input-field col l12">
                        @Html.DropDownList("LAND", null, htmlAttributes: new { @class = "form-control" })
                        @Html.LabelFor(model => model.LAND, "LAND", htmlAttributes: new { @class = "control-label col-md-2", @id = "lblSPRAS" })
                        @Html.ValidationMessageFor(model => model.LAND, "", new { @class = "text-danger" })
                    </div>

                    <div class="input-field col l12">
                        @Html.DropDownList("MWSKZ", null, htmlAttributes: new { @class = "form-control" })
                        @Html.LabelFor(model => model.MWSKZ, "MWSKZ", htmlAttributes: new { @class = "control-label col-md-2", @id = "lblMWSKZ" })
                        @Html.ValidationMessageFor(model => model.MWSKZ, "", new { @class = "text-danger" })
                    </div>

                    <div class="input-field col l12">
                        @Html.LabelFor(model => model.KSCHL, htmlAttributes: new { @class = "control-label col-md-2", @id = "lblKSCHL" })
                        @Html.EditorFor(model => model.KSCHL, new { htmlAttributes = new { @class = "form-control", maxlength = "3" } })
                        @Html.ValidationMessageFor(model => model.KSCHL, "", new { @class = "text-danger" })
                    </div>

                    <div class="input-field col l12">
                        @Html.LabelFor(model => model.KBETR, htmlAttributes: new { @class = "control-label col-md-2", @id = "lblKBETR" })
                        @Html.EditorFor(model => model.KBETR, new { htmlAttributes = new { @class = "form-control kbetr" } })
                        @Html.ValidationMessageFor(model => model.KBETR, "", new { @class = "text-danger" })
                    </div>

                    <div class="form-group">
                        <div class="col-md-offset-2 col-md-10">
                            <button id="btnScre" type="submit" value="Submit" class="btn btn-default"></button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>



}
<script>
    var elem = document.querySelectorAll('select');
    var instance = M.FormSelect.init(elem, []);
</script>
<div>
    @Html.ActionLink("Back to List", "Index", null, new { id = "anLst" })
</div>
