@model TAT001.Entities.IIMPUESTO

@{
    ViewBag.pagina_r = 732;
    ViewBag.carpeta_r = 500;
    //ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <div class="card-panel">
        <div class="row">
            <div class="row">
                <div class="input-field col l6 m6" style="margin-bottom:0;">
                    @Html.EditorFor(model => model.LAND, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
                    @Html.LabelFor(model => model.LAND, htmlAttributes: new { @class = "control-label col-md-2", @id = "lblSPRAS" })
                </div>
                <div class="input-field col l6 m6" style="margin-bottom:0;">
                    @Html.EditorFor(model => model.MWSKZ, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
                    @Html.LabelFor(model => model.MWSKZ, htmlAttributes: new { @class = "control-label col-md-2", @id = "lblMWSKZ" })
                </div>
            </div>
            <div class="row">
                <div class="input-field col l6 m6" style="margin-bottom:0;">
                    @Html.EditorFor(model => model.KSCHL, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
                    @Html.LabelFor(model => model.KSCHL, htmlAttributes: new { @class = "control-label col-md-2", @id = "lblKSCHL" })
                </div>
                <div class="input-field col l6 m6" style="margin-bottom:0;">
                    @Html.EditorFor(model => model.KBETR, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
                    @Html.LabelFor(model => model.KBETR, htmlAttributes: new { @class = "control-label col-md-2", @id = "lblKBETR" })
                </div>
            </div>
        </div>
    </div>
</div>

<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.LAND, id2 = Model.MWSKZ, id3 = Model.KSCHL }, new { id = "anEd" }) |
    @Html.ActionLink("Back to List", "Index", null, new { id = "anLst" })
</p>
