@model TAT001.Entities.DOCUMENTO

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Create</title>
</head>
<body>
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()
        <div class="col 12 s12 ">
            <div class="card-panel">
                <div class="row">

                    <div class="input-field col l12">
                        @Html.EditorFor(m=>m.PAYER_ID, new { htmlAttributes= new { @class = "form-control" } })
                        @Html.LabelFor(m => m.PAYER_ID, htmlAttributes: new { @class = "control-label col-md-2" })
                        @Html.ValidationMessageFor(m => m.PAYER_ID, "", new { @class = "text-danger" })
                    </div>

                    <div class="input-field col l12">
                        @Html.EditorFor(m => m.VKORG, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.LabelFor(m => m.VKORG,  htmlAttributes: new { @class = "control-label col-md-2" })
                        @Html.ValidationMessageFor(m => m.VKORG, "", new { @class = "text-danger" })
                    </div>

                    <div class="input-field col l12">
                        @Html.EditorFor(model => model.VTWEG, new { htmlAttributes = new { @id = "fechac_vig", @class = "form-control datepicker"} })
                        @Html.LabelFor(model => model.VTWEG,  htmlAttributes: new { @for = "fechac_vig", @class = "control-label col-md-2" })
                        @Html.ValidationMessageFor(model => model.VTWEG, "", new { @class = "text-danger" })
                    </div>
                    <div class="input-field col l12">
                        @Html.LabelFor(model => model.SPART, htmlAttributes: new { @id = "lblukurss", @class = "control-label col-md-2" })
                        @Html.EditorFor(model => model.SPART, new { htmlAttributes = new { @id = "txtukurss", @for = "lblukurss" } })
                        @Html.ValidationMessageFor(model => model.SPART, "", new { @class = "text-danger" })
                    </div>

                </div>
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
    }

    <div>
        @Html.ActionLink("Back to List", "Index")
    </div>
</body>
</html>
