@model IEnumerable<TAT001.Entities.DOCUMENTO>
@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <style>


        .texto {
            text-align: left;
        }

        .th {
            padding-top: 12px;
            padding-bottom: 12px;
            text-align: left;
            color: black;
        }

        .table {
            font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
            border-collapse: collapse;
            width: 100%;
        }

        .borde {
            border: 1px solid #ddd;
            padding: 8px;
        }

        #table1 tr:nth-child(even) {
            background-color: #f2f2f2;
        }

        #table1 tr:hover {
            background-color: #ddd;
        }
    </style>
</head>
<body>
    <div style="height:48px; background-color:#d11d53; width:76%; z-index:1000;top:0px;left:0px; position:fixed; margin-bottom:30px;">
    </div>
    <div style="text-align:right; margin-top:65px; width:75%">
        <p>@ViewBag.cd,@ViewBag.edo,@ViewBag.FechaH</p>
    </div>
    <div style="width:75%;">
        <div style="width:60%; float:left;">
            <p>
                @ViewBag.clName<br>
                @ViewBag.clDir<br>
            </p>
        </div>
        <div style="width:40%; float:left;">
            <table style="width:100%;" id="table2;" class="table borde;">
                <thead>
                    <tr>
                        <th class="th borde" style="text-align:center;">Para Control Interno Kellogg’s</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td class="borde">@ViewBag.clPayId</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div style="width:75%; float:left;">
        <div style="margin-top:20px; width:100%">
            <br />
            <p align="justify">
                Estimado/a @ViewBag.clCon,<br /><br />
                A continuación compartimos listado de las negociaciones de descuentos vigentes y comprometidas con usted por parte de Kellogg’s al @ViewBag.ff.<br />
                <br />
                <br />
                La presente conciliación se comparte con fines de validación y aprobación de su parte. En caso de detectar alguna omisión o desviación, le solicitamos que nos envíe sus comentarios en un plazo no mayor de 3 días hábiles contados a partir de la fecha de recepción del presente correo. Le pedimos que los comentarios estén relacionados con las negociaciones comerciales detalladas en el presente comunicado. En el supuesto de no recibir ningún comentario, se entenderá que usted está de acuerdo con la información señalada.
            </p>
        </div>
        <div style="margin-top:90px; width:100%; margin-left:20px;">
            <table style="width:100%;" id="table1" class="table borde">
                <thead>
                    <tr>
                        <th class="texto th borde">
                            <span>Número de solicitud</span>
                        </th>
                        <th class="texto th borde">
                            <span> Vigencia de negociación</span>
                        </th>
                        <th class="texto th borde">
                            <span>Descripción negociación</span>
                        </th>
                        <th class="texto th borde">
                            <span>Soporte negociación</span>
                        </th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td class="borde">
                                @item.NUM_DOC
                            </td>
                            <td class="borde">
                                @item.FECHAI_VIG.Value.Day/@item.FECHAI_VIG.Value.Month/@item.FECHAI_VIG.Value.Year - @item.FECHAF_VIG.Value.Day/@item.FECHAF_VIG.Value.Month/@item.FECHAF_VIG.Value.Year
                            </td>
                            <td class="borde">
                                @Html.DisplayFor(modelItem => item.CONCEPTO)
                            </td>
                            <td class="borde">
                                @{
                                    int cont = 1;
                                    int cont2 = item.DOCUMENTOAs.Where(x=>x.ACTIVO).Count();
                                    foreach (TAT001.Entities.DOCUMENTOA a in item.DOCUMENTOAs.Where(x => x.ACTIVO))
                                    {
                                        string spras = ViewBag.spras;
                                        var t = a.TSOPORTE.TSOPORTETs.Where(x => x.SPRAS_ID == spras).FirstOrDefault();
                                        if (t != null)
                                        {
                                            if (cont == cont2)
                                            {
                                            <span>@t.TXT50</span>
                                            }
                                            else if (cont2 > 1)
                                            {
                                                <span>@t.TXT50, </span>
                                            }
                                        }
                                        cont++;
                                    }
                                }
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
        <div style="width:100%; margin-top:60px;">
            <hr style="width:400px" />
            <p style="text-align:center;">
                @ViewBag.clFunci<br /><br />
                @ViewBag.clPos <br /><br />
                @ViewBag.KellCom
            </p>
        </div>
        <div style="width:100%; margin-top:20px;">
            <a type="button" class="btn-small" id="btn_Ok"
               style="height: 32.4px;line-height: 32.4px;
                        font-size: 13px;
                        text-decoration: none;
                        color: #fff;
                        background-color: #26a69a;
                        text-align: center;
                        letter-spacing: .5px;
                        -webkit-transition: background-color .2s ease-out;
                        transition: background-color .2s ease-out;
                        cursor: pointer;
                        border: none;
                        border-radius: 2px;
                        display: inline-block;
                        height: 36px;
                        line-height: 36px;
                        padding: 0 2rem;
                        text-transform: uppercase;
                        vertical-align: middle;
                        margin-right:5px;
                        -webkit-tap-highlight-color: transparent;"
               href="mailto:LA_TAT@kellogg.com?Subject=De%20Acuerdo-@ViewBag.clPayId.@ViewBag.idf.@ViewBag.vk.@ViewBag.vtw.@ViewBag.clCorreo2" target="_top">
                De Acuerdo
            </a>
            <a type="button" class="btn-small" id="btn_Ok"
               style="height: 32.4px;line-height: 32.4px;
                        font-size: 13px;
                        text-decoration: none;
                        color: #fff;
                        background-color: #f89406;
                        text-align: center;
                        letter-spacing: .5px;
                        -webkit-transition: background-color .2s ease-out;
                        transition: background-color .2s ease-out;
                        cursor: pointer;
                        border: none;
                        border-radius: 2px;
                        display: inline-block;
                        height: 36px;
                        line-height: 36px;
                        padding: 0 2rem;
                        text-transform: uppercase;
                        vertical-align: middle;
                        margin-right:5px;
                        -webkit-tap-highlight-color: transparent;"
               href="mailto:LA_TAT@kellogg.com?Subject=Tengo%20Observaciones-@ViewBag.clPayId.@ViewBag.idf.@ViewBag.vk.@ViewBag.vtw.@ViewBag.clCorreo2" target="_top">
                Tengo Observaciones
            </a>
        </div>
    </div>
</body>
</html>
