@model TAT001.Entities.TS_FORMT

@{
    //ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.pagina_r = 1312;
    ViewBag.carpeta_r = 500;
}
<script type="text/javascript" src="~/Scripts/jquery.validate.min.js"></script>
<div class="row">
    @using (Html.BeginForm("Create", "DesviacionesTS", FormMethod.Post, new { @id = "desviacionesForm" }))
    {
        @Html.AntiForgeryToken()
        @*<div class="form-group">
                <div class="row right">
                    <input type="submit" value="Crear" class="btn btn-default" style=""/>
                </div>
            </div>*@

        <div class="row">
            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <button id="btnGC" type="submit" value="Create" style="float:right;" class="btn btn-default">Crear</button>
                </div>
            </div>
        </div>
        <div class="col s6">
            <div class="card-panel">
                <div class="row">
                    @Html.LabelFor(model => model.TXT100, htmlAttributes: new { @class = "control-label col-md-2", @id = "idDescr" })
                    @Html.EditorFor(model => model.TXT100, new { htmlAttributes = new { @class = "form-control", @required = "", @maxlength = "100" } })
                </div>
            </div>

        </div>
        <div class="form-horizontal">
            <div class="col s6">
                <div class="card-panel">
                    <h5>Traducciones</h5>
                    <div class="row">
                        <div class="input-field col l10 m10" style="margin-bottom:0;">
                            @Html.Editor("EN", new { htmlAttributes = new { @class = "form-control", @maxlength = "50", @required = "" } })
                            <label id="lblIngles">Ingles</label>

                        </div>
                        <div class="input-field col l10 m10" style="margin-bottom:0;">
                            @Html.Editor("ES", new { htmlAttributes = new { @class = "form-control", @maxlength = "50", @required = "" } })
                            <label id="lblEspa">Español</label>

                        </div>
                        <div class="input-field col l4 m10 right" style="margin-bottom:0;">
                            <label>
                                <input type="checkbox" name="ACTIVO" value="true" id="fac" readonly="readonly" checked />
                                <span id="lblActivo"></span>

                            </label>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    }
    </div>
    <div>
        @Html.ActionLink("Regresar", "Index")
    </div>

    <script type="text/javascript" src="~/Scripts/fnCommon.js"></script>
    <script>
        fnCommon.formValidation('desviacionesForm');
    </script>
