@model TAT001.Entities.TS_FORM

@{
    //ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.pagina_r = 1312;
    ViewBag.carpeta_r = 500;
}
<script type="text/javascript" src="~/Scripts/jquery.validate.min.js"></script>
<link href="~/Content/autocomplete.css" rel="stylesheet" />
<script src="~/Scripts/autocomplete1.11.4.js"></script>
<div class="row">
    @using (Html.BeginForm("Create", "DesviacionesTS", FormMethod.Post, new { @id = "desviacionesForm" }))
    {
        @Html.AntiForgeryToken()
        <div class="row">
            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <button id="btnGC" type="submit" value="Create" style="float:right;" class="btn btn-default">Crear</button>
                </div>
            </div>
        </div>
        <div class="form-horizontal">
            <div class="col s6">
                <div class="card-panel">
                    <h5>Traducciones</h5>
                    <div class="row">
                        <div class="input-field col l10 m10" style="margin-bottom:0;">
                            @Html.LabelFor(model => model.LAND_ID, "LAND_ID", htmlAttributes: new { @class = "control-label col-md-2", @id = "lbl_pais" })
                            @Html.EditorFor(model => model.LAND_ID, new { htmlAttributes = new { @class = "form-control", @required = "", @maxlength = 50 } })
                        </div>
                        <div class="input-field col l10 m10" style="margin-bottom:0;">
                            @Html.LabelFor(model => model.BUKRS_ID, "BUKRS_ID", htmlAttributes: new { @class = "control-label col-md-2", @id = "lbl_sociedad" })
                            @Html.EditorFor(model => model.BUKRS_ID, new { htmlAttributes = new { @class = "form-control", @required = "", @maxlength = 50 } })
                        </div>
                        <div class="input-field col l10 m10" style="margin-bottom:0;">
                            @Html.Editor("EN", new { htmlAttributes = new { @class = "form-control", @maxlength = "50", @required = "" } })
                            <label id="lblIngles">Ingles</label>

                        </div>
                        <div class="input-field col l10 m10" style="margin-bottom:0;">
                            @Html.Editor("ES", new { htmlAttributes = new { @class = "form-control", @maxlength = "50", @required = "" } })
                            <label id="lblEspa">Español</label>

                        </div>
                        <div class="input-field col l4 m10 right" style="margin-bottom:0;">
                            <label>
                                <input type="checkbox" name="ACTIVO" value="true" id="fac" readonly="readonly" checked />
                                <span id="lblActivo"></span>

                            </label>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    }
</div>
<div>
    @Html.ActionLink("Regresar", "Index")
</div>

<script type="text/javascript" src="~/Scripts/fnCommon.js"></script>
<script>
     var root = "@Url.Content("~")";
    //----  Se agrega validaciones al formulario----
    fnCommon.formValidation('desviacionesForm');
    var auto = $.noConflict(true);
    auto(document).ready(function () {
        auto("#BUKRS_ID").autocomplete({
            source: function (request, response) {
                fnCommon.autoAjax(root + "Listas/Sociedades", response, { Prefix: request.term }, function (item) { return { label: item.BUKRS, value: item.BUKRS }; });
            },
            messages: {
                noResults: '',
                results: function (resultsCount) { }
            },
            select: function (event, ui) {
                var label = ui.item.label;
                var value = ui.item.value;
            },
            change: function (e, ui) {
                if (!(ui.item)) {
                    e.target.value = "";
                }
            }
        });
        auto("#LAND_ID").autocomplete({
            source: function (request, response) {
                fnCommon.autoAjax(root + "Listas/Paises", response, { Prefix: request.term }, function (item) { return { label: item.LANDX, value: item.LAND }; });
            },
            messages: {
                noResults: '',
                results: function (resultsCount) { }
            },
            select: function (event, ui) {
                var label = ui.item.label;
                var value = ui.item.value;
            },
            change: function (e, ui) {
                if (!(ui.item)) {
                    e.target.value = "";
                }
               
            }
        });
    })
</script>
