@model TAT001.Entities.TS_CAMPO

@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.pagina_r = 1313;
    ViewBag.carpeta_r = 500;
}
<script src="~/Scripts/ValidarProv.js"></script>
<div class="row">
    <div class="col s12 right-align">
        <a href="@Url.Action("Index", "DesviacionesTS")" class="btn-small">Lista</a>
    </div>
</div>
<div class="row">
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()
        <div class="col s6">
            <div class="card-panel">
                @*@Html.HiddenFor(model => model.ID)*@
                @*@Html.HiddenFor(model => model.ACTIVO)*@

                <div class="row">
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                    <div class=" input-field col s12">
                        @Html.EditorFor(model => Model.TS_FORMT.Where(a => a.SPRAS_ID.Equals(Session["spras"].ToString())).FirstOrDefault().TXT100, new { htmlAttributes = new { @class = "form-control", @disabled = "@disabled" } })
                        @Html.LabelFor(model => Model.TS_FORMT.Where(a => a.SPRAS_ID.Equals(Session["spras"].ToString())).FirstOrDefault().TXT100)
                    </div>

                    <div class="input-field col l6 m6" style="margin-bottom:0;">
                        @Html.LabelFor(model => model.ACTIVO, "ACTIVO", htmlAttributes: new { @class = "active control-label col-md-2", @id = "lblPais" })
                        @Html.ValidationMessageFor(model => model.ACTIVO, "", new { @class = "text-danger" })
                        @Html.EditorFor(model => model.ACTIVO, new { htmlAttributes = new { @class = "form-control pname material-icons green-text", @maxlength = "230", @hidden = "hidden", id = "idfac" } })

                        @if ((bool)Model.ACTIVO == true)
                        {
                            <label>
                                <input type="checkbox" name="selectedCustomers" value="true" id="fac" onclick="check()" checked />
                                <span style="height:0"></span>
                            </label>

                        }
                        else
                        {
                            <label>
                                <input type="checkbox" name="selectedCustomers" value="true" id="fac" onclick="check()" />
                                <span style="height:0"></span>
                            </label>
                        }
                    </div>
                </div>
            </div>
        </div>
        @*@Html.ValidationSummary(true, "", new { @class = "text-danger" })
            @Html.HiddenFor(model => model.SPRAS_ID)*@

        <div class="col s6">
            <div class="card-panel">
                <h5>Traducciones</h5>
                <div class="row">

                    <div class="input-field col l10 m10" style="margin-bottom:0;">
                        @Html.Editor("EN", new { htmlAttributes = new { @class = "form-control", @maxlength = "50" } })
                        @*@Html.LabelFor(model => item.TXT100, htmlAttributes: new { @class = "control-label col-md-2", @id = "lbl_DscEN" })*@
                        <label>INGLES</label>
                    </div>


                    <div class="input-field col l10 m10" style="margin-bottom:0;">
                        @Html.Editor("ES", new { htmlAttributes = new { @class = "form-control", @maxlength = "50" } })
                        @*@Html.LabelFor(model => item.TXT100, htmlAttributes: new { @class = "control-label col-md-2", @id = "lbl_DscES" })*@
                        <label>ESPAÑOL</label>
                        @*<label for="@("A" + Model.TS_FORMT.Where(a => a.SPRAS_ID.Equals(Session["spras"].ToString())).FirstOrDefault().SPRAS_ID)"> @Model.TS_FORMT.Where(a => a.SPRAS_ID.Equals(Session["spras"].ToString())).FirstOrDefault().SPRA.DESCRIPCION</label>*@
                    </div>

                    <div class="input-field col l10 m10" style="margin-bottom:0;">
                        @Html.Editor("PT", new { htmlAttributes = new { @class = "form-control", @maxlength = "50" } })
                        @*@Html.LabelFor(model => item.TXT100, htmlAttributes: new { @class = "control-label col-md-2", @id = "lbl_DscPT" })*@
                        <label>PORTUGUES</label>
                    </div>

                    <div class="row right">
                        <div class="col s12">
                            <input type="submit" value="Guardar" class="btn btn-default" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
    }
</div>

<script>
    function check() {
        if ($("#fac").prop('checked'))
            $("#idfac").prop('checked', true);
        else
            $("#idfac").prop('checked', false);
    }


    var elem = document.querySelectorAll('select');
    var instance = M.FormSelect.init(elem, []);
</script>

<div style="color:black">
    @Html.ActionLink("Back to List", "Index")
</div>

