@model TAT001.Entities.DOCUMENTO

@{
    Layout = null;
    ViewBag.Title = "Solicitud ";
}
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
    <style>
        body {
            font-family: Tahoma;
            font-size: 12px;
        }

        .divs {
            width: 800px;
            height: 100px;
            margin-right: 10px;
            margin-bottom: 30px;
            float: left;
        }

        .child_div_1 {
            float: left;
            margin-top: 30px;
            margin-right: 5px;
            height: 100px;
        }

        .row {
            margin-left: auto;
            margin-right: auto;
            margin-bottom: 5px;
        }

            .row:after {
                content: "";
                display: table;
                clear: both;
            }

            .row .col {
                float: left;
                -webkit-box-sizing: border-box;
                box-sizing: border-box;
                padding: 0 0.75rem;
                min-height: 1px;
            }

                .row .col[class*="push-"], .row .col[class*="pull-"] {
                    position: relative;
                }

                .row .col.s1 {
                    width: 8.3333333333%;
                    margin-left: auto;
                    left: auto;
                    right: auto;
                }

                .row .col.s2 {
                    width: 16.6666666667%;
                    margin-left: auto;
                    left: auto;
                    right: auto;
                }

                .row .col.s3 {
                    width: 25%;
                    margin-left: auto;
                    left: auto;
                    right: auto;
                }

                .row .col.s4 {
                    width: 33.3333333333%;
                    margin-left: auto;
                    left: auto;
                    right: auto;
                }

                .row .col.s5 {
                    width: 41.6666666667%;
                    margin-left: auto;
                    left: auto;
                    right: auto;
                }

                .row .col.s6 {
                    width: 50%;
                    margin-left: auto;
                    left: auto;
                    right: auto;
                }

                .row .col.s7 {
                    width: 58.3333333333%;
                    margin-left: auto;
                    left: auto;
                    right: auto;
                }

                .row .col.s8 {
                    width: 66.6666666667%;
                    margin-left: auto;
                    left: auto;
                    right: auto;
                }

                .row .col.s9 {
                    width: 75%;
                    margin-left: auto;
                    left: auto;
                    right: auto;
                }

                .row .col.s10 {
                    width: 83.3333333333%;
                    margin-left: auto;
                    left: auto;
                    right: auto;
                }

                .row .col.s11 {
                    width: 91.6666666667%;
                    margin-left: auto;
                    left: auto;
                    right: auto;
                }

                .row .col.s12 {
                    width: 100%;
                    margin-left: auto;
                    left: auto;
                    right: auto;
                }

                .row .col.offset-s1 {
                    margin-left: 8.3333333333%;
                }

                .row .col.pull-s1 {
                    right: 8.3333333333%;
                }

                .row .col.push-s1 {
                    left: 8.3333333333%;
                }

                .row .col.offset-s2 {
                    margin-left: 16.6666666667%;
                }

                .row .col.pull-s2 {
                    right: 16.6666666667%;
                }

                .row .col.push-s2 {
                    left: 16.6666666667%;
                }

                .row .col.offset-s3 {
                    margin-left: 25%;
                }

                .row .col.pull-s3 {
                    right: 25%;
                }

                .row .col.push-s3 {
                    left: 25%;
                }

                .row .col.offset-s4 {
                    margin-left: 33.3333333333%;
                }

                .row .col.pull-s4 {
                    right: 33.3333333333%;
                }

                .row .col.push-s4 {
                    left: 33.3333333333%;
                }

                .row .col.offset-s5 {
                    margin-left: 41.6666666667%;
                }

                .row .col.pull-s5 {
                    right: 41.6666666667%;
                }

                .row .col.push-s5 {
                    left: 41.6666666667%;
                }

                .row .col.offset-s6 {
                    margin-left: 50%;
                }

                .row .col.pull-s6 {
                    right: 50%;
                }

                .row .col.push-s6 {
                    left: 50%;
                }

                .row .col.offset-s7 {
                    margin-left: 58.3333333333%;
                }

                .row .col.pull-s7 {
                    right: 58.3333333333%;
                }

                .row .col.push-s7 {
                    left: 58.3333333333%;
                }

                .row .col.offset-s8 {
                    margin-left: 66.6666666667%;
                }

                .row .col.pull-s8 {
                    right: 66.6666666667%;
                }

                .row .col.push-s8 {
                    left: 66.6666666667%;
                }

                .row .col.offset-s9 {
                    margin-left: 75%;
                }

                .row .col.pull-s9 {
                    right: 75%;
                }

                .row .col.push-s9 {
                    left: 75%;
                }

                .row .col.offset-s10 {
                    margin-left: 83.3333333333%;
                }

                .row .col.pull-s10 {
                    right: 83.3333333333%;
                }

                .row .col.push-s10 {
                    left: 83.3333333333%;
                }

                .row .col.offset-s11 {
                    margin-left: 91.6666666667%;
                }

                .row .col.pull-s11 {
                    right: 91.6666666667%;
                }

                .row .col.push-s11 {
                    left: 91.6666666667%;
                }

                .row .col.offset-s12 {
                    margin-left: 100%;
                }

                .row .col.pull-s12 {
                    right: 100%;
                }

                .row .col.push-s12 {
                    left: 100%;
                }

        #container {
            width: 100px;
            height: 100px;
            position: absolute;
            right: 2px;
        }

        #navi,
        #infoi {
            width: 100%;
            height: 100%;
            position: absolute;
            top: 0;
            left: 0;
        }

        #infoi {
            z-index: 10;
        }
    </style>
    <script type="text/javascript">
        function f1() {
            document.getElementById("btn_comm").href = "";
        }
    </script>
</head>
<body>
    @{
        string bandera = ViewBag.bandera;
        bandera = bandera + ".png";
    }

    <table class="tg" style="width:100%; height:50px; border-collapse:collapse; background-color:#d11d53;">
        <tr>
            <td>
                <div class="row" style="margin-bottom:0">
                    <table class="tg" style="width: 100%;border-collapse: collapse;">
                        <tr style="border-bottom: 1px solid #e0e0e0;height: 35px;">
                            <td>
                                @{ string mail = ViewBag.mail;}
                                @if (mail == "X")
                                {
                                    <img src="miimg_id" />
                                }
                                else
                                {
                                    <img src="~/images/logo-kellogg2.png" />
                                }
                            </td>
                            <td style="text-align:center;">
                                <h1 style="display:inline; text-align:left;color:white;">
                                    @ViewBag.tituloCabecera
                                    @if (Model.FLUJOes.Where(x => x.ESTATUS == "R").ToList().Count() > 0)
                                    {
                                        <span>@Model.FLUJOes.Where(x => x.ESTATUS == "R").OrderByDescending(x => x.POS).FirstOrDefault().USUARIO.PUESTO.PUESTOTs.Where(x => x.SPRAS_ID.Equals(Model.USUARIO.SPRAS_ID)).FirstOrDefault().TXT50</span>
                                    }
                                </h1>
                            </td>
                            <td>
                                <img src="miflag_id" style="margin-right:10px;" align="right" />
                            </td>
                        </tr>
                    </table>
                </div>
            </td>
        </tr>
    </table>

    @*DIV CON EL CONTENIDO DEL CUERPO DEL CORREO*@
    <table class="tg" style="width: 100%; border-collapse: collapse;">
        <tbody>
            <tr style="border-bottom: 1px solid #e0e0e0;">
                <td class="col s4">
                    <p>
                        <h4 style="margin-bottom:0px;">@ViewBag.tituloBajoCabecera</h4>
                        1.- @ViewBag.opcionDet
                        <a href="@ViewBag.url@Url.Action("Edit", "Solicitudes", new { id_d = Model.NUM_DOC })">
                            @ViewBag.ligaDet
                        </a>
                    </p>
                </td>
                <td>
                    <div>
                        @Html.LabelFor(model => model.SOCIEDAD_ID, "BU", new { @style = "color: rgba(0, 0, 0, 1.0);", @id = "lbl_sociedadid" })
                    </div>
                    <div class="input-field col s12" style="margin-bottom:0;">
                        <input type="text" disabled="disabled" style="color: rgba(0, 0, 0, 1.0); background-color: transparent;border: none;border-bottom: 1px dotted rgba(0, 0, 0, 1.0);border-radius: 0;outline: none;height: 30px;width: 120px;margin: 0 0 8px 0;padding: 0;" value="@Model.SOCIEDAD_ID" />
                    </div>
                </td>
            </tr>

            <tr style="border-bottom: 1px solid #e0e0e0;">
                <td>
                    <h4 style="font-family: -apple-system, BlinkMacSystemFont,Segoe UI, Roboto, Oxygen-Sans, Ubuntu, Cantarell, sans-serif; font-size:25px;">
                        @ViewBag.Title @Model.NUM_DOC
                    </h4>
                </td>
            </tr>

            <tr style="border-bottom: 1px solid #e0e0e0;">
                <td>
                    <div class="card-panel" style="transition: box-shadow .25s, -webkit-box-shadow .25s;
                                padding: 24px;margin: 0 0 1rem 0;border-radius: 2px;
                                background-color:#fff;box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.12), 0 1px 5px 0 rgba(0, 0, 0, 0.2);">

                        <div class="row" style="margin-bottom:0">
                            <table class="tg" style="width: 100%;border-collapse: collapse;">
                                <tr style="border-bottom: 1px solid #e0e0e0;height: 35px;">
                                    <td>
                                        <label style="color: rgba(0, 0, 0, 1.0);">@ViewBag.usuario</label>
                                        @Html.EditorFor(model => model.USUARIOC_ID, new { htmlAttributes = new { @disabled = "disabled", @style = "color: rgba(0, 0, 0, 1.0);background-color: transparent;border: none;border-bottom: 1px dotted rgba(0, 0, 0, 1.0);border-radius: 0;outline: none;height: 30px;width: 100%;margin: 0 0 8px 0;padding: 0; " } })
                                    </td>
                                    <td>
                                        <label style="color: rgba(0, 0, 0, 1.0);">@ViewBag.usuarioNombre</label>
                                        @*@Html.LabelFor(model => model.USUARIO.NOMBRE, ViewBag.usuarioNombre, new { @style = "color: rgba(0, 0, 0, 1.0);", @id = "lbl_manager" })*@
                                        @Html.EditorFor(model => model.USUARIO.NOMBRE, new { htmlAttributes = new { @disabled = "disabled", @style = "color: rgba(0, 0, 0, 1.0);background-color: transparent;border: none;border-bottom: 1px dotted rgba(0, 0, 0, 1.0);border-radius: 0;outline: none;height: 30px;width: 100%;margin: 0 0 8px 0;padding: 0; ", @Value = Model.USUARIO.NOMBRE, Model.USUARIO.APELLIDO_P, Model.USUARIO.APELLIDO_M } })
                                    </td>
                                </tr>
                                <tr style="border-bottom: 1px solid #e0e0e0;height: 35px;">
                                    <td>
                                        <label style="color: rgba(0, 0, 0, 1.0);">@ViewBag.tipoSolicitud</label>
                                        @*@Html.LabelFor(model => model.TSOL_ID, ViewBag.tipoSolicitud, new { @style = "color: rgba(0, 0, 0, 1.0);", @id = "lbl_userid" })*@
                                        @Html.EditorFor(model => model.TSOL.TSOLTs.Where(a => a.SPRAS_ID.Equals(model.USUARIO.SPRAS_ID)).FirstOrDefault().TXT020, new { htmlAttributes = new { @disabled = "disabled", @style = "color: rgba(0, 0, 0, 1.0);background-color: transparent;border: none;border-bottom: 1px dotted rgba(0, 0, 0, 1.0);border-radius: 0;outline: none;height: 30px;width: 100%;margin: 0 0 8px 0;padding: 0; " } })
                                    </td>
                                    <td>
                                        <label style="color: rgba(0, 0, 0, 1.0);">@ViewBag.clasificacion</label>
                                        @*@Html.LabelFor(model => model.TALL_ID, ViewBag.clasificacion, new { @style = "    color: rgba(0, 0, 0, 1.0);", @id = "lbl_userid" })*@
                                        @Html.EditorFor(model => model.TALL.TALLTs.Where(a => a.SPRAS_ID.Equals(model.USUARIO.SPRAS_ID)).FirstOrDefault().TXT50, new { htmlAttributes = new { @disabled = "disabled", @style = "color: rgba(0, 0, 0, 1.0);background-color: transparent;border: none;border-bottom: 1px dotted rgba(0, 0, 0, 1.0);border-radius: 0;outline: none;height: 30px;width: 100%;margin: 0 0 8px 0;padding: 0; " } })
                                    </td>
                                </tr>
                                <tr style="border-bottom: 1px solid #e0e0e0;height: 35px;">
                                    <td>
                                        <label style="color: rgba(0, 0, 0, 1.0);">@ViewBag.cliente</label>
                                        @*@Html.LabelFor(model => model.PAYER_ID, ViewBag.cliente, new { @style = "    color: rgba(0, 0, 0, 1.0);", @id = "lbl_userid" })*@
                                        @Html.EditorFor(model => model.PAYER_ID, new { htmlAttributes = new { @disabled = "disabled", @style = "color: rgba(0, 0, 0, 1.0);background-color: transparent;border: none;border-bottom: 1px dotted rgba(0, 0, 0, 1.0);border-radius: 0;outline: none;height: 30px;width: 100%;margin: 0 0 8px 0;padding: 0;" } })
                                    </td>
                                    <td>
                                        <label style="color: rgba(0, 0, 0, 1.0);">@ViewBag.clienteNombre</label>
                                        @*@Html.LabelFor(model => model.PAYER_NOMBRE, ViewBag.clienteNombre, new { @style = "    color: rgba(0, 0, 0, 1.0);", @id = "lbl_userid" })*@
                                        @Html.EditorFor(model => model.CLIENTE.NAME1, new { htmlAttributes = new { @disabled = "disabled", @style = "color: rgba(0, 0, 0, 1.0);background-color: transparent;border: none;border-bottom: 1px dotted rgba(0, 0, 0, 1.0);border-radius: 0;outline: none;height: 30px;width: 100%;margin: 0 0 8px 0;padding: 0;" } })
                                    </td>
                                </tr>
                                <tr style="border-bottom: 1px solid #e0e0e0;height: 35px;">
                                    <td>
                                        <label style="color: rgba(0, 0, 0, 1.0);">@ViewBag.concepto</label>
                                        @*@Html.LabelFor(model => model.CONCEPTO, @ViewBag.concepto, new { @style = "color: rgba(0, 0, 0, 1.0);", @id = "lbl_userid" })*@
                                        @Html.EditorFor(model => model.CONCEPTO, new { htmlAttributes = new { @disabled = "disabled", @style = "color: rgba(0, 0, 0, 1.0);background-color: transparent;border: none;border-bottom: 1px dotted rgba(0, 0, 0, 1.0);border-radius: 0;outline: none;height: 30px;width: 100%;margin: 0 0 8px 0;padding: 0; " } })
                                    </td>
                                    <td>
                                        <label style="color: rgba(0, 0, 0, 1.0);">@ViewBag.montoDoc</label>
                                        @*@Html.LabelFor(model => model.MONTO_DOC_MD, @ViewBag.montoDoc, new { @style = "    color: rgba(0, 0, 0, 1.0);", @id = "lbl_userid" })*@
                                        <input type="text" disabled="disabled" style="color:rgba(0, 0, 0, 1.0); background-color:transparent; border:none; border-bottom:1px dotted rgba(0, 0, 0, 1.0); border-radius:0; outline:none; height:30px; width:100%; margin:0 0 8px 0; padding:0; font-weight:bold;" value="@ViewBag.monto" />
                                    </td>
                                </tr>
                            </table>
                        </div>
                    </div>
                </td>
                <td></td>
            </tr>
        </tbody>
    </table>
</body>
</html>
