@model IEnumerable<TAT001.Entities.PAI>

@{
    ViewBag.pagina_r = 651;
    ViewBag.carpeta_r = 500;
    //ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<script src="//code.jquery.com/jquery-1.12.4.js"></script>
<script src="//cdn.datatables.net/1.10.16/js/jquery.dataTables.min.js"></script>
<script src="//cdn.datatables.net/1.10.16/js/dataTables.material.min.js"></script>
<link href="~/Content/dataTable.css" rel="stylesheet" />
<link href="//cdn.datatables.net/1.10.16/css/dataTables.material.min.css" rel="stylesheet" />

@*<div class="row">
    <div class="row" style="height:10px;width:100%;">
        <div class="col l7 pink darken-1" style="height:10px;padding:0;"></div>
        <div class="col l3 pink darken-4" style="height:10px;padding:0;">
            <div class="col l3 pink darken-4" style="height:10px;padding:0;"></div>
            <div class="col l8 orange" style="height:10px;padding:0;"></div>
            <div class="col l1 red" style="height:10px;padding:0;"></div>
        </div>
        <div class="col l2 yellow" style="height:10px;padding:0;"></div>
    </div>
</div>*@
@*<p>
    @Html.ActionLink("Nuevo registro", "Create")
</p>*@
<div class="row">
    <div class="card-panel">
        <div class="row" style="margin-bottom:0;">
            <div class="input-field col s3 m3 l3">
                <select id="selecc">
                    <option value="10" selected>10</option>
                    <option value="25">25</option>
                    <option value="50">50</option>
                    <option value="100">100</option>
                </select>
                <label id="btn_length"></label>
            </div>
            <script>
                var elem = document.querySelector('select');
                var options = [];
                var instance = M.FormSelect.init(elem, options);
            </script>
            <div class="input-field col s5 m3 l3 offset-l6 offset-m6 offset-s4">
                <input type="text" class="global_filter" id="global_filter">
                <label for="global_filter" id="lbl_search"></label>
            </div>
        </div>
        <table class="table mdl-data-table striped" id="table" style="width:100%;">
            <thead>
                <tr>
                    <th class="lbl_spras">
                        @Html.DisplayNameFor(model => model.SPRAS)
                    </th>
                    <th class="lbl_land">
                        @Html.DisplayNameFor(model => model.LANDX)
                    </th>
                    <th class="lbl_sociedad">
                        @Html.DisplayNameFor(model => model.SOCIEDAD_ID)
                    </th>
                    <th class="lbl_activo">
                        @Html.DisplayNameFor(model => model.ACTIVO)
                    </th>
                    @*<th class="lbl_actions">
                        SELECCIÓN
                    </th>*@
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    if (item.ACTIVO == true)
                    {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.SPRAS)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.LANDX)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.SOCIEDAD_ID)
                    </td>
                    @if ((bool)item.ACTIVO == true)
                    {
                        <td style="align-items:center"><i class='material-icons green-text'>check</i></td>}
                    else
                    {
                        <td style="align-items:center;"><i class='material-icons red-text'>clear</i></td>}
                    @*<td>
            <a href="@Url.Action("Edit", "Pais", new { id = item.LAND })">
                <i class='material-icons green-text'>edit</i>
            </a>&nbsp
            <a href="@Url.Action("Details", "Pais", new { id = item.LAND })">
                <i class='material-icons blue-text'>search</i>
            </a>&nbsp
            <a data-form-method="post" href="@Url.Action("Delete", "Pais", new { id = item.LAND })">
                <i class='material-icons red-text'>delete</i>
            </a>
        </td>*@
                </tr>
                    }
                }
            </tbody>
        </table>
    </div>
</div>

<script>
    $(document).ready(function () {
        var table = $('#table').DataTable({
            scrollX: "50vh",
            scrollY: "50vh",
            scrollCollapse: true,
            language: {
                "url": "../Scripts/lang/@Session["spras"].ToString()"+".json"
            }, columnDefs: [
                {
                    targets: [1],
                    className: 'mdl-data-table__cell--non-numeric'
                }
            ],
            order: [[0, "asc"]],
            initComplete: function () {
                this.api().columns().every(function () {
                    var column = this;
                    var select = $('<select style="display:initial;" class="browser-default"><option value=""></option></select>')
                        .appendTo($(column.footer()).empty())
                        .on('change', function () {
                            var val = $.fn.dataTable.util.escapeRegex(
                                $(this).val()
                            );
                            column
                                .search(val ? '^' + val + '$' : '', true, false)
                                .draw();
                        });
                    column.cells('', column[0]).render('display').sort().unique().each(function (d, j) {
                        var val = $('<div/>').html(d).text();
                        select.append('<option value="' + val + '">' + val + '</option>');
                    });
                });
            }
        });

        var a = $('#selecc').val();
        table.page.len(a).draw();
        $('#selecc').on('change', function () {
            table.page.len(this.value).draw();
        });

        $('input.global_filter').on('keyup click', function () {
            filterGlobal();
        });

        $('#table tbody').on('click', 'td.details-control', function () {
            var tr = $(this).closest('tr');
            var row = table.row(tr);

            if (row.child.isShown()) {
                // This row is already open - close it
                row.child.hide();
                tr.removeClass('shown');
            }
            else {
                // Open this row
                var child = format(row.data(), row, tr);
                if (child != undefined) {
                }
            }
        });
    });
    function filterGlobal() {
        $('#table').DataTable().search(
            $('#global_filter').val()).draw();
    }
</script>
<style>
    .dataTables_length {
        display: none;
    }

    .dataTables_filter {
        display: none;
    }

    .dataTables_scrollHeadInner, .mdl-data-table {
        width: 100%;
    }
</style>
